<div class="row">
  <div class="cell four">
    <label><span class="label" ><i18n>select.structure</i18n> :  </span></label>
    <structure-drop-down
        hide-if-solo="false"
        is-hidden="structureHidden"
        structure="structure">
    </structure-drop-down>
  </div>
  <div class="cell four">
    <label><span class="label" ><i18n>enseignant</i18n> :  </span></label>  
    <search-drop-down
        items = "filters.teachers"
        place-holder ="Professeur"
        selected-item="teacher"
        show-expression="item.value"
    ></search-drop-down>
  </div>
  <div class="cell four" secure="[[RIGHTS.VISA_ADMIN]]">
    <label><span class="label"><i18n>audience.type.class</i18n> : </span></label>
    <drop-down
        placeholder="select.group.or.class"
        list="filters.audiences"
        selected="audience"
        nullable="true"
        property="value">
    <drop-down>
  </div>
</div>
