<div  class="forheigth habilitation" ng-controller="HabilitationController as habilitationCtrl">
    <h1>
        <a href="" ><i18n>diary.visa.inspect.title</i18n></a>
    </h1>
    <br/>
    <div class="row">
        <div class="twelve">
            <i18n>diary.visa.inspect.description</i18n>
            <br/><br/>
            <i18n>diary.visa.inspect.description2</i18n>
        </div>
    </div>
    <br/>

    <div class="row" ng-if="habilitationCtrl.rended">
        <div class="cell four">
            <label><i18n>select.structure</i18n></label>
            <structure-drop-down
                hide-if-solo="false"
                is-hidden="structureHidden"
                structure="habilitationCtrl.structure">
            </structure-drop-down>
        </div>
        <div class="cell four">
            <label><i18n>diary.visa.inspect.select</i18n></label>
            <diary-drop-down
                placeholder="diary.visa.inspect.select"
                list="habilitationCtrl.filters.inspectors"
                selected="habilitationCtrl.filter.inspector"
                nullable="true"
                property="value">
            </diary-drop-down>
        </div>
        <div class="cell four" ng-if="habilitationCtrl.filter.inspector">
            <label><i18n>diary.visa.inspect.select.teacher</i18n></label>
            <search-drop-down
              items = "habilitationCtrl.filters.teachers"
              place-holder ="enseignant"
              selected-item="habilitationCtrl.filter.teacher"
              show-expression="item.value"
          ></search-drop-down>
          <br/>

          <div class="teacher-list">
              <article ng-repeat="teacher in habilitationCtrl.selectedTeachers | orderBy : value ">
                  [[teacher.value]]
                  <i diary-tooltip="Suprimer" ng-click="habilitationCtrl.removeTeacher(teacher)" class="button-icon cancel-circled cancel-circled"></i>
              </article>
          </div>
        </div>
    </div>

</div>
