/*
Override marging for homeworks display
*/
/* line 7, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container button.previous-timeslots, .diary-container button.next-timeslots {
  left: -3px;
}

/* line 11, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container calendar-daily-events {
  display: none;
  margin-left: 130px !important;
}

/* line 14, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container calendar-daily-events .days .day {
  height: auto;
  min-height: 100px;
}

/* line 20, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container .timeslots {
  display: none;
}

/* line 25, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container.diary-show-calendar .timeslots {
  display: initial;
}

/* line 28, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container.diary-show-calendar .homeworkpanel {
  padding: 0px !important;
}

/* line 34, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container.diary-show-calendar calendar-daily-events .days .day {
  height: 40px;
  min-height: 40px;
  width: calc((100% - 131px) / 7) !important;
}

/* line 43, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container.diary-show-homeworks:not(.diary-show-calendar) .daily-events {
  display: none;
}

/* line 47, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container.diary-show-homeworks calendar-daily-events {
  display: initial;
}

/* line 52, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container.diary-show-homeworks .schedule-item {
  margin-top: 40px;
}

/* line 56, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container.diary-show-homeworks .day .timeslots .timeslot:first-child {
  margin-top: 40px;
}

/* line 61, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container.diary-show-homeworks legend.timeslots {
  margin-top: 100px;
}

/* line 64, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container.diary-show-homeworks .next-timeslots {
  bottom: -20px;
}

/* line 69, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container .schedule .days {
  height: auto;
}

/* line 76, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container .schedule-item {
  margin-top: 0px;
}

/* line 81, C:/Users/A664240/Documents/work/worspace/v1.25/cahier-de-texte/scripts/app/js/common/directives/calendar/calendar.directive.scss */
.diary-container [resizable] {
  transition: none !important;
}