.page-history {
    white-space: nowrap;

    .notification {
        display: flex;
        padding: 0;
        margin-left: 10px;
        margin-bottom: 15px;

        label {
            font-weight: bold;
            text-transform: capitalize;
            font-variant: small-caps;
            font-size: 1.3em;
            letter-spacing: 0.05em;
        }

        .download {
            color: #4bafd5;
            cursor: pointer;
        }

        & > div {
            height: 80px !important;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: space-around;
            padding: 0 10px;

            &:nth-child(1) {
                width: 80px;
            }

            &:nth-child(2) {
                width: calc(100% - (80px+80px));
            }

            &:nth-child(3) {
                width: 80px;
            }
        }

        .history-detail-icon {
            i {
                padding-right: 0;
            }
        }
    }

    .filter {
        margin-bottom: 25px;
        margin-left: 10px;
    }

    .thumbnail {
        font-size: 1em;
        width: 70%;
    }

    .summary {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 30%;
        font-size: 1em;

        i {
            margin-left: 10px;
            position: relative;
            top: -15px;
            font-size: 1em;
        }
    }
}
