<div>
    <div>
        <a href="#" ng-click="progressionRightPanelCtrl.selected='main'" class="pedagogic-day-card selected">

            <div class="thumbnail thumb-selected">
                <i class="day-card-icon left-open cahier-textes2 table-cell-left"></i>
            </div>
            <div class="summary sum-selected">
                <span>[[progressionRightPanelCtrl.progressionSelected.level]] - [[progressionRightPanelCtrl.progressionSelected.title]]</span>
                <span class="right">
                    [[progressionRightPanelCtrl.progressionSelected.nbLessons]]<i class="day-card-icon card-icon-selected cahier-textes2 table-cell-left"></i>
                </span>
            </div>
        </a>
    </div>
    <div class="content content-lesson scrollbar-fine">
        <div class="lesson-item"
            ng-repeat="lesson in progressionRightPanelCtrl.progressionSelected.lessonItems |  filter :{ title: progressionRightPanelCtrl.filterLesson } | orderBy:'orderIndex'"
            dragstart="progressionRightPanelCtrl.drag(lesson, $originalEvent)"
            dragcondition="progressionRightPanelCtrl.dragCondition(lesson)"
            dropcondition="progressionRightPanelCtrl.dropCondition(lesson)"

            >
            <article class="twelve cell" ng-style="{'background-color' : lesson.color}">
                <div>
                    [[lesson.title]]
                    <div class="right">
                        &nbsp;
                        <span>
                            [[lesson.homeworks.all.length]]
                            <!--card-icon-selected-->
                            <i class="day-card-icon  rack2 table-cell-left" ></i>
                        </span>
                    </div>
                </div>
            </article>
        </div>
    </div>
</div>
