.progressiontype {
    .search-progression{
        background-color: #ddd;
        button{
            width:26px;
            height: 26px;
            padding : 0px;
            margin-right: 5px;
            i{
                font-size: 1.6em;
                padding:0px;
            }
        }
        input{
            width : calc(100% - 45px;);
        }
    }


    .content {
        float: left;
        height: 422px;
        overflow-y: auto;
        overflow-x: hidden;
        padding-top: 8px;
        width: 100%;
        &.content-lesson{
          height: 378px;
        }
        a {
            &:hover {
                article {
                    border-left: 4px solid #FF8500;
                }
            }
            article {
                transition: border-left 0.1s;
                padding: 10px;
            }
        }
    }
    .lesson-item{
      margin-left: 5px;
      margin-right: 5px;
      color : white;
      &:hover{
        opacity: 0.8;
      }
    }
    .pedagogic-day-card{
      position: relative;
      height: 42px;
      &:hover{
        opacity: 0.8;
      }
      .thumbnail{
        box-sizing: border-box;
        padding : 6px 0px;
        font-size: 0.8em;
        width : 22px;
      }
      .summary{
        padding : 9px 4px 9px 6px;
        color:white;
        font-size: 0.75em;
        width:calc(100% - 22px);
      }
    }
}

.contener-slide{
  position: relative;
  float:left;
  width: 100%;
  overflow: hidden;
  height: 402px;
  .slide{
    top :0px;
    transition: left .3s;
    position: absolute;
    float : left;
    left : 0%;
    width:100%;
    &.left-slide{
      left : -100%;
    }
    &.right-slide{
      left : 100%
    }
  }
}
