<div class="content scrollbar-fine">
    <a href="" ng-repeat="index in progressionRightPanelCtrl.array" ng-click="progressionRightPanelCtrl.selected='detail'">
        <article class="twelve cell" >
            <div>
                Produit en stock
                <div class="right">
                    [[index]]
                    <!--card-icon-selected-->
                    <i class="day-card-icon  rack2 table-cell-left"></i>
                </div>
            </div>
    </article>
    </a>
</div>
