/build
/bin
.DS_Store
.classpath
.project
/.gradle
/.settings
.jshintrc
/.idea
/node_modules
*.iml
/dist
bower_components
node_modules
.bowerrc
yarn-error.log
/src/.vscode
src/main/resources/view/
src/main/resources/public/dist
src/main/resources/public/js
src/main/resources/public/view
src/main/resources/template/entcore
src/main/resources/public/template/entcore/
rev-manifest.json
package-lock.json
error.log
/src/main/resources/public/sass/global/develop/entcore-css-lib/