<div class="diary-container diary-show-calendar"
     ng-class="{'diary-show-homeworks': display.homeworks && calendar.increment !== 'month',
     'calendar-day-mode': calendar.increment === 'day'}">

    <!-- Loader calendrier -->
    <loader data-ng-show="isRefreshingCalendar" min-height="'250px'"></loader>

    <!-- Calendar -->
    <div class="row" ng-class="{'hide-session':!display.sessions}" ng-show="!isRefreshingCalendar">

        <!-- Calendar homework -->
        <div class="homeworks-row" ng-show="calendar.increment != 'month'">
            <div class="timeslot ng-binding ng-scope">
                <i18n>Homeworks</i18n>
            </div>
            <calendar-daily-events for="calendar" b-show-calendar="display.bShowCalendar"
                                   b-show-homeworks-minified="display.bShowHomeworksMinified"
                                   ng-model="dailyHomeworks">
            </calendar-daily-events>
        </div>

        <!-- Calendar view -->
        <div id="calendar-view" class="twelve calendar-container"
             ng-class="{'margin-container': calendar.increment !== 'month'}">
            <calendar enable-display-modes="true"
                      readonly="false"
                      display-template="main/calendar-week-item"
                      display-month-template="main/calendar-month-item"
                      items="calendarItems"
                      slots="timeSlot.slots"
                      show-next-previous-button="true">
            </calendar>
            <!-- tooltip triggered if you hover session/homework/emptySession -->
            <!-- (see calendar-week-item.html || calendar-view.ts) for method ng-mouseenter and ng-mouseleave on hover -->
            <calendar-tooltip></calendar-tooltip>
        </div>
    </div>
</div>
