<div class="diary-container diary-show-calendar"
     ng-class="{'diary-show-homeworks': display.homeworks && calendar.increment !== 'month', 'calendar-day-mode': calendar.increment === 'day'}">
    <!-- Loader calendrier -->
    <div id="loader-calendar" ng-show="isRefreshingCalendar" class="overlay-loader-calendar">
        <div class="loader"></div>
    </div>
    <div class="row" ng-class="{'hide-session':!display.sessions}">
        <calendar-daily-events for="calendar" b-show-calendar="display.bShowCalendar"
                               b-show-homeworks-minified="display.bShowHomeworksMinified" ng-model="dailyHomeworks" ng-show="time_slot.list">
        </calendar-daily-events>
        <div id="calendar-view" class="twelve calendar-container">
            <calendar
                    enable-display-modes="true"
                    display-template="main/calendar-week-item"
                    display-month-template="main/calendar-month-item"
                    items="calendarItems"
                    slots="time_slot.list"
                    item-tooltip-template="main/course-tooltip"
                    show-next-previous-button="true"
                    ng-show="time_slot.list.length > 0">
            </calendar>
        </div>
    </div>
</div>
