<div ng-if="item.pedagogicType == TYPE_HOMEWORK" ng-click="goTo('/homework/update/' + item.id)"
     class="schedule-item-content "  ng-style="{'background-color': item.color}">
    <div><i class="icon rack2"></i> [[item.subject.label]]</div>
    <div>[[item.audience.name]]</div>
    <div>([[item.type.label]])</div>
</div>

<div ng-if="item.pedagogicType == TYPE_SESSION" ng-click="goTo('/session/update/' + item.id)"
     class="schedule-item-content TYPE_SESSION" ng-style="{'background-color': item.color}"
     lvl-draggable
     lvl-drop-target  on-drop="dropped(dragEl, dropEl)">
    <span ng-show="false">[[item.id]]</span>

    <div><i class="icon cahier-textes2"></i> [[item.subject.label]]</div>
    <div>[[item.audience.name]]</div>
</div>

<div ng-if="item.pedagogicType == TYPE_COURSE" ng-click="openSessionFromCourse(item)"  class="schedule-item-content bg-lightgrey TYPE_COURSE"
     lvl-drop-target  on-drop="dropped(dragEl, dropEl)">
    <span ng-show="false">[[item._id]]</span>
    <span ng-show="false">[[item.startDisplayDate]]</span>
    <div><i class="icon cahier-textes2"></i> [[item.subject.label]]</div>
    <em class="metadata">
        <span ng-repeat="audience in item.audiences">[[audience.name]]</span>
    </em>
</div>