<div ng-if="item.pedagogicType == TYPE_SESSION" ng-click="openSession(item.id)"
     class="schedule-item-content" ng-style="{'background-color': item.color}">
    <div class="week-item">
        <div class="left-side">
            <div class="text-ellipsis overflow-hidden">[[item.startDisplayTime]]&nbsp;[[item.subject.label]]</div>
            <div class="text-ellipsis overflow-hidden">[[item.endDisplayTime]]&nbsp;[[item.audience.name]]</div>
        </div>
        <div class="right-side text-center">
            <i ng-if="item.state === 'draft'">&#xe858;</i>
            <div ng-if="item.homeworks.length > 0" class="row">[[item.homeworks.length]] <i>&#xe80d;</i></div>
        </div>
    </div>
</div>

<div ng-if="item.pedagogicType == TYPE_COURSE" ng-click="openSession(item._id, true)" class="schedule-item-content bg-lightgrey pointer">
    <div>[[item.startDisplayTime]] &nbsp; [[item.subjectLabel]]</div>
    <div>
        [[item.endDisplayTime]] &nbsp;
        <em class="metadata">
            <span ng-repeat="className in item.classes">[[className]]</span>
            <span ng-repeat="groupName in item.groups">[[groupName]]</span>
        </em>
    </div>
</div>