<div ng-if="item.pedagogicType == TYPE_HOMEWORK" ng-click="goTo('/homework/update/' + item.id)"
     class="schedule-item-content"  ng-style="{'background-color': item.color}">
    <div><i class="icon rack2"></i> [[item.subject.label]]</div>
    <div>[[item.audience.name]]</div>
    <div>([[item.type.label]])</div>
</div>

<div ng-if="item.pedagogicType == TYPE_SESSION" ng-click="goTo('/session/update/' + item.id)"
     class="schedule-item-content" ng-style="{'background-color': item.color}">
    <div><i class="icon cahier-textes2"></i> [[item.subject.label]]</div>
    <div>[[item.audience.name]]</div>
</div>

<div ng-if="item.pedagogicType == TYPE_COURSE" ng-click="calendarUpdateItem(item)" class="schedule-item-content bg-lightgrey">
    <div><i class="icon cahier-textes2"></i> [[item.subjectLabel]]</div>
    <em class="metadata">
        <span ng-repeat="className in item.classes">[[className]]</span>
        <span ng-repeat="groupName in item.groups">[[groupName]]</span>
    </em>
</div>