<div ng-if="item.itemType == ITEM_HOMEWORK" ng-click="calendarUpdateItem(item)" class="schedule-item-content [[item.color]]">
    <div>[[item.subject.label]]</div>
    <div>[[item.audience.name]]</div>
    <div>([[item.type.label]])</div>
</div>

<div ng-if="item.itemType == ITEM_SESSION" ng-click="calendarUpdateItem(item)" class="schedule-item-content [[item.color]]">
    WWWWWWWW
    <div class="cell twelve ellipsis">[[item.subjectLabel]]</div>
    <em class="metadata">
        <span ng-repeat="className in item.classes">[[className]]</span>
        <span ng-repeat="groupName in item.groups">[[groupName]]</span>
    </em>
</div>