<div ng-if="item.pedagogicType == TYPE_SESSION"  ng-click="openSession(item.id)"
     class="schedule-item-content session TYPE_SESSION" ng-style="{'background-color': item.color}"
     lvl-draggable
     lvl-drop-target  on-drop="dropped(dragEl, dropEl)">
    <span ng-show="false">[[item.id]]</span>
    <div class="cell nine text-item">
        <div ng-if="item.exceptionnal" class="text-ellipsis overflow-hidden">
                        [[item.startDisplayTime]]&nbsp;[[item.exceptionnal]]
        </div>
        <div ng-if="!item.exceptionnal" class="text-ellipsis overflow-hidden">
            [[item.startDisplayTime]]&nbsp;[[item.subject.label]]
        </div>
        <div class="text-ellipsis overflow-hidden">
            [[item.endDisplayTime]]&nbsp;[[item.audience.name]]
        </div>
    </div>
    <div class="cell three" ng-if="item.homeworks.length > 0 && !item.is_empty">
        <span class="pull-right homework-item text-center">
            <i class="icon-homework homework"></i>
            <br>
            <span>[[item.homeworks.length]] </span>
            <i class="margin-left-sm"
               ng-click="publishSession(item,$event)"
               ng-if="!item.isPublished"
               tooltip="utils.publish">&#xe904;</i>
        </span>
    </div>
</div>

<div ng-if="item.pedagogicType == TYPE_COURSE" ng-click="openSessionFromCourse(item)" class="schedule-item-content bg-lightgrey TYPE_COURSE pointer session "
      lvl-drop-target  on-drop="dropped(dragEl, dropEl)">
    <span ng-show="false">[[item._id]]</span>
    <span ng-show="false">[[item.startDisplayDate]]</span>

    <div class="twelve text-item">
        <div ng-if="item.exceptionnal" class="text-ellipsis overflow-hidden">
            [[item.startDisplayTime]]&nbsp;[[item.exceptionnal]]
        </div>
        <div ng-if="!item.exceptionnal" class="text-ellipsis overflow-hidden">
            [[item.startDisplayTime]]&nbsp;[[item.subject.label]]
        </div>
        <div class="text-ellipsis overflow-hidden">
            [[item.endDisplayTime]]&nbsp;
            <span class="text-ellipsis overflow-hidden"><span ng-repeat="audience in item.audiences.all">[[audience.name]]<span ng-if="!$last">, </span></span></span>
        </div>
    </div>
</div>