<div ng-if="item.pedagogicType == TYPE_SESSION" data-ng-click="openSession(item.id)"
     class="flex-row-cdt row__6 schedule-item-content session TYPE_SESSION" ng-style="{'background-color': item.color}"
     data-ng-mouseenter="hoverCalendarItem($event, item)"
     data-ng-mouseleave="hoverOutCalendarItem()"
     lvl-draggable
     lvl-drop-target on-drop="dropped(dragEl, dropEl)">

    <!-- course item info -->
    <div class="margin-left-sm flex-col flex-row-cdt" ng-class="item.homeworks.length > 0 && !item.is_empty ? 'col__4': 'col__5' ">
        <div class="flex-row-cdt row__6" ng-if="item.exceptionnal">
            <div class="flex-col col__4">[[item.exceptionnal]]</div>
        </div>
        <div class="flex-row-cdt row__6" ng-if="!item.exceptionnal">
            <div class="flex-col subject">[[item.subject.label]]</div>
        </div>
        <div class="flex-row-cdt row__6 audience">
            <div class="flex-col col__4">[[item.audience.name]]</div>
            <i class="flex-col col__1 justified-content-end publish-icon invisible"
               ng-click="publishSession(item,$event)"
               ng-if="!item.isPublished"
               tooltip="utils.publish"></i>
        </div>
    </div>

    <!-- homework side -->
    <div class="flex-col col__1 homework-item" ng-if="item.homeworks.length > 0 && !item.is_empty">
        <span class="text-center">

            <!--If unpublished and published homeworks-->
            <div ng-if="getCountUnpublishedHomeworks(item.homeworks) > 0 && getCountPublishedHomeworks(item.homeworks) > 0">
                <span>[[getCountPublishedHomeworks(item.homeworks)]] </span>
                <i class="margin-left-sm homework"></i>
            <br>
                <span>[[getCountUnpublishedHomeworks(item.homeworks)]] </span>
                <i class="margin-left-sm invisible"
               ng-click="publishHomework(item,$event)"
               tooltip="utils.publish"></i>
            </div>

            <!--If only unpublished homeworks-->
            <div ng-if="getCountUnpublishedHomeworks(item.homeworks) > 0 && getCountPublishedHomeworks(item.homeworks) === 0">
                <i class="invisible icon-homework"
                   ng-click="publishHomework(item,$event)"
                   tooltip="utils.publish"></i>
                <br>
                <span>[[getCountUnpublishedHomeworks(item.homeworks)]] </span>
            </div>

            <!--If only published homeworks-->
            <div ng-if="getCountPublishedHomeworks(item.homeworks) > 0 && getCountUnpublishedHomeworks(item.homeworks) === 0">
                <i class="icon-homework homework"></i>
                <br>
                <span>[[getCountPublishedHomeworks(item.homeworks)]] </span>
            </div>

        </span>
    </div>
    <span ng-show="false">[[item.id]]</span>
</div>

<div ng-if="item.pedagogicType == TYPE_COURSE" data-ng-click="openSessionFromCourse(item)"
     class="schedule-item-content bg-lightgrey TYPE_COURSE pointer session "
     lvl-drop-target on-drop="dropped(dragEl, dropEl)">
    <span ng-show="false">[[item._id]]</span>

    <div class="margin-left-sm twelve text-item">
        <div ng-if="item.exceptionnal" class="text-ellipsis overflow-hidden">
            [[item.exceptionnal]]
         </div>
         <div ng-if="!item.exceptionnal" class="text-ellipsis overflow-hidden">
             [[item.subject.label]]
         </div>
         <div class="text-ellipsis overflow-hidden">
            <span class="text-ellipsis overflow-hidden">
                <span ng-repeat="audience in item.audiences.all">[[audience.name]]
                    <span ng-if="!$last">, </span>
                </span>
            </span>
        </div>
    </div>
</div>
