<div class="list-view">
    <div class="row card padding-md margin-bottom-md">
        <i18n>period.from</i18n>
        <date-picker ng-model="filters.startDate" ng-change="syncPedagogicItems();" class="date-picker-sm"></date-picker>
        <i18n>to</i18n>
        <date-picker ng-model="filters.endDate" ng-change="syncPedagogicItems();" class="date-picker-sm"></date-picker>
    </div>
    <section>
        <div class="pedagogic-day-container">
            <ul>
                <li ng-repeat="day in pedagogicDays | orderBy : 'shortDate' ">
                    <div ng-class="day.selected ? 'pedagogic-day-card selected' : 'pedagogic-day-card'" class="text-center" ng-click="selectPedagogicDay(day)">
                        <div class="six zero-mobile" ng-class="day.selected ? 'thumbnail thumb-selected' : 'thumbnail'">
                            <span class="zero-tablet">[[day.dayName]]</span>
                            <span class="five-tablet">[[day.shortDayName]]</span>
                        </div>
                        <div class="six seven-tablet twelve-mobile" ng-class="day.selected ? 'summary sum-selected' : 'summary'">
                            <div class="padding-sm six">[[day.shortDate]]</div>
                            <div class="padding-sm six">
                                <div>
                                    <i ng-class="day.selected ? 'day-card-icon card-icon-selected rack2 table-cell-left' : 'day-card-icon rack2 table-cell-left'"></i> [[day.nbHomework]]
                                </div>
                                <div>
                                    <i ng-class="day.selected ? 'day-card-icon card-icon-selected cahier-textes2 table-cell-left' : 'day-card-icon cahier-textes2 table-cell-left'"></i> [[day.nbCourseAndSession]]
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pedagogic-item-container">
            <div class="list-pedagogic-item-card">
                <ul>
                    <li ng-repeat="pedagogicItem in selectedPedagogicDay.pedagogicItems | pedagogicItemFilter: display.sessions:display.homeworks"
                        static-include="/diary/public/template/main/list-pedagogic-item.html"
                        class="card pedagogic-item-card padding-md margin-bottom-md">
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>
