<!-- Session and Course -->
<div ng-if="pedagogicItem.pedagogicType == TYPE_SESSION || pedagogicItem.pedagogicType == TYPE_COURSE">
    <div class="list-view-item">
        <i ng-click="openSession(pedagogicItem.id)">&#xe8aa;</i>
        <div class="content">
            <!-- Subject, Audience and Teacher-->
            <div class="row">
                <b>[[pedagogicItem.subject.label]] &nbsp; [[pedagogicItem.audience.name]]</b> &nbsp; [[pedagogicItem.teacher.firstName]] [[pedagogicItem.teacher.lastName]]
            </div>
            <!-- Type -->
            <div class="row medium-importance">
                <i>&#xe910;</i> <i18n>session</i18n> [[pedagogicItem.startDisplayTime]] - [[pedagogicItem.endDisplayTime]]
            </div>
            <!-- Description -->
            <div class="row" ng-click="pedagogicItem.opened = !pedagogicItem.opened" ng-if="pedagogicItem.description">
                <div ng-if="!pedagogicItem.opened" class="description-preview">[[pedagogicItem.plainTextDescription]]</div>
                <div ng-if="pedagogicItem.opened" class="read-only-description" bind-html="pedagogicItem.description"></div>
            </div>
        </div>
    </div>
    <div class="padding-sm">
        <div class="list-view-item card padding-sm" ng-repeat="homework in pedagogicItem.homeworks">
            <i ng-click="openHomework(homework.id)">&#xe8aa;</i>
            <div class="content">
                <!-- Type -->
                <div class="row medium-importance">
                    <i>&#xe80d;</i> [[homework.type.label]]
                </div>
                <!-- Description -->
                <div class="row" ng-click="homework.opened = !homework.opened">
                    <div ng-if="!homework.opened" class="description-preview">[[homework.plainTextDescription]]</div>
                    <div ng-if="homework.opened" class="read-only-description" bind-html="homework.description"></div>
                </div>
            </div>
            <div class="right-side" workflow="diary.setProgressHomework">
                <div class="text-center">
                    <div class="homework-progress" static-include="/diary/public/template/homework/homework-set-progress.html"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Homework -->
<div class="list-view-item" ng-if="pedagogicItem.pedagogicType == TYPE_HOMEWORK">
    <i ng-click="openSession(pedagogicItem.id)">&#xe8aa;</i>
    <div class="content">
        <!-- Subject, Audience and Teacher-->
        <div class="row">
            <b>[[pedagogicItem.subject.label]] &nbsp; [[pedagogicItem.audience.name]]</b> &nbsp; [[pedagogicItem.teacher.firstName]] [[pedagogicItem.teacher.lastName]]
        </div>
        <!-- Type -->
        <div class="row medium-importance">
            <i>&#xe80d;</i> [[pedagogicItem.type.label]]
        </div>
        <!-- Description -->
        <div class="row" ng-if="pedagogicItem.description" ng-click="pedagogicItem.opened = !pedagogicItem.opened">
            <div ng-if="!pedagogicItem.opened" class="description-preview">[[homework.plainTextDescription]]</div>
            <div ng-if="pedagogicItem.opened" class="read-only-description" bind-html="pedagogicItem.description"></div>
        </div>
    </div>
    <div class="right-side" workflow="diary.setProgressHomework">
        <div class="text-center">
            <div class="homework-progress"  ng-init="homework = pedagogicItem" static-include="/diary/public/template/homework/homework-set-progress.html"></div>
        </div>
    </div>
</div>