<div class="sidebar ">

    <div class="row">
        <section id="display-section" class="cell twelve">
            <h5 class="large">
                <i18n>sidebar.display_mode</i18n> :
            </h5>
            <div class="row" ng-if="hasBothViewMode()">
                <label class="cell twelve small">
                    <span class="float-left"><i18n>calendar</i18n></span>
                    <switch ng-model="display.listView" ng-click="display.listView = !display.listView"></switch>
                    <i18n>list</i18n>
                </label>
            </div>
            <div class="row margin-bottom-md">
                <div class="magic-checkbox" ng-click="display.homeworks = !display.homeworks">
                    <label>
                        <input type="checkbox" ng-model="display.homeworks"/>
                        <i class="pointer input-helper"></i>
                        <span class="small pointer"><i18n>homeworks</i18n></span>
                    </label>
                </div>
            </div>
            <!--<div class="row margin-bottom-md">-->
                <!--<div class="magic-checkbox" ng-click="display.sessions = !display.sessions">-->
                    <!--<label>-->
                        <!--<input type="checkbox" ng-model="display.sessions"/>-->
                        <!--<i class="pointer input-helper"></i>-->
                        <!--<span class="small pointer"><i18n>session</i18n></span>-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
            <div ng-if="structures.all.length > 1">
                <select ng-model="structure"
                        id="structure-list"
                        class="twelve"
                        ng-change="switchStructure(structure)"
                        ng-options="structure as structure.name for structure in structures.all">
                    <option value="" disabled selected>[[translate('utils.structure.choose.one')]]</option>
                </select>
            </div>
            <!-- View Child -->
            <div workflow="diary.readChildren">
                <select ng-model="params.child"
                        class="twelve"
                        ng-change="params.group = null;params.user = null;syncPedagogicItems()"
                        ng-options="child as child.displayName for child in structure.students.all track by child.id">
                    <option value="" disabled selected>[[translate('utils.child.choose.one')]]</option>
                </select>
            </div>

            <!-- View External -->
            <div workflow="diary.viewExternal">
                <div class="row display-inline-block">
                    <label class="cell twelve small" for="user-list">
                        <select ng-model="params.user"
                                id="user-list"
                                class="twelve"
                                ng-change="params.group = null;syncPedagogicItems()"
                                ng-options="teacher as teacher.displayName for teacher in structure.teachers.all track by teacher.id">
                            <option value="" disabled selected>[[translate('utils.teacher.choose.one')]]</option>
                        </select>
                    </label>
                </div>
                <div class="row display-inline-block">
                    <label class="cell twelve small" for="user-list">
                        <select ng-model="params.group"
                                id="group-list"
                                class="twelve"
                                ng-change="params.user = null;syncPedagogicItems()"
                                ng-options="audience as audience.name for audience in structure.audiences.all track by audience.id">
                            <option value="" disabled selected>[[translate('utils.group.choose.one')]]</option>
                        </select>
                    </label>
                </div>
            </div>
        </section>
    </div>
    <section id="add-section" class="row" ng-if="hasAtLeastOneCreateRight()">
        <div class="cell twelve ">
            <h5 class="large">
                <i18n>utils.add</i18n> :
            </h5>
            <div class="row cell">
                <div class="twelve cell small">
                    <button workflow="diary.createHomework" class="twelve padding-sm" ng-click="goTo('/homework/create/')">
                        <i18n>homework.create</i18n>
                    </button>
                    <br/>
                    <button workflow="diary.createLesson" class="twelve padding-sm" ng-click="goTo('/session/create/')">
                        <i18n>session.create</i18n>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>
