<article class="sidebar ">
    <section id="display-section" class="twelve">
        <div ng-if="hasListRight()">
            <div>
                <h5 class="large cell eleven">
                    <i18n>sidebar.display_mode</i18n>
                </h5>
                <!-- Legend -->
                <i class="large help one cell margin-top-Botton-md" ng-if="!display.listView"
                   tooltip="[[translate('help')]]" ng-click="setLegendLightboxVisible(true)"></i>
            </div>

            <label class="cell twelve text-xl margin-bottom-md">
                <i tooltip="calendar"
                   class="margin-sm"
                   ng-class="display.listView ? 'opacity-icon' : 'selected'"
                   ng-click="changeViewCalendar()">&#xe8b3;</i>
                <i tooltip="list"
                   class="margin-sm"
                   ng-class="display.listView ? 'selected' : 'opacity-icon'"
                   ng-click="changeViewList()"
                   ng-model="display.listView">&#xe8b8;</i>

            </label>

        </div>
        <!--<div class="row margin-bottom-md" ng-if="display.listView">-->
        <!--<i18n>period.from</i18n>-->
        <!--<date-picker ng-model="filters.startDate" ng-change="syncPedagogicItems();"-->
        <!--class="date-picker-sm"></date-picker>-->
        <!--<br/>-->
        <!--<i18n>to</i18n>-->
        <!--<date-picker ng-model="filters.endDate" ng-change="syncPedagogicItems();"-->
        <!--class="date-picker-sm"></date-picker>-->
        <!--</div>-->

        <div class="row margin-bottom-md" ng-show="display.listView">

            <label class="cursorPointer">
                <input type="radio" ng-model="display.sessionList" ng-value="true">
                <i18n>session</i18n>
            </label><br/>
            <label class="cursorPointer">
                <input type="radio" ng-model="display.sessionList" ng-value="false">
                <i18n>homeworks</i18n>
            </label>  <i ng-if="isAChildOrAParent" data-ng-click="display.homeworksFilter = !display.homeworksFilter" ng-class="display.homeworksFilter ? 'up-open' : 'down-open'" class="right-magnet"></i>
            <div class="row" ng-if="display.homeworksFilter && isAChildOrAParent" >
                <div class="ten right-magnet" ng-click="display.todo = !display.todo">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="display.todo"/>
                        <span><i18n>todo</i18n></span>
                    </label>
                </div>
                <div class="ten right-magnet" ng-click="display.done = !display.done">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="display.done"/>
                        <span><i18n>done</i18n></span>
                    </label>
                </div>
            </div>
        </div>


        <div class="row margin-bottom-md" ng-show="!display.listView">
            <div ng-click="display.homeworks = !display.homeworks">
                <label class="checkbox">
                    <input type="checkbox" ng-model="display.homeworks"/>
                    <span><i18n>homeworks</i18n></span>
                </label>
                <div ng-click="display.sessions = !display.sessions">
                    <label class="checkbox">
                        <input type="checkbox" ng-model="display.sessions">
                        <span><i18n>session</i18n></span>
                    </label>
                </div>
            </div>
            <div ng-if="structures.all.length > 1">
                <select ng-model="structure"
                        id="structure-list"
                        class="twelve"
                        ng-change="switchStructure(structure)"
                        ng-options="structure as structure.name for structure in structures.all">
                    <option value="" disabled selected>[[translate('utils.structure.choose.one')]]</option>
                </select>
            </div>


            <!-- Access Own Data -->

            <!-- Access Child Data -->
            <div workflow="diary.accessChildData">
                <select ng-model="params.child"
                        class="twelve"
                        ng-change="params.group = null;params.user = null;syncPedagogicItems()"
                        ng-options="child as child.displayName for child in structure.students.all track by child.id">
                    <option value="" disabled selected>[[translate('student.choose')]]</option>
                </select>
            </div>

            <!-- Access External Data -->
            <div class="margin-top-lg" workflow="diary.accessExternalData">
                <div class="row display-inline-block">
                    <label class="cell twelve small" for="user-list">
                        <select ng-model="params.user"
                                id="user-list"
                                class="twelve"
                                ng-change="params.group = null;syncPedagogicItems()"
                                ng-options="teacher as teacher.displayName for teacher in structure.teachers.all track by teacher.id">
                            <option value="" disabled selected>[[translate('utils.teacher.choose.one')]]</option>
                        </select>
                    </label>
                </div>
                <div class="row display-inline-block">
                    <label class="cell twelve small" for="user-list">
                        <select ng-model="params.group"
                                id="group-list"
                                class="twelve"
                                ng-change="params.user = null;syncPedagogicItems()"
                                ng-options="audience as audience.name for audience in structure.audiences.all track by audience.id">
                            <option value="" disabled selected>[[translate('utils.group.choose.one')]]</option>
                        </select>
                    </label>
                </div>
            </div>
        </div>
    </section>


    <section class="cell twelve" ng-if="typeUser ==='ENSEIGNANT'" ng-show="!display.listView">
        <div class="row">

            <h5 class="large">
                <i18n>progression</i18n>
                <i class="large one cell right-magnet progression-settings" tooltip="Accéder aux progressions" ng-click="goTo('/progressions/view')" ></i>

            </h5>
        </div>
        <div class="row">
            <input ng-change="filterProgression(search)"
                   class="progression-search cell twelve"
                   type="text"
                   ng-model="search"
                   placeholder="Rechercher">

            <ul ng-if=" search && search!= '' " class="selectable-list progression-list">
                <li ng-repeat="progression in progressionsToDisplay.all track by $index"
                    class="progression-item-scrollable eleven progression-item-draggable "
                    lvl-draggable="true">
                    [[progression.title]]
                    <span ng-show="false">[[progression.id]]</span>
                    <span ng-show="false">[[progression.progression_homeworks.length]]</span>
                    <span ng-if="progression.class && progression.class != ''">([[progression.class]])</span>
                </li>
            </ul>
        </div>
    </section>

    <section id="add-section" class="row" ng-if="hasAtLeastOneCreateRight()">
        <div class="cell twelve ">
            <h5 class="large" ng-click="display.add = !display.add">
                <i18n>utils.add</i18n>
                <i ng-class="display.add ? 'up-open' : 'down-open'" class="right-magnet"></i>
            </h5>
            <div class="row" ng-show="display.add">
                <div class="twelve cell small">
                    <button workflow="diary.manageHomework" class="twelve padding-sm cancel" ng-click="goTo('/homework/create/')">
                        <i18n>homework</i18n>
                    </button>
                    <br/>
                    <button workflow="diary.manageSession" class="twelve padding-sm cancel" ng-click="goTo('/session/create/')">
                        <i18n>session</i18n>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="row" workflow="diary.adminAccess">
        <div class="cell twelve">
            <button class="twelve padding-sm" ng-click="goTo('/administrator/global')">
                <i18n ng-if="typeUser ==='ENSEIGNANT'">sessions.admin.button.goTo2</i18n>
                <i18n ng-if="typeUser !='ENSEIGNANT'">sessions.admin.button.goTo</i18n>
            </button>
        </div>
    </section>

</article>
<lightbox show="legendLightboxIsVisible" on-close="setLegendLightboxVisible(false);">
    <container template="infoBulleTemplate"></container>
</lightbox>
