<article class="sidebar remove-padding">

    <!-- Titre/En-tête Mode d'affichage -->
    <div class="row title-sidebar padding-left-md padding-right-md">
        <h5 class="large cell twelve" workflow="diary.listView">
            <i18n>sidebar.display_mode</i18n>
            <!-- Legend -->
            <i class="large help one cell right-magnet" ng-if="!display.listView"
               tooltip="[[translate('help')]]" ng-click="setLegendLightboxVisible(true)"></i>
        </h5>
    </div>
    <!-- Bloc Mode d'affichage -->
    <section id="display-section" class="cell twelve padding-left-md padding-bottom-sm padding-top-sm">
        <div workflow="diary.accessChildData">
            <select ng-model="params.child"
                    class="twelve"
                    ng-change="params.group = null;params.user = null;syncPedagogicItems()"
                    ng-options="child as child.displayName for child in structure.students.all track by child.id">
                <option value="" disabled>[[translate('student.choose')]]</option>
            </select>
        </div>

        <label workflow="diary.listView" class="cell twelve margin-bottom-md">
                <span class="six diary-choice-view">
                    <div ng-include="'/diary/public/img/calendaire.svg'"
                         class="margin-sm cursorPointer"
                         ng-class="display.listView ? 'opacity-icon' : 'selected'"
                         ng-click="changeViewCalendar()"></div>
                    <i18n>calendar</i18n>
                </span>
            <span class="six diary-choice-view">
                    <div ng-include="'/diary/public/img/liste.svg'"
                         class="margin-sm cursorPointer"
                         ng-class="display.listView ? 'selected' : 'opacity-icon'"
                         ng-click="changeViewList()"
                         ng-model="display.listView"></div>
                    <i18n>list</i18n>
                </span>
        </label>
    </section>

    <!-- Titre/En-tête Progression -->
    <div ng-if="typeUser ==='ENSEIGNANT'" class="row title-sidebar padding-left-md padding-right-md">
        <h5 class="large cell twelve">
            <i18n>progressions</i18n>
            <div ng-include="'/diary/public/img/' + (showProgression ? 'plus.svg' : 'moins.svg')"
                 class="large one cell right-magnet close-bloc cursorPointer"
                 ng-click="changeShowProgression()"></div>
        </h5>
    </div>
    <!-- Bloc Progression -->
    <section class="cell twelve padding-md" ng-if="typeUser ==='ENSEIGNANT'" ng-show="!display.listView">
        <div class="row">
            <input ng-change="filterProgression(search)"
                   class="progression-search cell twelve"
                   type="text"
                   ng-model="search"
                   placeholder="Rechercher">

            <ul ng-if=" search && search!= '' " class="selectable-list progression-list">
                <li ng-repeat="progression in progressionsToDisplay.all track by $index"
                    class="progression-item-scrollable progression-item-draggable "
                    lvl-draggable="true">
                    [[progression.title]]
                    <span ng-show="false">[[progression.id]]</span>
                    <span ng-show="false">[[progression.progression_homeworks.length]]</span>
                    <span ng-if="progression.class && progression.class != ''">([[progression.class]])</span>
                </li>
            </ul>
        </div>
    </section>
</article>
<lightbox show="legendLightboxIsVisible" on-close="setLegendLightboxVisible(false);">
    <container template="infoBulleTemplate"></container>
</lightbox>
