<div class=" vertical-spacing">
    <span class="help-color-bloc" style="background-color: lightgrey"></span>
    <span><i18n>session.official</i18n></span>
</div>
<div class=" vertical-spacing">
    <span class="help-color-bloc" style="background-color: green"></span>
    <span><i18n>session.officialUpdate</i18n></span>
</div>
<div class=" vertical-spacing">
    <span class="help-color-bloc" style="background-color: grey"></span>
    <span><i18n>session.punctual</i18n></span>
</div>
<div class=" vertical-spacing">
    <i>&#xe904;</i>
    <span><i18n>session.not.published</i18n></span>
</div>
<div class=" vertical-spacing">
    <i>&#xe80d;</i>
    <span><i18n>homework</i18n></span>
</div>
<div class=" vertical-spacing">
    <i>&#xe86f;</i>
    <span><i18n>session</i18n></span>
</div>