<section class="head">
    <div class="row">
        <h5 class="large" ng-click="display.legend = !display.legend">
            <i18n>legend</i18n>
        </h5>
    </div>
</section>

<section class="body">
    <div class="row">
        <div class=" vertical-spacing">
            <span class="help-color-bloc" style="background-color: #f7f6f6"></span>
            <span><i18n>session.official</i18n></span>
        </div>
        <div class=" vertical-spacing">
            <span class="help-color-bloc" style="background-color: #00ab6f"></span>
            <span><i18n>session.official.update</i18n></span>
        </div>
        <div class=" vertical-spacing">
            <span class="help-color-bloc" style="background-color: #ff9700"></span>
            <span><i18n>session.official.empty</i18n></span>
        </div>
        <div class=" vertical-spacing">
            <span class="help-color-bloc" style="background-color: #7E7E7E"></span>
            <span><i18n>session.punctual</i18n></span>
        </div>
        <div class=" vertical-spacing">
            <i>&#xe904;</i>
            <span><i18n>session.not.published</i18n></span>
        </div>
        <div class=" vertical-spacing">
            <i>&#xe80d;</i>
            <span><i18n>Homework</i18n></span>
        </div>
        <div class=" vertical-spacing">
            <i>&#xe86f;</i>
            <span><i18n>session</i18n></span>
        </div>
    </div>
</section>
