<div ng-controller='CalendarListViewController as calendarListViewCtrl' ng-init="model.display.showList=true">

  <div ng-model="searchForm" class="search-form-box">
      <i class="[[(searchForm.displayLesson == false) ? 'filter2 diary' : 'filter2 diary selected' ]]" ng-click="toggleFilterOnLesson()" tooltip="diary.icon.show.lessons"></i>

      <i class="[[(searchForm.displayHomework == false) ? 'filter2 homework' : 'filter2 homework selected' ]]" ng-click="toggleFilterOnHomework()" tooltip="diary.icon.show.homeworks"></i>

      <p style="padding-left: 20px; display:inline;">
          <label style="vertical-align:center">Période du </label>
          <date-picker ng-model="model.filters.startDate" style="width: 80px" ng-change="calendarListViewCtrl.getDatas()"></date-picker>
          <label style="vertical-align:center"> au </label>
          <date-picker ng-model="model.filters.endDate" style="width: 80px" ng-change="calendarListViewCtrl.getDatas()"></date-picker>
      </p>

      <p ng-if="model.filters.subjects.length>0" style="padding-left: 20px; display:inline;">
          <select class="subjects" ng-options="subjectName for subjectName in model.filters.subjects" ng-model="model.filters.selectedSubject">
              <option value="" translate content="diary.filter.all.subjects"></option>
          </select>
      </p>

      <input type="hidden" ng-model="searchForm.audienceId" />
  </div>
  <section>
      <div ng-if="calendarListViewCtrl.dayItems.length <= 0">
          <p class="row info tuto">
              <i18n>diary.search.no.result</i18n>
          </p>
      </div> 
      <div ng-if="calendarListViewCtrl.dayItems.length > 0">
          <div class="pedagogic-day-container">
              <ul>
                  <li ng-repeat="day in calendarListViewCtrl.dayItems | orderBy : 'shortDate' ">
                      <div ng-class="day.selected ? 'pedagogic-day-card selected' : 'pedagogic-day-card'" ng-click="calendarListViewCtrl.selectDay(day)">
                          <div ng-class="day.selected ? 'thumbnail thumb-selected' : 'thumbnail'">[[day.shortName]]</div>
                          <div ng-class="day.selected ? 'summary sum-selected' : 'summary'">
                              <span class="itemdate">                            
                                  [[day.shortDate]]&nbsp;
                              </span>
                              <span class="itemone">
                                    [[ (day.items | filter : {type : 'homework'}).length]]
                                    <i ng-class="day.selected ? 'day-card-icon card-icon-selected rack2 table-cell-left' : 'day-card-icon rack2 table-cell-left'"></i>
                              </span>
                              <span class="itemtwo">                              
                                [[ (day.items | filter : {type : 'lesson'}).length]]
                                <i ng-class="day.selected ? 'day-card-icon card-icon-selected cahier-textes2 table-cell-left' : 'day-card-icon cahier-textes2 table-cell-left'"></i>
                              </span>
                          </div>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
      <div class="pedagogic-item-container">
          <div class="pedagogic-item-card">
              <ul style="margin-bottom: 60px;">
                  <li ng-repeat="pedagogicItem in filteredDays = (model.selectedDay.items | filter : {'item.subjectLabel' : model.filters.selectedSubject})">
                      <article class="notification">

                          <div ng-if="(pedagogicItem.item.description.length >= 60)" class="row hover-orange" ng-click="pedagogicItem.expanded_description = !pedagogicItem.expanded_description">
                              <div class="cell" style="margin-left: 90px;">
                                  <i ng-if="pedagogicItem.item.state!=='published'"><em class="low-importance"><i18n>diary.not.published</i18n>&nbsp;</em></i>
                                  <em style="font-weight: bold; font-style: normal;">[[pedagogicItem.item.subjectLabel]] &nbsp; [[pedagogicItem.item.audienceLabel]] &nbsp; [[pedagogicItem.item.teacherName]]</em><br/>
                              </div>

                              <div class="cell right-magnet">
                                  <i ng-show="!pedagogicItem.expanded_description" data-tooltip="Déplier" class="down-open"></i>
                                  <i ng-hide="!pedagogicItem.expanded_description" data-tooltip="Plier" class="up-open"></i>
                              </div>
                          </div>

                          <div ng-if="!(pedagogicItem.item.description.length >= 60)" class="row">
                              <div class="cell" style="margin-left: 90px;">
                                  <i ng-if="pedagogicItem.item.state!=='published'"><em class="low-importance"><i18n>diary.not.published</i18n>&nbsp;</em></i>
                                  <em style="font-weight: bold; font-style: normal;">[[pedagogicItem.item.subjectLabel]] &nbsp; [[pedagogicItem.item.audienceLabel]] &nbsp; [[pedagogicItem.item.teacherName]]</em><br/>
                              </div>
                          </div>
                          <div class="row">
                              <div class="one cell" style="padding: 5px 0px 0px 20px">
                                  <label class="checkbox" ng-if="isUserTeacher && !pedagogicItem.item.locked">
                                      <input type="checkbox" ng-model="pedagogicItem.item.selected"  />
                                      <span></span>
                                  </label>
                                  <label class="checkbox" ng-if="isUserTeacher && pedagogicItem.item.locked">
                                      <i class="icon lock-alt"
                                          diary-tooltip="diary.visa.lesson.locked"
                                      ></i>
                                  </label>
                              </div>

                              <div class="ten cell">
                                  <div class="tooltip-detail" ng-click="calendarListViewCtrl.goToItemDetail(pedagogicItem)" diary-tooltip="diary.view.item.detail"> 
                                      <em class="medium-importance" ng-if="pedagogicItem.type === 'lesson'">
                                          <p style="display:inline">[[pedagogicItem.item.startTime | formatHour]] - [[pedagogicItem.item.endTime | formatHour]]&nbsp;</p>
                                          <p style="display:inline" ng-if="pedagogicItem.item.room">(<i18n>room</i18n> - [[pedagogicItem.item.room]])&nbsp;</p>
                                          [[pedagogicItem.item.title]]
                                      </em> 
                                      <em class="medium-importance" ng-if="pedagogicItem.type === 'homework'" >
                                          <p style="display:inline">[[pedagogicItem.type_homework]]&nbsp;</p>
                                          [[pedagogicItem.item.title]]
                                      </em> 

                                      <div ng-bind-html="pedagogicItem.item.description | maxChar:60  " ng-if="!pedagogicItem.expanded_description"></div>
                                      <div ng-init="pedagogicItem.item.descriptionTrusted = (pedagogicItem.item.description | trusthtml)" ng-bind-html="pedagogicItem.item.descriptionTrusted" ng-if="pedagogicItem.expanded_description"></div>

                                      <!--
                                      <span ng-show="!pedagogicItem.expanded_description">
									 <span bind-html="pedagogicItem.item.description"></span>
                                      </span>
                                      <span ng-show="pedagogicItem.expanded_description">
									 <span bind-html="pedagogicItem.item.description"></span>
                                      </span>
                                    -->                                  
                                  </div>
                              </div>

                              <div class="one cell float:right">
                                  <i ng-class="pedagogicItem.type === 'homework'?'icon rack2 table-cell-left':'icon cahier-textes2 table-cell-left'" ng-style="{'color':pedagogicItem.item.color}"></i>
                              </div>
                          </div>
                      </article>
                  </li>
                  <p ng-if="filteredDays.length === 0" class="row info tuto">
                      <i18n>diary.filter.no.result</i18n>
                  </p>
              </ul>
          </div>

      </div>
  </section>

  <!-- action panel displayed if at least one lesson or homework selected -->
  <section class="toggle-buttons" ng-class="{ hide: getPedagogicItemSelectedCount() == 0 }">
      <div class="toggle">
          <div class="row">
              <button ng-click="showConfirmPanel('confirm-delete')">
                  <i18n>remove</i18n>
              </button>
              <button ng-click="editSelectedItem()" ng-class="{ disabled: !isOneHomeworkOrLessonStriclySelected()}">
                  <i18n>edit</i18n>
              </button>
              <!-- not implemented yet so always disabled
              <button ng-click="shareSelectedLessons()" ng-class="{ disabled: lessons.selection().length >= 0 }">
                  <i18n>share</i18n>
              </button>-->

              <button ng-click="openShareLessonPanel()" ng-show="getSelectedPedagogicItems('homework').length === 0">
                  <i18n>share</i18n>
              </button>
              <button ng-click="openShareHomeworkPanel()" ng-show="getSelectedPedagogicItems('lesson').length === 0">
                  <i18n>share</i18n>
              </button>

              <!-- publish - lessons in draft state and homeworks in draft state not attached to lesson -->
              <button ng-click="showConfirmPanel('confirm-publish')" ng-if="hasPublishableOnlyItemsSelected(true)">
                  <i18n>daily.item.publish</i18n>
              </button>
              <!-- unpublish - lessons in published state and homeworks in published state not attached to lesson -->
              <button ng-click="showConfirmPanel('confirm-unpublish')" ng-if="hasPublishableOnlyItemsSelected(false)">
                  <i18n>daily.item.unpublish</i18n>
              </button>
          </div>
      </div>
  </section>
</div>
