<div class="progression-manager" style="float: left">
    <h1>
        <a href="#" ><i18n>diary.title</i18n> </a> >
        <a href="" ><i18n>progression.title</i18n> </a>
    </h1>
    <div class="row" style="min-width:1px;height:48px;">
        <button workflow="diary.createLesson" ng-click="progressionManagerCtrl.setNewProgression()">
            <i18n>progression.create</i18n>
        </button>
    </div>
    <div class="row search-row">
        <input type="text" style="background-color: white;" ng-model="progressionManagerCtrl.progressionFilter" translate attr="placeholder" placeholder="diary.quicksearch.zoomlabel" size="20" />
    </div>
    <div class="row">
        <div class="pedagogic-day-container">
            <ul>
                <li ng-repeat="progressionItem in progressionManagerCtrl.progressionItems | filter :{ title: progressionManagerCtrl.progressionFilter } | orderBy : 'title'">
                    <div class="pedagogic-day-card" ng-class="{' selected' : progressionItem === progressionManagerCtrl.selectedProgressionItem }" ng-click="progressionManagerCtrl.selectProgression(progressionItem)">
                        <div class="thumbnail" ng-class="{' thumb-selected' : progressionItem === progressionManagerCtrl.selectedProgressionItem }">
                            [[progressionItem.level]]
                        </div>
                        <div class="summary" ng-class="{' sum-selected' : progressionItem === progressionManagerCtrl.selectedProgressionItem }">
                            [[progressionItem.title]]&nbsp;
                        </div>
                        <div class="indicator" ng-class="{' sum-selected' : progressionItem === progressionManagerCtrl.selectedProgressionItem }">                                
                            [[progressionItem.lessonItems ? progressionItem.lessonItems.length : progressionItem.nbLessons]]<i class="day-card-icon cahier-textes2 table-cell-left"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="pedagogic-item-container">
            <div class="">
                <div ng-if="progressionManagerCtrl.selectedProgressionItem">
                    <div ng-include="'/diary/public/template/progression/manager/progression-lessons-list.template.html'"></div>
                </div>
                <div class="content-not-found" ng-show="!progressionManagerCtrl.selectedProgressionItem">
                    <div>
                        <i class="icon left "></i> <i18n>progression.help.select</i18n>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
