<div ng-controller="CalendarController as calendarController">


<div  class="mainDiaryContainer" style="float: left; width: 97%;" ng-init="model.display.showList=false" >
      <div class="row diary-container" ng-class="{'diary-show-homeworks' : display.bShowHomeworks,'diary-show-calendar' : display.bShowCalendar}">
          <filters style="padding-bottom: 0.8em;">
              <ul>
                  <li>
                      <i class="filter2 diary " ng-class="{'selected':display.bShowCalendar}" ng-click="toggleCalendar()" diary-tooltip="diary.icon.show.calendargrid"></i>
                      <i ng-class="{'selected':display.bShowHomeworks}" class="filter2 homework " ng-click="toggleHomeworkPanel()" diary-tooltip="diary.icon.show.homeworkpanel"></i>
                      <button ng-click="previousWeek(); " diary-tooltip="diary.calendar.previousweek">&#8592;</button>
                      <button ng-click="nextWeek();" diary-tooltip="diary.calendar.nextweek">&#8594;</button>
                      <span class="current-week-indicator" secure="[[RIGHTS.MANAGE_MODEL_WEEK]]">
                          <i18n>diary.current.week</i18n> <strong>[[currentModelWeekIndicator]]</strong>
                          <span ng-if="isModelWeek">
                            (
                            <i18n>diary.modelweek.current.is.week</i18n> 
                            <strong>[[modelWeekCurrentWeek]]</strong>
                            )
                          </span>
                      </span>
                  </li>
              </ul>
          </filters>
          <calendar-daily-events for="calendar" b-show-calendar="display.bShowCalendar" b-show-homeworks-minified="display.bShowHomeworksMinified" ng-model="homeworks.all" ng-if="!display.hideHomeworkPanel" on-create-open="redirect('/createHomeworkView')" style="z-index: 1000; margin-top: 8px;">
          </calendar-daily-events>
          <div class="row ">
              <diary-calendar
                  id="calendar" class="twelve cell"
                  display-template="'<item-calendar></item-calendar>'"
                  create-template="create-lesson"
                  read-only="!isUserTeacher"
                  on-create-open-action="redirect('/createLessonView/timeFromCalendar')"
                  params="calendarParams"
                  monday-of-week="mondayOfWeek" items="itemsCalendar">
              </diary-calendar>
          </div>
      </div>
  </div>

  <!-- quick search panel -->
  <div ng-if="isUserTeacher">
      <quick-search item-type="lesson" class="quick-search lessontype"></quick-search>
      <quick-search item-type="homework" class="quick-search homeworktype"></quick-search>
      <right-panel label='progression.title'
          content-url="'/diary/public/js/progression/right-panel/content/main-progression-right-panel.template.html'"
          class="quick-search progressiontype"></quick-search>
  </div>
</div>
