<div ng-controller="ProgressionRightPanelController as progressionRightPanelCtrl" >
    <div style="background-color: #ddd; padding-top: 10px; padding-left: 10px;  ">
        <label style="font-weight: bold; color: #2a9cc8;" ng-click="$parent.toggle()"  >
              [[label | translate]]
          </label>
          <div class="close right">
                <i diary-tooltip="Fermer" ng-click="$parent.toggle()" class="cancel-circled"></i>
            </div>
        <div class="search-progression">
            <input type="text"
                style="background-color: white;"
                translate attr="placeholder"
                placeholder="diary.quicksearch.zoomlabel"
                ng-if="progressionRightPanelCtrl.selected=='main'"
                ng-model="progressionRightPanelCtrl.filterProgression"  />
            <input type="text"
                style="background-color: white;"
                translate attr="placeholder"
                placeholder="diary.quicksearch.zoomlabel"
                ng-if="progressionRightPanelCtrl.selected!='main'"
                ng-model="progressionRightPanelCtrl.filterLesson"  />

            <button class="right-magnet"  ng-click="redirect('/progressionManagerView/none')"  >
                <i  class="day-card-icon cog"></i>
            </button>
            <br>

        </div>
    </div>

    <div class="contener-slide" ng-init="progressionRightPanelCtrl.selected='main'">
        <div class="slide"
            ng-class="{ 'left-slide' : progressionRightPanelCtrl.selected !== 'main'}">
                <ng-include src="'/diary/public/template/progression/right-panel/content/sequence-list.template.html'"></ng-include>
            </div>
        <div class="slide"
           ng-class="{'right-slide': progressionRightPanelCtrl.selected === 'main'}">
            <ng-include src="'/diary/public/template/progression/right-panel/content/lessons-list.template.html'"></ng-include>
         </div>

    </div>


</div>
