<div class="content scrollbar-fine">
    <a href=""
      class="non-draggable"
      ng-repeat="progression in progressionRightPanelCtrl.progressionItems | filter :{ title: progressionRightPanelCtrl.filterProgression }"
      ng-click="progressionRightPanelCtrl.selectProgression(progression)">
        <article class="twelve cell" >
            <div>
                [[progression.level]] - [[progression.title]]
                <div class="right">
                    [[progression.nbLessons]]
                    <!--card-icon-selected-->
                    <i class="day-card-icon  cahier-textes2 table-cell-left"></i>
                </div>
            </div>
    </article>
    </a>
</div>
