<div class="schedule-item-content homework-content" ng-style="{'border-color': dailyEvent.color, 'color': dailyEvent.color}"
           ng-click="updateHomework(dailyEvent.id)" >

    <div class="row text-ellipsis overflow-hidden">
        [[dailyEvent.subject.label]]
    </div>

    <div class="row">
        <span>[[dailyEvent.audience.name]] - [[dailyEvent.state]]</span>
        <input type="checkbox" ng-model="dailyEvent.selected"  style="float: right; margin-right: 5%; margin-top: 0px;"/>

        <span ng-if="[[dailyEvent.state]]=='draft'" style="float: right; margin-top: 0px;">
            <i class="icon pencil"></i>
		</span>
    </div>
</div>