<!-- action panel displayed if at least one lesson or homework selected -->
<section class="toggle-buttons" >
    <div class="toggle">
        <div class="row">
            <button
                ng-click="remove()">
                <i18n>back</i18n>
            </button>
            <button
                confirm-popup
                confirm-class="popup-viser"
                confirm-template="/diary/public/js/visa/popup-valid/popup-valid.template.html" >
                <i18n>diary.visa.action.apply</i18n>
            </button>            
            <button ng-click="visaManagerCtrl.pdf()">
                <i18n>diary.visa.action.generatepdf</i18n>
            </button>
        </div>
    </div>
</section>
