<div class="homework-form">
    <div ng-if="!isInsideSessionForm" class="seven">
        <!--IF CREATE HOMEWORK WITH CLICK-->
        <div ng-if="!homework.id && (!homework.courseId || !homework.subject.id) && homeworkFormIsOpened" class="session-form-header">
            <!--SELECT SUBJECT-->
            <div class="session-form-header-select">
                <select required ng-model="homework.subject"
                        ng-change="disableFieldSetSubjectAndAudienceHomework(homework.audience, homework.subject)"
                        ng-options="subject.label group by subject.groupByTeacherBelonging() for subject in subjects.all | orderBy:'teacherId'">
                    <option ng-if="subjects.all.length !== 1" value="" disabled selected>
                        [[translate('select.subject')]]
                    </option>
                </select>
            </div>

            <!--SEARCH CLASS/GROUP-->
            <div class="session-form-header-search">
                <async-autocomplete data-ng-disabled="false"
                                    data-ng-model="groupsSearch.group"
                                    data-ng-change="selectSearchAudience"
                                    data-on-search="searchAudience"
                                    data-options="groupsSearch.groups"
                                    data-placeholder="printer.audience"
                                    data-search="groupsSearch.group">
                </async-autocomplete>
                <div class="search-input-ul" ng-show="homework.audience">
                    <span>[[homework.audience.name]]</span>&nbsp;
                    <i class="close" ng-click="removeSearchAudience()"></i>
                </div>
            </div>
        </div>
        <!--IF EDIT HOMEWORK OR CREATE WITH DRAG AND DROP-->
        <div ng-if="(homework.id || (homework.courseId && homework.subject.id)) && homeworkFormIsOpened" class="margin-bottom-md margin-top-lg">
            <!--SUBJECT LABEL CARD-->
            <span class="card session-form-card" ng-if="homework.subject.label || homework.subject.name">
                [[homework.getSubjectTitle()]]
            </span>
            <!--CLASS/GROUP NAME CARD-->
            <span class="card session-form-card" ng-if="homework.audience.name">
                [[homework.audience.name]]
            </span>
        </div>
    </div>
    <fieldset class="row cursorDefault card remove-margin padding-md border-widht-fieldset"
              ng-disabled="isSelectSubjectAndAudienceHomework()">
        <h2 class="cdt-title-not-clickable">
            <span ng-if="!isInsideSessionForm"><i18n>Homework</i18n></span>

            <span ng-if="!isInsideSessionForm" class="margin-left-md" ng-show="homework.opened">
                <span style="color: green;" ng-if="homework.isPublished">(<i18n>published</i18n>)</span>
                <span style="color: red;" ng-if="!homework.isPublished">(<i18n>draft</i18n>)</span>
                </span>
        </h2>

    </fieldset>

    <div class="row card padding-md" ng-if="homework.opened">
        <!-- Deadline -->
        <div class="row">
            <label class="cell two twelve-mobile">
                <i18n>deadline</i18n>*
            </label>
            <div class="cell twelve-mobile ten">
                <div ng-if="isInsideSessionForm">
                    <label>
                        <input type="radio" ng-model="homework.attachedToParentSession" ng-value="true"
                               ng-click="attachToParentSession()">
                        <i18n>todo.for.this.session</i18n>
                    </label><br/>
                    <label>
                        <input type="radio" ng-model="homework.attachedToParentSession" ng-value="false"
                               ng-click="attachToOtherSession()">
                        <i18n>choose.another.date.or.session</i18n>
                    </label>
                </div>
                <!-- Other Seance or Date -- ng-if="!homework.attachedToParentSession || !isInsideSessionForm"-->
                <div class="row" >
                    <div class="row margin-bottom-md" ng-show="display.sessionSelect && (isSessionFuture() || !homework.id)">
                        <label>
                            <input type="radio"
                                   ng-click="attachToSession(); syncWorkloadDay();"
                                   ng-checked="homework.attachedToSession"
                                   value="true">
                            <span class="no-style ng-scope"><i18n>session</i18n></span>
                        </label><br>
                        <label>
                            <input type="radio"
                                   ng-click="attachToDate(); syncWorkloadDay();"
                                   ng-checked="homework.attachedToDate"
                                   value="false">
                            <span class="no-style ng-scope"><i18n>date</i18n></span>
                        </label>

                    </div>
                    <div class="row margin-bottom-md">
                        <date-picker class="date-picker-sm margin-bottom-7"  ng-if="homework.attachedToDate"
                                     ng-model="homework.dueDate"  ng-change="syncWorkloadDay()">
                        </date-picker>
                        <select ng-if="homework.attachedToSession && (isSessionFuture() || !homework.id)" ng-model="homework.session" ng-click="syncWorkloadDay()"
                                ng-options="session as (session.getSessionString()) for session in sessionsToAttachTo">
                        </select>
                        <span ng-if="homework.attachedToSession && !isSessionFuture() && homework.id">
                            <i18n>homework.attachedToSession</i18n> [[homework.dateDisplayed]]
                        </span>
                    </div>

                </div>
            </div>
        </div>
        <!-- Type -->
        <div class="row form-row">
            <label class="cell two twelve-mobile">
                <i18n>homework.manage.type</i18n>*
            </label>
            <div class="cell twelve-mobile ten">
                <select required ng-model="homework.type"
                        ng-options="homeworkType.label for homeworkType in homeworkTypes.all track by homeworkType.id">
                </select>
            </div>
        </div>

        <div class="row form-row">
                <label  class="cell two twelve-mobile">
                    <i18n>homework.workload</i18n>
                </label>
            <span class="cell two twelve-mobile">
                <input  ng-model="homework.estimatedTime" min="0" type="number" class="two"> <i18n>minutes</i18n>
            </span>
        </div>

        <!-- Workload -->
        <div class="row form-row" ng-if="sessionsToAttachTo || homework.attachedToDate"
             ng-repeat="workload in homework.workloadDay.all">
            <label class="cell two twelve-mobile">
                [[workload.Title]]
            </label>
            <span class="ten" ng-repeat="workload in homework.workloadDay.all">
                <label ={ng-class="workload.color">
                    [[workload.count]]
                </label>
            </span>
        </div>

        <!-- Publish -->
        <div class="row form-row">
            <label class="two cell twelve-mobile">
                <div class="twelve margin-bottom-md">
                    <i18n>utils.publish</i18n>
                </div>
            </label>
            <div class="cell twelve-mobile ten">
                <switch class="vertical-spacing" ng-change="homework.publishedChanged = ! homework.publishedChanged" ng-model="homework.isPublished">
                    <label class="switch"> </label>
                </switch>
            </div>
        </div>

        <!-- Description-->
        <div class="row">
            <editor editor-resize ng-model="homework.description"></editor>
        </div>

        <div class="row" ng-if="isInsideSessionForm">
            <button class="cancel float-none display-inline-block" type="button" ng-click="cancelCreation()">
                <i18n>utils.cancel</i18n>
            </button>
            <button class="float-none display-inline-block" type="button" ng-click="deleteHomework($index)">
                <i18n>utils.delete</i18n>
            </button>
        </div>
    </div>
</div>
