<div ng-controller="manageHomeworkCtrl">
    <div id="crumbs">
        <ul class="remove-padding"><a href="#" ng-click="back()">
            <i18n><span><li>diary.title</li></span></i18n>
        </a>&nbsp;>&nbsp;<i18n><span><li>homework</li></span></i18n>
        </ul>
    </div>
    <div ng-if="!isReadOnly">
        <div class="row">
            <div class="six cell twelve-mobile">
                <h1>
                    <i18n><span>homework.manage.create</span></i18n>
                </h1>
            </div>
            <div class="six cell zero-mobile text-right zero-mobile">
                <button type="button" class="cancel float-none display-inline-block" ng-click="cancelCreation()">
                    <i18n>utils.cancel</i18n>
                </button>
                <button ng-disabled="!isValidForm()" class="float-none display-inline-block" type="button"
                        ng-click="saveHomework()">
                    <i18n>utils.save</i18n>
                </button>
            </div>
        </div>

        <div class="row margin-bottom-md"
             static-include="/diary/public/template/homework/homework-form.html"></div>

        <div class="row text-right">
            <button ng-if="homework.id" class="left-magnet cancel" type="button" ng-click="deleteHomework($index)">
                <i18n>utils.delete</i18n>
            </button>
            <button type="button" class="cancel float-none display-inline-block" ng-click="cancelCreation()">
                <i18n>utils.cancel</i18n>
            </button>
            <button ng-disabled="!isValidForm()" class="float-none display-inline-block" type="button" ng-click="saveHomework()" workflow="diary.manageHomework">
                <i18n>utils.save</i18n>
            </button>
        </div>
    </div>
    <div ng-if="isReadOnly">
        <div class="row margin-bottom-lg"
             static-include="/diary/public/template/homework/homework-view.html"></div>
        <button class="float-none cancel" ng-click="$parent.syncPedagogicItems();back()"><i18n>back</i18n></button>
    </div>
</div>