<div class="homework-view">
    <div class="row margin-bottom-md" ng-if="!isInsideSessionForm && !session.isInsideDiary">
        <b>[[homework.subject.label]] &nbsp; [[homework.audience.name]] &nbsp; [[homework.teacher.firstName]] [[homework.teacher.lastName]]</b>
    </div>

    <article class="row padding-md" ng-click="homework.opened = !homework.opened">
        <h2 class="eight cell remove-margin">
            <span>[[homework.type.label]]</span>
            <span ng-if="!homework.isInsideDiary"> -
                <span ng-if="homework.attachedToDate"><i18n>homework.for.date</i18n>[[getDisplayDate(homework.dueDate)]]</span>
                <span ng-if="homework.attachedToParentSession"><i18n>for.this.session</i18n></span>
                <span ng-if="homework.attachedToOtherSession && homework.session">&nbsp;
                    <i18n>todo.for.session</i18n>
                    [[homework.session.subject.label]] [[homework.session.startDisplayDate]]
                    ([[homework.session.startDisplayTime]]-[[homework.session.endDisplayTime]])
                </span>
            </span> -
            <i18n>homework.manage.give</i18n> [[homework.publishDate]]
        </h2>
        <h2 class="right-magnet">
            <i  ng-if="!homework.isInsideDiary" ng-class="homework.opened ? 'up-open' : 'down-open'"></i>
        </h2>

        <div workflow="diary.setProgressHomework"  class="three cell twelve-mobile margin-top-sm" ng-click="$event.stopPropagation();">
            <!--<switch ng-show="!homework.isDone" ng-model="homework.isDone" ng-click="setHomeworkProgress(homework)" ></switch>-->

            <div class="cell horizontal-spacing twelve-mobile ">
                <switch class="" ng-model="homework.isDone" ng-change="setHomeworkProgress(homework)">
                    <label class="switch"> </label>
                </switch>
            </div>
            <label class="cell twelve-mobile">
                <div ng-show="homework.isDone" class="six">
                    <i18n style="color:green;">done</i18n>
                </div>
                <div ng-show="!homework.isDone" class="twelve">
                    <i18n style="color:red;">todo</i18n>
                </div>
            </label>
        </div>

        <div class="twelve cell ">
            <h4>
                <div ng-show="homework.estimatedTime !== 0">

                    <i18n>homework.workload</i18n> :
                    [[homework.estimatedTime]] <i18n>minutes</i18n>
                </div>
                <div ng-show="homework.estimatedTime === 0">
                    <i18n>homework.no.workload</i18n>
                </div>
            </h4>
        </div>

        <div class="row padding-md" ng-show="homework.opened || homework.isInsideDiary">

            <!-- Description-->
            <div class="read-only-description" bind-html="homework.description"></div>
        </div>
    </article>

</div>

