<div id="occurrences-creation">

    <form>
        <article>

            <div ng-if="!isInsideSessionForm">
                <h3><i18n>utils.subject_and_audience</i18n></h3>
                <div class="row form-row" ng-if="structures.all.length > 1">
                    <label class="cell two twelve-mobile">
                        <i18n>creation.structure.choose</i18n>*
                    </label>
                    <div class="cell twelve-mobile ten">
                        <select required ng-model="homework.structure"
                                ng-options="structure.name for structure in structures.all track by structure.id">
                        </select>
                    </div>
                </div>
                <div class="row form-row">
                    <label class="cell two twelve-mobile">
                        <i18n>utils.groups</i18n>*
                    </label>
                    <div class="cell twelve-mobile ten">
                        <select ng-disabled="isInsideSessionForm" ng-change="syncSessionsAndCourses();syncWorkloadWeek();homework.session = undefined;" required ng-model="homework.audience"
                                ng-options="audience.name for audience in structure.audiences.all track by audience.id">
                        </select>
                    </div>
                </div>

                <div class="row form-row">
                    <label class="cell two twelve-mobile">
                        <i18n>subject</i18n>*
                    </label>
                    <div class="cell twelve-mobile ten">
                        <div class="cell twelve-mobile ten">
                            <select ng-disabled="isInsideSessionForm" ng-change="syncSessionsAndCourses();homework.session = undefined;" required ng-model="homework.subject" ng-options="subject.label for subject in subjects.all track by subject.id">
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <h3 ng-if="!isInsideSessionForm"><i18n>homework.manage.config</i18n></h3>
            <div>
                <div class="row form-row">
                    <label class="cell two twelve-mobile">
                        <i18n>Echéance</i18n>*
                    </label>
                    <div class="cell twelve-mobile ten">
                        <div ng-if="isInsideSessionForm">
                            <label>
                                <input type="radio" ng-model="homework.attachedToParentSession" ng-value="true" ng-click="attachToParentSession()">
                                <i18n>À faire pour cette séance</i18n>
                            </label><br/>
                            <label>
                                <input type="radio" ng-model="homework.attachedToParentSession" ng-value="false" ng-click="attachToOtherSession()">
                                <i18n>Choisir une autre Date/Séance</i18n>
                            </label>
                        </div>
                        <!-- Other Seance or Date-->
                        <div class="row" ng-if="!homework.attachedToParentSession || !isInsideSessionForm">
                            <div class="row margin-bottom-md">
                                <div class="tab-button" ng-click="attachToDate()" ng-class="{'selected': homework.attachedToDate}">
                                    Date
                                </div>
                                <div class="tab-button" ng-click="attachToOtherSession()" ng-class="{'selected': homework.attachedToOtherSession}">
                                    Séance
                                </div>
                            </div>
                            <div class="row">
                                <input ng-if="homework.attachedToDate" ng-model="homework.dueDate" ng-change="syncWorkloadWeek()" type="date">
                                <select ng-if="homework.attachedToOtherSession" ng-model="homework.session" ng-change="syncWorkloadWeek()"
                                        ng-options="session as (session.subject.label + ' - ' + session.startDisplayDate + ' ' + session.startDisplayTime + '-' + session.endDisplayTime ) for session in sessionsToAttachTo">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-row" ng-if="!isInsideSessionForm">
                <label class="cell two twelve-mobile">
                    <i18n>state</i18n>*
                </label>
                <div ng-if="!homework.isPublished" class="cell twelve-mobile ten">
                    <i18n>draft</i18n>
                </div>
                <div ng-if="homework.isPublished" class="cell twelve-mobile ten">
                    <i18n>published</i18n>
                </div>
            </div>

            <div class="row form-row">
                <label class="cell two twelve-mobile"><i18n>homework.week.workload</i18n></label>
                <div class="cell twelve-mobile ten">
                   <span ng-repeat="workload in homework.workloadWeek.all">
                        <span class="workloadDay" tooltip="[[workload.description]]" ng-class="workload.color">
                    [[workload.shortDayString]] [[workload.numDayString]]</span>
                    </span>
                </div>
            </div>

            <div class="row form-row">
                <label class="cell two twelve-mobile">
                    <i18n>homework.manage.type</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <select required ng-model="homework.type" ng-options="homeworkType.label for homeworkType in homeworkTypes.all track by homeworkType.id">
                    </select>
                </div>
            </div>
            <div class="row form-row">
                <label class="cell two twelve-mobile">
                    <i18n>utils.description</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <textarea ng-model="homework.description" style="resize: vertical; min-height: 60px;"></textarea>
                </div>
            </div>

        </article>

        <div class="row">
            <span ng-if="isInsideSessionForm">
                <button class="cancel float-none display-inline-block" type="button" ng-click="cancelCreation()">
                    <i18n>utils.cancel</i18n>
                </button>
                <button class="float-none display-inline-block" type="button" ng-click="deleteHomework()">
                    <i18n>utils.delete</i18n>
                </button>
            </span>
            <div ng-if="!isInsideSessionForm">
                <span ng-if="homework.id" class="left-magnet vertical-spacing">
                <button class="cancel" type="button" ng-click="deleteHomework()">
                    <i18n>utils.delete</i18n>
                </button>
                </span>
                <span class="right-magnet vertical-spacing">
                <div ng-if="form_is_not_valid" class="warning">
                    <i18n>creation.error</i18n>
                </div>
                <button class="cancel" type="button" ng-click="cancelCreation()">
                    <i18n>utils.cancel</i18n>
                </button>
                <button ng-disabled="!isValidForm()" type="button" ng-click="saveHomework()">
                    <i18n>utils.save</i18n>
                </button>
                <button ng-if="!homework.isPublished"
                        ng-disabled="!isValidForm()" type="button"
                        ng-click="publishHomework()">
                    <i18n>publish</i18n>
                </button>

                <button ng-if="homework.isPublished"
                        ng-disabled="!isValidForm()" type="button"
                        ng-click="unpublishHomework()">
                    <i18n>unpublish</i18n>
                </button>
            </span>
            </div>
        </div>

    </form>

</div>