ul {
     list-style-type: none;
     margin-top: 0;
     width: 99%;
     border-left: 5px solid transparent !important;
     padding-left: 10px;
     padding-right: 15px;
 }

ul li i {
    color: #FF8500;
}

ul li i.caret {
    height: 20px;
    width: 25px;
    display: block;
    float: left !important;
    color: #fff;
    font-size: 25px;
    font-family: Arial;
    font-weight: 900;
}

ul li i.caret::before {
    content: "▸";
    color: #FF8500;
}

ul li i.caret.expanded::before {
    content: "▾";
    color: #FF8500;
}

ul li i.icon {
    font-size: 55px;
    line-height: 55px;
    text-align: center;
}

i.rack2::before {
    content: "\e80d";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
}

i.cahier-textes2::before {
    content: "\e86f";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
}

.table-cell, .table-cell-left{
    display: table-cell;
    vertical-align: top;
}

.table-cell-left {
    padding-right: 10px;
}

.cell-no-float {
    box-sizing: border-box;
    float: none;
    display: block;
    position: relative;
}

i.pencil::before {
    content: "\e858";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
}

div.days div div {
    padding-bottom: 1px;
}


div.test .pink {
    background-color: white;
    color: #b930a2;
}

div.test .orange {
    background-color: white;
    color: #FF8500;
}

div.test .purple {
    background-color: white;
    color: #763294;
}

div.test .green {
    background-color: white;
    color: #46bfaf;
}

.tooltip-detail {
    position: relative;
    display: inline-block;
}

.tooltip-detail .tooltiptext-detail {
    visibility: hidden;
    width: 120px;
    background-color: #FF8500;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: 100%;
    left: 100px;
    opacity: 0;
    transition: opacity 1s;
}

.tooltip-detail:hover .tooltiptext-detail {
    visibility: visible;
    opacity: 1;
}

.homework-content {
    height: 32px;
    border: solid 2px;
    background-color: white;
    border-radius: 5px;
    padding-left: 5px;
    font-size: 12px;
    line-height: 12px;
    text-align: left;
}

/*
Override marging for homeworks display
*/
.schedule-item {
    margin-top: 120px;
}

section .homework-detail {
    margin-top: -1px;
    border: 1px solid #4bafd5;
    padding: 6px;
}

.show-homeworks::before {
    content: "\e80d";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
}

.show-homeworks {
    opacity: 0.3;
    color: #FF8500;
    padding-top: 7px;
    padding-right: 7px;
}

.show-homeworks.selected {
    opacity: 0.7;
}

.show-lessons::before {
    content: "\e86f";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
}

.show-lessons {
    opacity: 0.3;
    color: #FF8500;
    padding-top: 7px;
    padding-right: 7px;
}

.show-lessons.selected {
    opacity: 0.7;
}

.lessonTeacher {
    margin-left: 100px;
}

.lessonHomeworkDescription {
    min-height: 250px;
    height: auto;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd !important;
}

div.notification {
    border-color: rgba(136,136,136,0.60);
    box-shadow: 2px 3px 0px 0px rgba(136,136,136,0.60);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
}

.show-calendar-grid::before {
    content: "\e86f";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
}

.show-calendar-grid {
    opacity: 0.3;
    color: #FF8500;
    padding-top: 7px;
}


.resize-homeworks-panel {
    float: left;
    vertical-align: middle !important;
    background-color: transparent !important;
}


calendar-daily-events .days .day {
    width: calc(100% / 7 - (130px) / 7) !important;
    background: #e8e8e8 !important;
}

calendar-daily-events {
    padding-left: 0px !important;
    top: 111px !important;
}

.search-form-box {
    padding: 10px 10px 20px 15px;
    width: 500px;
    background-color: #ffffff;
    margin-bottom: 20px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
}

.lesson_homework {
    font-size: 70px;
    float: left;
    margin-left: -25px;
    vertical-align: middle !important;
    background-color: transparent !important;
}

.lesson_homework.expanded::before {
    content: "▾";
}

.lesson_homework::before {
    content: "▸";
}

.homework-delimitation {
    border: solid 0.1px #a5b6bb !important;
    padding: 0px !important;
}

.trash:before {
    font-size: 18px !important;
    padding-right: 10px;
}

.lessonHomeworkBtn{
    margin-top: 10px;
}

.tabs headerHomeworkLesson.selected {
    border: none;
    border-left: 2px solid #4bafd5;
    border-top: 2px solid #4bafd5;
    border-right: 2px solid #4bafd5;
    border-bottom: 2px solid #fff;
    color: #4bafd5;
    text-transform: uppercase;
}
.tabs headerHomeworkLesson.selected {
    background: #fff;
}

.tabs headerHomeworkLesson {
    color: #555;
    font-size: 14px;
    font-weight: bold;
    background: transparent;
    margin-right: 10px;
    -webkit-transition: border-bottom 250ms ease;
    transition: border-bottom 250ms ease;
    border-bottom: 1px solid #000;
}

.tabs headerHomeworkLesson {
    display: inline-block;
    padding: 6px;
    background: #eee;
}

.tabs headerHomeworkLesson:hover {
    border-bottom: 2px solid #4bafd5;
}

.tabs>* {
    text-align: initial;
}

.lessonHeader{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.lessonInfosGrey{
    font-size: 18px;
    color: #808080;
    margin: 20px;
}

.lessonInfosBlack{
    font-size: 18px;
    font-weight: bold;
    margin: 20px;
}

.rowHeader{
    margin: 5px;
}

section .homeworkInfos {
    margin-top: 38px;
    border: 1px solid;
    padding: 6px;
}


.childFilter {
    color: #a5b6bb;
    border-color: grey;
    box-shadow: 1px 2px 3px 1px;
    padding: 10px;
    margin: 10px;
    margin-right: 12px;
}

.childFilter.selected {
    background-color: #4bafd5;
    cursor: pointer;
    color: white;
    box-shadow: 1px 2px 3px 1px;
}

.childFilter:hover {
    background-color: #4bafd5;
    cursor: pointer;
    color: white;
    box-shadow: 1px 2px 3px 1px;
}

.homeworksDayLoad {
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 1px;
    marging: 1px;
    font-size: 14px;
}

.homeworksDayLoad.red {
    background-color: tomato;
}

.homeworksDayLoad.yellow {
    background-color: khaki;
}

.homeworksDayLoad.green {
    background-color: limegreen;
}

.showMoreLessonsBar {
    color: white;
    background-color: #FF8500;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    text-align: center;
}

.showMoreLessonsBar:hover {
    background-color: saddlebrown;
}

.bootstrap-tagsinput .tag {
    margin-right: 2px;
    color: white;
}


.item-remove [data-role="remove"] {
    margin-left: 8px;
    cursor: pointer;
}

.item-remove [data-role="remove"]:after {
    content: "x";
    padding: 0px 2px;
    color: #FF8500;
}

.custom-tagsinput .autocompletelist {
    margin-top: -10px;
    width: 100%;
    padding: 2px 0;
    border: solid 1px #2a9cc8;
    background-color: white;
    position: absolute;
    top: 100%;
    z-index: 1000;
    right: auto;
    color: #2a9cc8;
}

.item-suggest {
    padding-left: 10px;
    width: 100%;
    line-height: 40px;
    height: 31px;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
}

.item-suggest.selected {
    color: white;
    background-color: #2875c7;
}

.item-suggest:hover{
    background-color: #F0F0F0;
}



.item-display {
    border: 1px solid #2a9cc8;
    color: #2a9cc8;
    width: 100%;
    float: left;
    font-size:24px;
    border-radius: 3px;
    padding: 3px;
    white-space: nowrap;
}

.tabs section {
    border-color: #4bafd5 !important;
}

i.arrow-down {
    height: 20px;
    width: 25px;
    display: block;
    float: right !important;
    color: #FF8500;
    font-size: 25px;
    font-weight: 900;
}

i.arrow-down::before {
    content: "\e841";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
}

i.check-selected {
    height: 20px;
    width: 25px;
    display: block;
    float: right !important;
    color: #2cc123;
    font-size: 18px;
    font-weight: 900;
    padding-top: 5px;
}

i.check-selected::before {
    content: "\e871";
    font-family:"fontello";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
}

ent-dropdown {
    float: left;
    display: block;
    width: 100%;
    padding-left: 10px;
}

ent-dropdown div {
    width: 100%;
    float: left;
    box-sizing: border-box;
}

ent-dropdown div.dropdown-display {
    float:left;
    width:100%;
    background: white;
    height: 31px;
    cursor: pointer;
    color: #2a9cc8;
    border: solid 1px #2a9cc8;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom : 10px;
}
ent-dropdown div.dropdown-display > * {
    float:left;
    height:100%;
    height:31px;
    line-height:31px !important;
    display:inline-block;
    vertical-align:middle;
}
ent-dropdown div.dropdown-display span {
    font-size: 24px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    padding-right: 34px;
    padding-left: 10px;
}
ent-dropdown div.dropdown-display span.placeholder {
    color: #aaaaaa;
    font-size: 20px;
}
ent-dropdown div.dropdown-display i {
    position: relative;
    width:14px;
    margin-left: -28px;
    margin-right: 4px;
    font-size: 24px;
    font-weight: bold;
    padding-right: 10px;
    text-align: right;
}
ent-dropdown div.dropdown-list {
    float: left;
    width: 100%;
    z-index: 1000;
    position: relative;
    transform: scale(1, 0);
    transition: transform ease 250ms;
    color: #2a9cc8;
    margin-top: -10px;
}
ent-dropdown div.dropdown-list-content {
    position: absolute;
    z-index: 2;
    cursor: pointer;
    background: white;
    box-sizing: border-box;
    border: solid 1px #2a9cc8;
}
ent-dropdown div.subtitle {
    float: left;
    width: 100%;
    padding: 0 10px;
    z-index: 2;
    cursor: none;
    background: white;
    color: #9fbcc8;
}
ent-dropdown div.item-list {
    float: left;
    width: 100%;
    padding: 0 10px;
    font-size: 14px;
}
ent-dropdown div.item-list:hover {
    background: #F0F0F0;
}
ent-dropdown div.item-list.selected {
    background: #2875c7;
    color: white;
}
ent-dropdown span.audience-item {
    height: 31px;
    line-height: 40px !important;
    display: inline-block;
    vertical-align: middle;
    float: left;
    width: 100%;
    position: relative;
    padding-right: 30px;
    box-sizing: border-box;
    color: inherit;
}
ent-dropdown div.item-list i {
    float: left;
    width:20px;
    margin-left: -20px;
    display: none;
}
ent-dropdown div.item-list.selected i {
    display: inline-block;
}
ent-dropdown div.search-link {
    float: left;
    width: 100%;
    padding: 0 0 0 10px;
    z-index: 2;
    background: white;
    color: #9fbcc8;
}
ent-dropdown div.show>div.dropdown-list {
    transform: scale(1, 1);
}

/*
    Priorité d'affichage
    1 - Icône de brouillon - 300px
    2 - Classe - 300px
    3 - Salle - 600px
    4 - Matière - 600px
    5 - Case à cocher de sélection(1) - 800px
    6 - Horaire - 800px

*/
@media  (max-width: 850px) {
    .schedule-item-content #hour {
        display: none;
    }
}

@media  (max-width: 650px) {
    .schedule-item-content input {
        display: none;
    }
}

@media (max-width: 800px) {
    .schedule-item-content #subjectlabel {
        display: none;
    }

    #dailyeventlongtitle {
        display: none;
    }

    #dailyeventshorttitle {
        display: block;
    }
}

@media (min-width: 800px) {
    #dailyeventlongtitle {
        display: block;
    }

    #dailyeventshorttitle {
        display: none;
    }
}

@media  (max-width: 550px) {
    .schedule-item-content {
        font-size: 1em;
    }
}

@media  (max-width: 650px) {
    .homework-title {
        display: none;
    }
}