<div class="dropdown-container" ng-class="{ show: listVisible }">
    <div class="dropdown-display" ng-click="listVisible=true" ng-class="{ clicked: listVisible }">
		<span id="placeholder"
            ng-if="!selected"
            class="placeholder"  >{{placeholder | translate}}</span>
        <span ng-if="selected">{{property !== undefined ? selected[property] : selected}}</span>
		<i class="arrow-down"></i>
    </div>
    <div class="dropdown-list">
        <div class="dropdown-list-content">
            <div class="item-list" ng-repeat="item in list | orderBy:property"
                    ng-click="selectItem(item);" ng-class="{ selected: item.selected }">
                <span class="audience-item">{{property !== undefined ? item[property] : item}}</span>
            </div>
        </div>
    </div>
</div>
