
.quick-search.progressiontype {
    top: 442px;
}


.select-list{
  select-list{
    margin-left: 5px;
    &.button {
      .selected-value {
        border-bottom: none;
      }
      opt{
        padding : 6px 10px;
        i{
          padding-right : 6px;
        }
      }
    }
  }
}
