button.diary-ico-button{
  i {
    background-color: transparent !important;
    font-size: 32px;
    padding: 0px !important;
    box-shadow: initial !important;
  }
  padding : 8px 8px 0px 8px;
  line-height: 24px; 
}

.reservation:before {
    content: "\e80e";
}

.arrows-cw:before {
    content: "\e874";
}

.cog:before{
  content : "\e854"
}

.left-open:before{
  content : "\e87b"
}


.left:before{
  content : "\e84c"
}

.pencil::before{
  content:'\e858'
}

.grades::before{
  content : '\e614'
}
