.reservation:before {
    content: "\e80e";
}

.arrows-cw:before {
    content: "\e874";
}

.cog:before{
  content : "\e854"
}

.left-open:before{
  content : "\e87b"
}


.left:before{
  content : "\e84c"
}

.pencil::before{
  content:'\e858'
}
