<div ng-if="progressionHomework.opened" class="padding-md">
    <!-- Deadline -->
    <div ng-if="progressionHomework.opened" class="float-left three vertical-align-top text-left">
        <div class="ten twelve-mobile">
            <label>
                <i18n>homework.manage.type</i18n>
                :
            </label>
        </div>

        <!-- Type -->
        <div class="row">
            <select class="ten"
                    ng-if="progressionHomework.opened"
                    required
                    ng-model="progressionHomework.type"
                    ng-options="homeworkTypes.label for homeworkTypes in homeworkTypes.all track by homeworkTypes.id">
            </select>
        </div>

        <!--Estimated Time-->
        <div>
        <span class="ten">
            <label>
                <i18n>homework.workload</i18n>
                :
                <input ng-model="progressionHomework.estimatedTime" min="0" type="number" class="two">
                    <i18n>minutes</i18n>
            </label>
        </span>
        </div>
    </div>

    <!-- Description-->
    <div ng-if="progressionHomework.opened" class="nine float-none display-inline-block vertical-align-top text-left">
        <div class="twelve-mobile">
            <label>
                <i18n>utils.description</i18n>
                :
            </label>
        </div>

        <editor class="twelve" ng-model="progressionHomework.description"></editor>
    </div>
</div>


