<div id="crumbs">
    <ul class="remove-padding">
        <a href="#" ng-click="goTo('/view')">
            <i18n><span><li>diary.title</li></span></i18n>
        </a>&nbsp;>&nbsp;
            <i18n><span><li>progression.title</li></span></i18n>
    </ul>
</div>

<div>
    <button class="right-magnet" ng-click="newProgressionForm()">
        <i18n>progression.manage.button.create</i18n>
    </button>
</div>
<div class="row" ng-controller="manageProgessionCtrl">

    <article class="cell two twelve-mobile">
        <div class="sidebar" ng-class="{opened : searchbar.progression}">
            <h5 class="large">
                <i18n>progression</i18n>
            </h5>
            <span  class="filter__input--icon">
                <input type="text" ng-change="filterProgression(search)" ng-model="search" placeholder="Rechercher">
            </span>
        </div>
    </article>

    <div class="ten cell content-next-to-the-sidebar">

        <div class=" row margin-bottom-md">
            <table class="twelve">
                <thead>
                <tr>
                    <th >

                    </th>
                    <th class="six text-left" ng-click="changeSortType('title')">
                        <!--<i ng-if="sort.progression === 'title' " ng-class="sort.reverse ? 'up-open' : 'down-open'"-->
                           <!--class="left-magnet"></i>-->

                        <i18n>title</i18n>

                    </th>
                    <th class="two text-left" ng-click="changeSortType('class')">
                           <i18n>progression.niveau</i18n>
                    </th>

                    <th class="two text-left" ng-click="changeSortType('subject.label')">
                        <i18n>subject</i18n>
                    </th>
                    <th class="two text-left" ng-click="changeSortType('progression_homeworks.length')">
                         <i18n>homeworks.attached</i18n>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="progression_session in progressionsToDisplay.all |  orderBy: sort.progression : sort.reverse  ">
                    <td class="text-left">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="progression_session.selected" ng-change="safeApply()">
                            <span></span>
                        </label>
                    </td>

                    <td ng-click="$parent.openProgressionSession(progression_session)" class="four text-left">
                        [[progression_session.title]]
                    </td>
                    <td ng-click="$parent.openProgressionSession(progression_session)" class="two text-left">
                        [[progression_session.class]]
                    </td>

                    <td ng-click="$parent.openProgressionSession(progression_session)" class="two text-left">
                        [[progression_session.subject.label]]
                    </td>
                    <td ng-click="$parent.openProgressionSession(progression_session)" class="two text-right">
                        [[progression_session.progression_homeworks.length]]
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <section class="toggle-buttons" ng-class="{ hide: progressionsToDisplay.selected.length === 0 }">
            <div class="toggle">
                <div class="row">
                    <button ng-click="deleteProgressions(progressionsToDisplay.selected)">
                        <i18n>delete</i18n>
                    </button>
                </div>
            </div>
        </section>

    </div>

</div>