<div class="progression_session-form" ng-controller="manageProgessionCtrl">
    <div class="row">
        <div class="twelve cell twelve-mobile">

            <span class="twe cell vertical-spacing horizontal-spacing twelve-mobile">
                <i18n  class="twelve" ng-if="!(progression_session.courseId && progression_session.subject)">select.subject</i18n>
                 <i18n  class="twelve" ng-if="progression_session.courseId && progression_session.subject">printer.subject</i18n>
                <select required ng-model="progression_session.subject" class="twelve twelve-mobile"
                        ng-disabled="progression_session.courseId && progression_session.subject"
                        ng-options="subject.label for subject in subjects.all track by subject.id">
                <option value="" disabled selected>[[translate('select.subject')]]</option>
            </select>
            </span>

        </div>
    </div>
    <div class="twelve cell twelve-mobile">

        <div class="row padding-md" >
            <!-- Title -->
            <label class="four cell horizontal-spacing twelve-mobile">
                <div class="twelve">
                    <i18n>title</i18n>
                    *
                </div>
                <input type="text" class="twelve twelve-mobile" ng-model="progression_session.title"/>
            </label>


            <!-- Description-->
            <div class="row">
                <div class="row twelve vertical-spacing">
                        <span class="twelve margin-20">
                            <i18n>utils.description</i18n>
                        </span>
                </div>
                <editor ng-model="progression_session.description"></editor>
            </div>
            <button ng-click="validProgressionsSessionForm()"><i18n>utils.save </i18n></button>
        </div>

    </div>

</div>