



<div>
    <button class="right-magnet cancel" ng-click="goTo('/view')">
        <i18n>visa.manage.backOnDiary</i18n>
    </button>
    <button  ng-click="newProgressionForm()">
        <i18n>progression.manage.button.Create</i18n>
    </button>
</div>
<div class="row"  ng-controller="manageProgessionCtrl">

    <article class="cell two twelve-mobile">
        <div class="sidebar ">
            <input ng-change="filterProgression(search)" type="text" placeholder="Recherche" ng-model="search">
        </div>
    </article>

    <div class="ten cell content-next-to-the-sidebar">

        <div     class=" row padding-md margin-bottom-md">
            <table class="twelve">
                <thead>
                <tr>
                    <td class="one text-left"><i18n>&nbsp</i18n></td>

                    <td   class="one text-left"  ng-click="changeSortType('title')">
                        <i ng-if="sort.progression === 'title' " ng-class="sort.reverse ? 'up-open' : 'down-open'" class="left-magnet"></i>

                        <i18n>title</i18n>

                    </td>
                    <td class="one text-left" ng-click="changeSortType('class')">
                        <i ng-if="sort.progression === 'class' " ng-class="sort.reverse ? 'up-open' : 'down-open'" class="left-magnet"></i>
                        <i18n>utils.groups</i18n></td>

                    <td class="one text-left" ng-click="changeSortType('subject.label')">
                        <i ng-if="sort.progression === 'subject.label' " ng-class="sort.reverse ? 'up-open' : 'down-open'" class="left-magnet"></i>
                        <i18n>subject</i18n></td>
                    <td class="five text-left" ng-click="changeSortType('progression_homeworks.length')">
                        <i ng-if="sort.progression === 'progression_homeworks.length' " ng-class="sort.reverse ? 'up-open' : 'down-open'" class="left-magnet"></i>
                        <i18n>homeworks.attached</i18n></td>



                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="progression_session in progressionsToDisplay.all |  orderBy: sort.progression : sort.reverse  ">
                    <td class="one text-left">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="progression_session.selected" ng-change="safeApply()">
                            <span></span>
                        </label>
                    </td>

                    <td  ng-click="$parent.openProgressionSession(progression_session)" class="one text-left">[[progression_session.title]]</td>
                    <td ng-click="$parent.openProgressionSession(progression_session)" class="one text-left">[[progression_session.class]]</td>

                    <td ng-click="$parent.openProgressionSession(progression_session)" class="one text-left">[[progression_session.subject.label]]</td>
                    <td ng-click="$parent.openProgressionSession(progression_session)" class="five text-left">[[progression_session.progression_homeworks.length]]</td>


                </tr>
                </tbody>
            </table>
        </div>

        <section class="toggle-buttons"  ng-class="{ hide: progressionsToDisplay.selected.length === 0 }">
            <div class="toggle">
                <div class="row">
                    <button ng-click="deleteProgressions(progressionsToDisplay.selected)">
                        <i18n>delete</i18n>
                    </button>
                </div>
            </div>
        </section>

    </div>

</div>