<div ng-if="!isFilterSearch()" ng-repeat="folder in subProgressionsItems" class="folder-content">
    <div ng-class="{'selected-item': folder.selected}">
        <div class="folder item-no-wrap"
             ng-click="selectItem(folder);$event.stopPropagation();"
             ng-class="['include-folders_' + folder.deepStep, {'first-item': folder.id === null && folder.parent_id === null,
             'opened': selectedFolderIds.indexOf(folder.id) !== -1}]"
             data-item-id="[[folder.id]]"
             lvl-drop-target
             on-drop="dropped(dragEl, dropEl)">
            <span>
                <i data-ng-click="addFolderSelected(folder);$event.stopPropagation();"
                   class="icon"
                   ng-class="selectIconFolder(folder)"></i>
                [[ folder.title ]]
            </span>
        </div>
    </div>
    <div ng-show="(selectedFolderIds.indexOf(folder.id) !== -1 || folder.childFolders.length === 0)">
        <div ng-if="!currentUrlIsManage"
             class="session-box"
             ng-repeat="session in folder.progressionSessions">
            <div class="session progression-item-draggable flex-row-cdt row__13"
                 data-session-id="[[session.id]]"
                 lvl-draggable="true">
                <span ng-show="false">[[session.id]]</span>
                <span ng-show="false">[[session.progression_homeworks.length]]</span>
                <span class="flex-col col__1"></span>
                <span class="flex-col"
                      ng-class="{'col__6': session.class && session.class != '', 'col__10': !session.class || session.class === ''}"><span
                        class="item-no-wrap">[[session.title]]</span></span>
                <span class="flex-col col__4"
                      ng-if="session.class && session.class != ''">
                    <span class="item-no-wrap">([[session.class]])</span>
                </span>

                <!-- display icon homeworks if have at least one -->
                <span class="flex-col col__2 work" ng-show="session.progression_homeworks.length !== 0">
                    <div ng-include="'/diary/public/img/inbox.svg'" class="large ng-scope"></div>
                </span>

            </div>
        </div>
        <div ng-init="subProgressionsItems = folder.childFolders"
             ng-include="'/diary/public/template/progression/progression-tree.html'"></div>
    </div>
</div>

<div ng-if="isFilterSearch()">
    <div ng-repeat="folder in searchFolders" class="folder-content">
        <div ng-class="{'selected-item': folder.selected}">
            <div class="folder item-no-wrap"
                 ng-click="selectItem(folder);$event.stopPropagation();"
                 ng-class="['include-folders_' + 0, {'first-item': folder.id === null && folder.parent_id === null,
             'opened': selectedFolderIds.indexOf(folder.id) !== -1}]"
            >
            <span>
                <i class="icon" ng-class="selectIconFolder(folder)"
                   data-ng-click="addFolderSelected(folder);$event.stopPropagation();"></i>
            [[ folder.title ]]
            </span>
            </div>
        </div>
        <div ng-show="(selectedFolderIds.indexOf(folder.id) !== -1)">
            <div ng-if="!currentUrlIsManage"
                 class="session-box"
                 ng-repeat="session in folder.progressionSessions">
                <div class="session progression-item-draggable flex-row-cdt row__13"
                     data-session-id="[[session.id]]"
                     lvl-draggable="true">
                    <span ng-show="false">[[session.id]]</span>
                    <span ng-show="false">[[session.progression_homeworks.length]]</span>
                    <span class="flex-col col__1"></span>
                    <span class="flex-col"
                          ng-class="{'col__6': session.class && session.class != '', 'col__10': !session.class || session.class === ''}"><span
                            class="item-no-wrap">[[session.title]]</span></span>
                    <span class="flex-col col__4"
                          ng-if="session.class && session.class != ''"><span
                            class="item-no-wrap">([[session.class]])</span></span>

                    <!-- display icon homeworks if have at least one -->
                    <span class="flex-col col__2 work" ng-show="session.progression_homeworks.length !== 0">
                        <div ng-include="'/diary/public/img/inbox.svg'" class="large ng-scope"></div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="!currentUrlIsManage"
         class="session-box"
         ng-repeat="session in searchSessions">
        <div class="session progression-item-draggable flex-row-cdt row__13"
             lvl-draggable="true">
            <span ng-show="false">[[session.id]]</span>
            <span ng-show="false">[[session.progression_homeworks.length]]</span>
            <span class="flex-col col__1"></span>
            <span class="flex-col"
                  ng-class="{'col__6': session.class && session.class != '', 'col__10': !session.class || session.class === ''}"><span
                    class="item-no-wrap">[[session.title]]</span></span>
            <span class="flex-col col__4"
                  ng-if="session.class && session.class != ''"><span
                    class="item-no-wrap">([[session.class]])</span>
            </span>

            <!-- display icon homeworks if have at least one -->
            <span class="flex-col col__2 work" ng-show="session.progression_homeworks.length !== 0">
                <div ng-include="'/diary/public/img/inbox.svg'" class="large ng-scope"></div>
            </span>
        </div>
    </div>
</div>