Pièces jointes
<button ng-click="showPersonalAttachments()" style="border-radius: 25px; font-size: 25px;">+</button>
<br>


<!-- Core attachment directive link -->
<lightbox show="display.showPersonalAttachments" on-close="display.showPersonalAttachments = false">
    <!-- directive linked to attachmentsx directive -->
    <media-library ng-model="selectedAttachments"
                   ng-change="updateSelectedAttachments(selectedAttachments)"
                   multiple="true"
                   file-format="'any'"
                   >
    </media-library>
    <button ng-click="linkAttachmentsToItem()">Ajouter</button>
</lightbox>


<!-- Attachments list -->
<span ng-repeat="attachment in item.attachments">
    <attachment attachment="attachment" item="item" item-type="itemType"></attachment>
</span>