<!-- if readonly only display attachment label if there are attachments -->
<span class="two" ng-if="!readonly || (readonly && item.attachments.length > 0)">
<i18n>diary.attachments.label</i18n>
    <div ng-if="!readonly" class="theopener" ng-click="showPersonalAttachments()" tooltip="Ajouter un pièce jointe">
        +
    </div>
</span>
<br>

<!-- Core attachment directive link -->
<lightbox ng-if="!readonly" show="display.showPersonalAttachments" on-close="display.showPersonalAttachments = false">
    <!-- directive linked to attachmentsx directive -->
    <media-library ng-model="selectedAttachments"
                   ng-change="updateSelectedAttachments(selectedAttachments)"
                   multiple="true"
                   file-format="'any'"
                   >
    </media-library>
    <button ng-click="linkAttachmentsToItem()">Ajouter</button>
</lightbox>


<!-- Attachments list -->
<span ng-repeat="attachment in item.attachments">
    <attachment attachment="attachment" item="item" item-type="itemType" readonly="readonly"></attachment>
</span>