<!-- 3 homeworks max displayed = 40px * 3 -->
<style type="text/css">
    .schedule-item{
        margin-top: 120px
    }
</style>

<div class="row">
    <button ng-click="redirect('/createLessonView/default')">
        <i18n>diary.lesson.create</i18n>
    </button>
    <button ng-click="redirect('/createHomeworkView')">
        <i18n>diary.homework.create</i18n>
    </button>
    <i class="show-list" ng-class="{ selected: display.showList === true }" ng-click="showList()"
       tooltip="diary.icon.show.list"></i>
    <i class="show-calendar" ng-class="{ selected: display.showList === false }" ng-click="showCalendar()"
       tooltip="diary.icon.show.calendar"></i>
    <hr />
</div>

<div class="row">
    <filters>
        <li>
            <button ng-click="previousWeek(); ">&#8592;</button>
            <button ng-click="nextWeek(); ">&#8594;</button>
        </li>
    </filters>
    <calendar-daily-events for="calendar"
                           ng-model="homeworks.all"
                           on-create-open="redirect('/createHomeworkView')"
    ></calendar-daily-events>
    <div class="row" ng-if="! showCal">
        <calendar
                id="calendar"
                class="twelve cell"
                display-template="display-calendar-item"
                create-template="create-lesson"
                on-create-open="redirect('/createLessonView/timeFromCalendar')"
                items="lessons.all"></calendar>
    </div>
    <div class="row" ng-if="showCal">
        <calendar
                id="calendar"
                class="twelve cell"
                display-template="display-calendar-item"
                create-template="create-lesson"
                on-create-open="redirect('/createLessonView/timeFromCalendar')"
                items="lessons.all"></calendar>
    </div>
</div>

<!-- action panel displayed if at least one or homework selected -->
<section class="toggle-buttons" ng-class="{ hide: lessons.selection().length === 0 && homeworks.selection().length === 0  }">
    <div class="toggle">
        <div class="row">
            <button ng-click="showConfirmPanel('confirm-delete')">
                <i18n>remove</i18n>
            </button>
            <button ng-click="editSelectedItem()"  ng-class="{ disabled: !isOneHomeworkOrLessonStriclySelected()}"  >
                <i18n>edit</i18n>
            </button>
            <!-- not implemented yet so always disabled -->
            <button ng-click="shareSelectedLessons()" ng-class="{ disabled: lessons.selection().length >= 0 }">
                <i18n>share</i18n>
            </button>
            <!-- publish - lessons in draft state and homeworks in draft state not attached to lesson -->
            <button ng-click="showConfirmPanel('confirm-publish')" ng-if="hasPublishableOnlyItemsSelected(true)">
                <i18n>daily.item.publish</i18n>
            </button>
            <!-- unpublish - lessons in published state and homeworks in published state not attached to lesson -->
            <button ng-click="showConfirmPanel('confirm-unpublish')" ng-if="hasPublishableOnlyItemsSelected(false)">
                <i18n>daily.item.unpublish</i18n>
            </button>
        </div>
    </div>
</section>