<div ng-controller="CreationController" id="occurrences-creation">
    <h1 class="centered eight row">
        <i18n ng-if="isAnUpdate">edt.schedule.update</i18n>
        <i18n ng-if="!isAnUpdate">edt.schedule.create</i18n>
    </h1>
    <form>
        <article>
            <h3><i18n>cdt.utils.configuration</i18n></h3>
            <div ng-if="structures.all.length > 1" class="row form-row">
                <label for="select-structure" class="cell two twelve-mobile asterisk obligatoire">
                    Structure
                </label>
                <div class="cell twelve-mobile ten">
                    <select ng-model="course.structureId" id="select-structure" required
                            ng-options="structure.name for structure in structures.all">
                        <option value="" disabled selected>[[translate('cdt.creation.structure.choose')]]</option>
                    </select>
                </div>
            </div>
            <div class="row form-row">
                <label for="combo-teacher" class="cell two twelve-mobile">
                    <i18n>utils.teachers</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <multi-combo title="[[translate('cdt.creation.teachers.choose')]]" id="combo-teacher" combo-model="structure.teachers.all"
                                 search-on="displayName" order-by="displayName" filtered-model="course.teachers"
                                 labels="comboLabels"></multi-combo>
                    <div class="select-blocks">
                        <div ng-repeat="teacher in course.teachers"
                             ng-click="dropTeacher(teacher, course.teachers)">[[teacher.displayName]]</div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <label for="combo-groups" class="cell two twelve-mobile">
                    <i18n>utils.groups</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <multi-combo title="[[translate('cdt.creation.groups.choose')]]" id="combo-groups" combo-model="structure.groups.all"
                                 search-on="name" order-by="name" filtered-model="course.groups"
                                 labels="comboLabels"></multi-combo>
                    <div class="select-blocks">
                        <div ng-repeat="group in course.groups"
                             ng-click="dropGroup(group)">[[group.name]]</div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <label for="select-subject" class="cell two twelve-mobile">
                    <i18n>subject</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <select class="twelve-mobile six" id="select-subject" ng-model="course.subjectId" required
                            ng-options="subject.subjectId as subject.subjectLabel for subject in structure.subjects.all">
                        <option value="" disabled selected>[[translate('cdt.creation.subject.choose')]]</option>
                    </select>
                </div>
            </div>
            <div class="row row-form">
                <label class="cell row-form two twelve-mobile">
                    <i18n>cdt.type</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <label>
                        <input type="radio" ng-model="is_recurrent" ng-value="false">
                        <i18n>cdt.type.punctual</i18n>
                    </label>
                    <label>
                        <input type="radio" ng-model="is_recurrent" ng-value="true">
                        <i18n>cdt.type.recurrent</i18n>
                    </label>
                </div>
            </div>
            <div ng-if="!is_recurrent" class="row form-row">
                <label class="cell two twelve-mobile">
                    <i18n>date</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <i18n>the</i18n>
                    <date-picker
                            ng-model="course.startDate"
                            ng-change="changeDate()"
                    >
                    </date-picker>
                    <i18n>from2</i18n>
                    <input type="time" ng-model="courseOccurrenceForm.startTime" required/>
                    <i18n>to2</i18n>
                    <input type="time" ng-model="courseOccurrenceForm.endTime" required/>
                </div>
            </div>
            <div ng-if="!is_recurrent" class="row form-row">
                <label class="cell two twelve-mobile">
                    <i18n>cdt.utils.room</i18n>
                </label>
                <div class="cell twelve-mobile ten"><input ng-model="courseOccurrenceForm.roomLabels[0]"/>
                </div>
            </div>
            <div ng-if="is_recurrent" class="row form-row">
                <div class="cell twelve">
                    <div class="row form-row">
                        <label class="cell two twelve-mobile">
                            <i18n>date</i18n>
                        </label>
                        <div class="cell twelve-mobile ten">

                            <i18n>from</i18n>
                            <date-picker ng-change="changeDate()" ng-model="course.startDate"></date-picker>
                            <i18n>to</i18n>
                            <date-picker ng-change="changeDate()" ng-model="course.endDate"></date-picker>
                        </div>
                    </div>

                    <div class="row form-row">
                        <table class="twelve list-view" style="text-align: center">
                            <thead>
                            <tr>
                                <td>
                                    <i18n>cdt.utils.day</i18n>*
                                </td>
                                <td>
                                    <i18n>cdt.utils.start.time</i18n>*
                                </td>
                                <td>
                                    <i18n>cdt.utils.end.time</i18n>*
                                </td>
                                <td>
                                    <i18n>cdt.utils.room</i18n>
                                </td>
                                <td>&nbsp;</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="courseOccurrence in course.courseOccurrences">
                                <td>[[daysOfWeek.get(courseOccurrence.dayOfWeek)]]</td>
                                <td>[[courseOccurrence.getFormattedStartTime()]]</td>
                                <td>[[courseOccurrence.getFormattedEndTime()]]</td>
                                <td>[[courseOccurrence.roomLabels.length > 0 ? courseOccurrence.roomLabels[0] : '']]</td>
                                <td class="drop-line" ng-click="dropOccurrence(courseOccurrence)"></td>
                            </tr>
                            <tr>
                                <td>
                                    <select ng-model="courseOccurrenceForm.dayOfWeek" required>
                                        <option ng-repeat="(dayNumber, dayTranslation) in daysOfWeek.days"
                                                ng-selected="[[dayNumber == courseOccurrenceForm.dayOfWeek]]"
                                                value="[[dayNumber]]">
                                            [[daysOfWeek.get(dayNumber)]]
                                        </option>
                                    </select>
                                </td>
                                <td><input type="time" ng-model="courseOccurrenceForm.startTime" required/></td>
                                <td><input type="time" ng-model="courseOccurrenceForm.endTime" required/></td>
                                <td><input ng-model="courseOccurrenceForm.roomLabels[0]"/></td>
                                <td>
                                    <button ng-click="submit_CourseOccurrence_Form()">
                                        <i18n>cdt.utils.add</i18n>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </article>
        <div class="right-magnet vertical-spacing">
            <div ng-if="form_is_not_valid" class="warning"> <i18n>cdt.creation.error</i18n></div>
            <button class="cancel" type="button" ng-click="cancelCreation()">
                <i18n>cdt.utils.cancel</i18n>
            </button>
            <button ng-disabled="!isValidForm()" type="submit" ng-click="saveCourse(course)">
                <i18n ng-if="isAnUpdate">edt.utils.modify</i18n>
                <i18n ng-if="!isAnUpdate">edt.utils.create</i18n>
            </button>
        </div>
    </form>


</div>