<div ng-controller="createSessionCtrl" id="occurrences-creation">
    <h1 class="centered eight row">
        <i18n ng-if="isAnUpdate">edt.schedule.update</i18n>
        <i18n ng-if="!isAnUpdate">edt.schedule.create</i18n>
    </h1>
    <form>
        <article>
            <h3><i18n>cdt.utils.configuration</i18n></h3>
            <div ng-if="structures.all.length > 1" class="row form-row">
                <label for="select-structure" class="cell two twelve-mobile">
                    Structure
                </label>
                <div class="cell twelve-mobile ten">
                    <select ng-model="session.structureId" id="select-structure" required
                            ng-options="structure.name for structure in structures.all">
                        <option value="" disabled selected>[[translate('cdt.creation.structure.choose')]]</option>
                    </select>
                </div>
            </div>
            <div class="row form-row">
                <label for="combo-teacher" class="cell two twelve-mobile">
                    <i18n>utils.teachers</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <multi-combo title="[[translate('cdt.creation.teachers.choose')]]" id="combo-teacher" combo-model="structure.teachers.all"
                                 search-on="displayName" order-by="displayName" filtered-model="session.teachers"
                                 labels="comboLabels"></multi-combo>
                    <div class="select-blocks">
                        <div ng-repeat="teacher in session.teachers"
                             ng-click="dropTeacher(teacher, session.teachers)">[[teacher.displayName]]</div>
                    </div>
                </div>
            </div>
            <div class="row form-row">
                <label for="group-list">
                    <i18n>utils.groups</i18n>
                </label>
                <select ng-model="session.group"
                        id="group-list"
                        class="twelve"
                        ng-change="params.user = null; getTimetable()"
                        ng-options="group as group.name for group in structure.groups.all">
                    <option value="" disabled selected>[[translate('utils.group.choose.one')]]</option>
                </select>
            </div>
            <div class="row form-row">
                <label for="select-subject" class="cell two twelve-mobile">
                    <i18n>subject</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <select class="twelve-mobile six" id="select-subject" ng-model="session.subjectId" required
                            ng-options="subject.id as subject.label for subject in structure.subjects.all">
                        <option value="" disabled selected>[[translate('cdt.creation.subject.choose')]]</option>
                    </select>
                </div>
            </div>
            <div class="row form-row">
                <label class="cell two twelve-mobile">
                    <i18n>date</i18n>*
                </label>
                <div class="cell twelve-mobile ten">
                    <i18n>the</i18n>
                    <date-picker
                            ng-model="session.startDate"
                            ng-change="changeDate()"
                    >
                    </date-picker>
                    <i18n>from2</i18n>
                    <input type="time" ng-model="session.startTime" required/>
                    <i18n>to2</i18n>
                    <input type="time" ng-model="session.endTime" required/>
                </div>
            </div>
            <div class="row form-row">
                <label class="cell two twelve-mobile">
                    <i18n>cdt.utils.room</i18n>
                </label>
                <div class="cell twelve-mobile ten"><input ng-model="session.roomLabels[0]"/>
                </div>
            </div>
            

        </article>
        <div class="right-magnet vertical-spacing">
            <div ng-if="form_is_not_valid" class="warning"> <i18n>cdt.creation.error</i18n></div>
            <button class="cancel" type="button" ng-click="cancelCreation()">
                <i18n>cdt.utils.cancel</i18n>
            </button>
            <button ng-disabled="!isValidForm()" type="submit" ng-click="saveSession(session)">
                <i18n ng-if="isAnUpdate">edt.utils.modify</i18n>
                <i18n ng-if="!isAnUpdate">edt.utils.create</i18n>
            </button>
        </div>
    </form>


</div>