<form ng-submit="(lesson.id) ? updateLesson(): createLesson(newItem.beginning, newItem.end)">
    <h2><i18n>lesson.details.title</i18n></h2>
    <div class="row">
        <div class="six cell">
            <label><i18n>subject</i18n></label>
            <select
                ng-model="lesson.subject"
                ng-options="subject as subject.label for subject in subjects.all"
            ></select>
        </div>
        <div class="right-magnet cell">
            <input type="radio" name="audience" value="class" ng-model="lesson.audienceType" />
            <i18n>classroom</i18n>
            <input type="radio" name="audience" value="group" ng-model="lesson.audienceType" />
            <i18n>group</i18n>
            <select 
                ng-model="lesson.classroom"
                ng-options="classroom as classroom.name for classroom in classrooms.all"
            ></select>
        </div>
    </div>
    <section class=tabs row">
        <header ng-class="{ selected: tabs.createLesson === 'lesson' }"
                ng-click="tabs.createLesson = 'lesson'">
            <i18n>create.lesson.tabs.lesson</i18n>
        </header>
        <header ng-class="{ selected: tabs.createLesson === 'homeworks' }"
                ng-click="tabs.createLesson = 'homeworks'">
            <i18n>create.lesson.tabs.homeworks</i18n>
        </header>
        <section ng-if="tabs.createLesson === 'lesson'">
            <div class="row">
                <input type="text" i18n-placeholder="title" ng-model="lesson.title" required class="six cell" />
                <div class="five cell right-magnet">
                    <div class="one cell right-magnet [[lesson.color]] height-one">
                        &nbsp;
                        <color-select ng-model="lesson.color"></color-select>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="three cell">
                    <label class="cell three"><i18n>date</i18n></label>
                    <date-picker ng-model="newItem.beginning" class="cell six"></date-picker>
                </div>
                <div class="three cell">
                    <label class="cell four"><i18n>start.time</i18n></label>
                    <time-picker ng-model="newItem.beginning" class="cell four"></time-picker>
                </div>
                <div class="three cell">
                    <label class="cell four"><i18n>end.time</i18n></label>
                    <time-picker ng-model="newItem.end" class="cell four"></time-picker>
                </div>
                <div class="two cell">
                    <label class="cell five"><i18n>room</i18n></label>
                    <input type="text" i18n-placeholder="room" ng-model="lesson.room" class="cell six" required />
                </div>
                
            </div>
            <div class="row">
                <editor ng-model="lesson.description"></editor>
            </div>
            <div class="row accordions">
                <article class="accordion" ng-class="{ opened: tabs.showAnnotations }">
                    <h2 ng-click="tabs.showAnnotations = !tabs.showAnnotations">
                        <i18n>annotations.title</i18n>
                    </h2>
                    <div class="toggle">
                        <editor ng-model="lesson.annotations"></editor>
                    </div>
                </article>
            </div>
        </section>
        <section ng-if="tabs.createLesson === 'homeworks'">
            <div class="row" ng-repeat="homework in lesson.homeworks.all">
                <div class="row">
                    <input type="text" ng-model="homework.title" i18n-placeholder="title" class="six cell" required />
                </div>
                <div class="row">
                    <div class="four cell">
                        <label class="three cell"><i18n>date</i18n></label>
                        <date-picker class="five cell" ng-model="homework.dueDate"></date-picker>
                    </div>
                    <div class="five cell">
                        <label class="three cell"><i18n>type</i18n></label>
                        <select class="seven cell" 
                                ng-options="type as type.label for type in homeworkTypes.all"
                                ng-model="homework.type"></select>
                    </div>
                </div>
                <div class="row">
                    <editor ng-model="homework.description"></editor>
                </div>
            </div>
            <div class="row">
                <a ng-click="lesson.addHomework()"><i18n>lesson.homeworks.add</i18n></a>
            </div>
        </section>
        <div class="row">
            <button ng-if="! lesson.id" class="right-magnet"><i18n>create</i18n></button>
            <button ng-if="lesson.id" class="right-magnet"><i18n>update</i18n></button>
            <button type="button" class="right-magnet cancel" ng-click="lightboxes.createLesson = false"><i18n>cancel</i18n></button>
        </div>
    </section>
</form>