<form name="lessonform">
    <h2><i18n>lesson.details.title</i18n></h2>
    <div class="row">
        <div class="six cell">
            <label><i18n>subject</i18n></label>
            <select ng-if="isLessonHomeworkEditable"
                    ng-model="lesson.subject"
                    ng-options="subject as subject.label for subject in subjects.all"
                    required></select>
            <select ng-if="!isLessonHomeworkEditable"
                    ng-model="lesson.subject"
                    ng-options="subject as subject.label for subject in subjects.all"
                    disabled></select>
        </div>
        <div class="right-magnet cell">
            <i18n>diary.audience</i18n>:
            <select
                    ng-if="isLessonHomeworkEditable"
                    ng-model="lesson.audience"
                    ng-options="audience as audience.name group by audience.typeLabel for audience in audiences.all"
            ></select>
            <select
                    ng-if="!isLessonHomeworkEditable"
                    ng-model="lesson.audience"
                    ng-options="audience as audience.name group by audience.typeLabel for audience in audiences.all"
                    disabled
            ></select>
        </div>
    </div>

    <section class="tabs row">
        <header ng-class="{ selected: tabs.createLesson === 'lesson' }"
                ng-click="tabs.createLesson = 'lesson'">
            <i18n>create.lesson.tabs.lesson</i18n>
        </header>
        <header ng-class="{ selected: tabs.createLesson === 'homeworks' }"
                ng-click="tabs.createLesson = 'homeworks';">
            <i18n>create.lesson.tabs.homeworks</i18n>
        </header>





        <section ng-show="tabs.createLesson === 'lesson'">
            <div class="row">
                <input ng-if="isLessonHomeworkEditable" type="text" i18n-placeholder="title" ng-model="lesson.title" maxlength="50" required class="six cell" />
                <input ng-if="!isLessonHomeworkEditable" type="text" i18n-placeholder="title" ng-model="lesson.title" maxlength="50" required class="six cell" readonly/>


                <div ng-if="!isLessonHomeworkEditable" class="four cell lessonTeacher">
                    <label class="cell four"><i18n>enseignant</i18n></label>
                    <input type="text" i18n-placeholder="enseignant" value="Mme Michu" maxlength="20" class="cell six" readonly/>
                </div>

                <!--ng-model="lesson.teacher"-->
                <div class="cell right-magnet">
                    <input ng-if="!isLessonHomeworkEditable" type="color" ng-model="lesson.color" disabled>
                    <input ng-if="isLessonHomeworkEditable" type="color" ng-model="lesson.color">
                </div>

            </div>
            <div class="row">
                <!-- Beginning (Date: DD/MM/YYYY) -->
                <div class="three cell">
                    <label class="cell three"><i18n>date</i18n></label>
                    <input ng-if="!isLessonHomeworkEditable" type="text" class="cell six" value="[[formatDate(newItem.date)]]" readonly/>
                    <date-picker ng-if="isLessonHomeworkEditable" ng-model="newItem.date"  class="cell six"></date-picker>
                </div>

                <!-- Beginning (Time: HH:mm) -->
                <div class="three cell">
                    <label class="cell four"><i18n>start.time</i18n></label>
                    <input ng-if="!isLessonHomeworkEditable" type="text" class="cell four" value="[[formatTime(newItem.beginning)]]" readonly/>
                    <time-picker ng-if="isLessonHomeworkEditable" ng-model="newItem.beginning" class="cell four"></time-picker>
                </div>

                <!-- End (Time: HH:mm) -->
                <div class="three cell">
                    <label class="cell four"><i18n>end.time</i18n></label>
                    <input ng-if="!isLessonHomeworkEditable" type="text" class="cell four" value="[[formatTime(newItem.end)]]" readonly/>
                    <time-picker ng-if="isLessonHomeworkEditable" ng-model="newItem.end" class="cell four"></time-picker>
                </div>
                <div class="two cell">
                    <label class="cell five"><i18n>room</i18n></label>
                    <input ng-if="!isLessonHomeworkEditable" type="text" i18n-placeholder="room" ng-model="lesson.room" maxlength="8" class="cell six" readonly/>
                    <input ng-if="isLessonHomeworkEditable" type="text" i18n-placeholder="room" ng-model="lesson.room" maxlength="8" class="cell six" />
                </div>

            </div>
            <div class="row">
                <div ng-if="!isLessonHomeworkEditable" ng-bind-html="lesson.description" class="lessonHomeworkDescription"></div>
                <editor ng-if="isLessonHomeworkEditable" ng-model="lesson.description"></editor>
            </div>
            <div ng-if="isLessonHomeworkEditable" class="row accordions">
                <article class="accordion" ng-class="{ opened: tabs.showAnnotations }">
                    <h2 ng-click="tabs.showAnnotations = !tabs.showAnnotations">
                        <i18n>annotations.title</i18n>
                    </h2>
                    <div class="toggle">
                        <editor ng-model="lesson.annotations"></editor>
                    </div>
                </article>
            </div>
        </section>






        <!-- HOMEWORK(S) ATTACHED TO LESSON -->
        <section ng-show="tabs.createLesson === 'homeworks'">
            <div class="row" ng-repeat="homework in lesson.homeworks.all">
                <div class="row">
                    <input ng-if="!isLessonHomeworkEditable" type="text" ng-model="homework.title" i18n-placeholder="title" maxlength="50" class="six cell" required readonly/>
                    <input ng-if="isLessonHomeworkEditable" type="text" ng-model="homework.title" i18n-placeholder="title" maxlength="50" class="six cell" required/>
                    <!-- deletes homework -->
                    <div class="controls">
                        <i ng-if="isLessonHomeworkEditable" ng-click="showConfirmPanel('confirm-delete-homeworklesson', homework)" style="float: right;" tooltip="daily.homework.delete">
                            <!--TODO move to fontello -->
                            <svg
                                    xmlns:dc="http://purl.org/dc/elements/1.1/"
                                    xmlns:cc="http://creativecommons.org/ns#"
                                    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                                    xmlns:svg="http://www.w3.org/2000/svg"
                                    xmlns="http://www.w3.org/2000/svg"
                                    xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
                                    xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
                                    viewBox="0 -256 1792 1792"
                                    id="svg3741"
                                    version="1.1"
                                    inkscape:version="0.48.3.1 r9886"
                                    width="32px"
                                    height="32px"
                                    sodipodi:docname="trash_font_awesome.svg">
                                <metadata
                                        id="metadata3751">
                                    <rdf:RDF>
                                        <cc:Work
                                                rdf:about="">
                                            <dc:format>image/svg+xml</dc:format>
                                            <dc:type
                                                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                                        </cc:Work>
                                    </rdf:RDF>
                                </metadata>
                                <defs
                                        id="defs3749" />
                                <g
                                        transform="matrix(1,0,0,-1,197.42373,1255.0508)"
                                        id="g3743">
                                    <path
                                            d="M 512,800 V 224 q 0,-14 -9,-23 -9,-9 -23,-9 h -64 q -14,0 -23,9 -9,9 -9,23 v 576 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 256,0 V 224 q 0,-14 -9,-23 -9,-9 -23,-9 h -64 q -14,0 -23,9 -9,9 -9,23 v 576 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z m 256,0 V 224 q 0,-14 -9,-23 -9,-9 -23,-9 h -64 q -14,0 -23,9 -9,9 -9,23 v 576 q 0,14 9,23 9,9 23,9 h 64 q 14,0 23,-9 9,-9 9,-23 z M 1152,76 v 948 H 256 V 76 Q 256,54 263,35.5 270,17 277.5,8.5 285,0 288,0 h 832 q 3,0 10.5,8.5 7.5,8.5 14.5,27 7,18.5 7,40.5 z M 480,1152 h 448 l -48,117 q -7,9 -17,11 H 546 q -10,-2 -17,-11 z m 928,-32 v -64 q 0,-14 -9,-23 -9,-9 -23,-9 h -96 V 76 q 0,-83 -47,-143.5 -47,-60.5 -113,-60.5 H 288 q -66,0 -113,58.5 Q 128,-11 128,72 v 952 H 32 q -14,0 -23,9 -9,9 -9,23 v 64 q 0,14 9,23 9,9 23,9 h 309 l 70,167 q 15,37 54,63 39,26 79,26 h 320 q 40,0 79,-26 39,-26 54,-63 l 70,-167 h 309 q 14,0 23,-9 9,-9 9,-23 z"
                                            id="path3745"
                                            inkscape:connector-curvature="0"
                                            style="fill:currentColor" />
                                </g>
                            </svg>

                        </i>
                    </div>
                </div>
                <div class="row">
                    <div class="four cell">
                        <label class="three cell"><i18n>date</i18n></label>
                        <input ng-if="!isLessonHomeworkEditable" type="text" class="five cell" value="[[formatDate(homework.dueDate)]]" readonly/>
                        <date-picker ng-if="isLessonHomeworkEditable" class="five cell" ng-model="homework.dueDate"></date-picker>
                    </div>
                    <div class="five cell">
                        <label class="three cell"><i18n>homework.type</i18n></label>
                        <select ng-if="!isLessonHomeworkEditable"
                                class="seven cell"
                                ng-options="type as type.label for type in homeworkTypes.all"
                                ng-model="homework.type"
                                disabled></select>

                        <select ng-if="isLessonHomeworkEditable"
                                class="seven cell"
                                ng-options="type as type.label for type in homeworkTypes.all"
                                ng-model="homework.type"></select>
                    </div>
                </div>
                <div class="row">
                    <div ng-if="!isLessonHomeworkEditable" ng-bind-html="homework.description" class="lessonHomeworkDescription"></div>
                    <editor ng-if="isLessonHomeworkEditable" ng-model="homework.description"></editor>
                </div>
            </div>
            <div ng-if="isLessonHomeworkEditable" class="row">
                <a ng-click="lesson.addHomework()"><i18n>lesson.homeworks.add</i18n></a>
            </div>
        </section>


        <div class="row">
            <nav>
                <!-- publishes the current lesson ang go back to calendar view -->
                <button ng-if="isLessonHomeworkEditable && lesson.id && lesson.state == 'draft'" class="right-magnet" type="submit"  data-ng-click="lessonform.$valid && showConfirmPanel('confirm-publish-lesson')">
                    <i18n>daily.item.publish</i18n>
                </button>

                <!-- un-publishes the current lesson (back to draft mode) and go back to calendar view -->
                <button ng-if="isLessonHomeworkEditable && lesson.id && lesson.state == 'published'" class="right-magnet" type="submit"  data-ng-click="lessonform.$valid && showConfirmPanel('confirm-unpublish-lesson')">
                    <i18n>daily.item.unpublish</i18n>
                </button>

                <!-- save lesson in draft mode and go back to calendar view -->
                <button ng-if="isLessonHomeworkEditable" class="right-magnet" type="submit" data-ng-click="lessonform.$valid && createOrUpdateLesson(true)">
                    <i18n>back</i18n>
                </button>
                <!-- save lesson in draft mode -->
                <button ng-if="isLessonHomeworkEditable" class="right-magnet" type="submit" data-ng-click="lessonform.$valid && createOrUpdateLesson(false)">
                    <i18n>save</i18n>
                </button>
                <!-- go back to calendar view without saving -->
                <button ng-if="isLessonHomeworkEditable" class="right-magnet cancel" type="button" ng-click="redirect('/mainView')">
                    <i18n>cancel</i18n>
                </button>

                <!-- go back to calendar view without saving -->
                <button ng-if="!isLessonHomeworkEditable" class="right-magnet cancel" type="button" ng-click="redirect('/mainView')">
                    <i18n>back</i18n>
                </button>
            </nav>
        </div>
    </section>
</form>