<div ng-if="display.showPanel">
    <lightbox show="display.showPanel" on-close="closeConfirmPanel()">
        <container template="lightbox"></container>
    </lightbox>
</div>
<form name="homeworkform">
    <h2><i18n>homework.details.title</i18n></h2>
    <div class="row">
        <div class="six cell">
            <label><i18n>subject</i18n></label>
            <select ng-model="homework.subject"
                    ng-options="subject as subject.label for subject in subjects.all" required></select>
        </div>
        <div class="right-magnet cell">
            <i18n>diary.audience</i18n>:
            <select ng-model="homework.audience"
                    ng-options="audience as audience.name group by audience.typeLabel for audience in audiences.all"></select>
        </div>
    </div>
    <section class="homework-detail">
    <div class="row">
        <input type="text" i18n-placeholder="title" ng-model="homework.title" maxlength="50" required class="six cell" />
        <div class="five cell right-magnet">
            <div class="one cell right-magnet height-one" style="margin-right: 10px;">
                &nbsp;
                <input type="color" ng-model="homework.color">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="three cell">
                <label class="cell three"><i18n>date</i18n></label>
                <date-picker ng-model="newItem.date"  class="cell six"></date-picker>
            </div>

            <label><i18n>homework.types</i18n></label>
            <select
                ng-options="type as type.label for type in homeworkTypes.all"
                ng-model="homework.type">
            </select>
        </div>
    </div>
    <div class="row">
        <editor ng-model="homework.description"></editor>
    </div>
    </section>
    <div class="row">
        <!-- publishes the current lesson ang go back to calendar view -->
        <button class="right-magnet" type="submit" ng-if="homework.id && homework.state == 'draft'" data-ng-click="homeworkform.$valid && showConfirmPanel('confirm-publish-homework')">
            <i18n>daily.item.publish</i18n>
        </button>

        <!-- un-publishes the current lesson (back to draft mode) and go back to calendar view -->
        <button class="right-magnet" type="submit" ng-if="homework.id && homework.state == 'published'" data-ng-click="homeworkform.$valid && showConfirmPanel('confirm-unpublish-homework')">
            <i18n>daily.item.unpublish</i18n>
        </button>
        <!-- save homework in draft mode and go back to calendar view -->
        <button class="right-magnet" type="submit" data-ng-click="homeworkform.$valid && createOrUpdateHomework(true)">
            <i18n>back</i18n>
        </button>
        <!-- save homework in draft mode -->
        <button class="right-magnet" type="submit" data-ng-click="homeworkform.$valid && createOrUpdateHomework(false)">
            <i18n>save</i18n>
        </button>
        <!-- go back to calendar view without saving -->
        <button type="button" class="right-magnet cancel" ng-click="redirect('/mainView')"><i18n>cancel</i18n></button>
    </div>
</form>