<div class="schedule-item-content" style="display: flex; flex-direction: column" ng-style="{'background-color': item.color}" tooltip="[[item.subjectLabel]]-[[item.audienceLabel]]<br>[[item.room]]<br>[[item.title]]" ng-click="openOnClickSaveOnDrag(item, $event)" ng-mouseDown="setMouseDownTime($event)">

    <!-- 4 - HOUR -->
    <div style="display: flex; flex-direction: row; flex-wrap: nowrap">
        <span id="hour" style="white-space: nowrap; overflow: hidden">
        [[item.startMoment.format('HH')]]h[[item.startMoment.format('mm')]]
        -[[item.endMoment.format('HH')]]h[[item.endMoment.format('mm')]]
        </span>
        <!-- 3 - SALLE -->
        <span id="room" style="float: right; white-space: nowrap; margin-left: 0.5em">[[item.room]]</span>
    </div>

    <!-- -->
    <div style="overflow: hidden">

        <!--  2 - CLASSE -->
        <span style="white-space: nowrap">[[item.audienceLabel]]</span>

        <!-- 5 - CHECK -->
        <input id="itemcheckbox" ng-if="isUserTeacher" type="checkbox" ng-model="item.selected"
               style="float: right; margin-right: 5%; overflow: hidden;white-space: nowrap"/>

        <!-- 1 - ICONE BROUILLON -->
        <span id="state" ng-if="[[item.state]]=='draft'" style="width: 10%; float: right;white-space: nowrap">
            <i class="icon pencil" style="float: right;"></i>
        </span>
    </div>

    <div>
        <span id="subjectlabel" style="overflow: hidden; text-overflow: ellipsis;white-space: nowrap">[[item.subjectLabel]]&nbsp;</span>
    </div>
</div>