<div class="schedule-item-content" ng-style="{'background-color': item.color}" tooltip="[[item.audienceLabel]] - [[item.title]]" ng-click="openOnClickSaveOnDrag(item, $event)" ng-mouseDown="setMouseDownTime($event)">
    <div class="cell twelve">
        [[item.startMoment.format('HH')]]h[[item.startMoment.format('mm')]]
        -[[item.endMoment.format('HH')]]h[[item.endMoment.format('mm')]]

        <div style="float: right; margin-right: 5%">[[item.room]]</div>
    </div>

    <div class="cell twelve">
        <span>[[item.subjectLabel]]&nbsp; [[item.audienceLabel]]</span>

        <input type="checkbox" ng-model="item.selected"   style="float: right; margin-right: 5%;"/>

		<span ng-if="[[item.state]]=='draft'">
            <i class="icon pencil" style="float: right;"></i>
		</span>
    </div>

</div>