<div class="dropdown-container" ng-class="{ show: listVisible }">
    <div class="dropdown-display" ng-click="show();" ng-class="{ clicked: listVisible }">
        <span ng-if="!isPlaceholder">{{display}}</span>
		<span id="placeholder" class="placeholder" ng-if="isPlaceholder">{{translated_placeholder}}</span>
		<i class="arrow-down"></i>
    </div>
    <div class="dropdown-list">
        <div class="dropdown-list-content">
            <div class="subtitle"><i18n>my.groups.and.classes</i18n></div>
            <div class="item-list" ng-repeat="audience in list" ng-click="select(audience)" ng-class="{ selected: isSelected(audience) }">
                <span class="audience-item">{{property !== undefined ? audience[property] : audience}}</span>
            </div>
            <div ng-if="!searchPerformed">
                <div class="search-link" ng-click="searchAudiences()"><i18n>search.groups.and.classes</i18n></div>
            </div>
            <div ng-if="searchPerformed">
                <div class="subtitle"><i18n>other.groups.and.classes</i18n></div>
                <div ng-if="otherAudiences.length <= 0" class="subtitle">
                    <i18n>group.search.no.result</i18n>
                </div>
                <div class="item-list" ng-repeat="other in otherAudiences" ng-click="select(other)" ng-class="{ selected: isSelected(other) }">
                    <span class="audience-item">{{property !== undefined ? other[property] : other}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
