<div class="row">
    <button ng-click="redirect('/createLessonView/default')" ng-if="isUserTeacher">
        <i18n>diary.lesson.create</i18n>
    </button>
    <button ng-click="redirect('/createHomeworkView')" ng-if="isUserTeacher">
        <i18n>diary.homework.create</i18n>
    </button>
    <i class="show-list" ng-class="{ selected: display.showList === true }" ng-click="showList()"
       tooltip="diary.icon.show.list"></i>
    <i class="show-calendar" ng-class="{ selected: display.showList === false }" ng-click="showCalendar()"
       tooltip="diary.icon.show.calendar"></i>
    <hr />
</div>

<div ng-model="searchForm" class="search-form-box">
    <i style="float: left !important; box-shadow: none; background: none; font-size: 42px;[[(searchForm.displayLesson) ? 'opacity:1' : 'opacity:0.3' ]]"
       class="show-lessons" ng-class="{ selected: searchForm.displayLesson == false}"
       ng-click="toggleFilterOnLesson()" tooltip="diary.icon.show.lessons"></i>
    <i style="float: left !important; box-shadow: none; background: none; font-size: 42px;[[(searchForm.displayHomework) ? 'opacity:1' : 'opacity:0.3' ]]"
       class="show-homeworks" ng-class="{ selected: searchForm.displayHomework == false}"
       ng-click="toggleFilterOnHomework()" tooltip="diary.icon.show.homeworks"></i>
    <p style="padding-left: 20px; display:inline;">
        <label style="vertical-align:center">Période du </label>
        <date-picker ng-model="searchForm.startDate" style="width: 80px"></date-picker>
        <label style="vertical-align:center"> au </label>
        <date-picker ng-model="searchForm.endDate" style="width: 80px"></date-picker>
    </p>
    <i class="searchengine-large" style="font-size: 30px; position: absolute; padding-top: 10px; padding-left: 30px; color: #FF8500;" ng-click="performPedagogicItemSearch()"></i>
</div>


<section>
    <ul class="colored">
        <div ng-show="pedagogicItems.all.length <= 0">
            <i18n>diary.search.no.result</i18n>
        </div>
        <li ng-repeat="day in pedagogicItems.all">
            <div>
                <p>
                    <a ng-if="day.expanded !== true" ng-click="expandDay(day)">
                        <i class="caret"></i>[[day.dayName]]</a>
                    <a ng-if="day.expanded === true" ng-click="collapseDay(day)">
                        <i class="caret expanded"></i>[[day.dayName]]</a> <strong><i18n>diary.homework.label</i18n> ([[day.nbHomeworks]])&nbsp; <i18n>diary.lesson.label</i18n> ([[day.nbLessons]])</strong>
                </p>
            </div>
            <ul ng-if="day.expanded === true">
                <li ng-repeat="pedagogicItem in day.pedagogicItemsOfTheDay | filter : itemTypesDisplayed">
                    <div class="cell-no-float notification">
                        <i ng-class="pedagogicItem.type_item === 'homework'?'icon rack2 table-cell-left':'icon cahier-textes2 table-cell-left'" ng-style="{'color':pedagogicItem.color}"></i>
                        <div class="table-cell">
                            <div>
                                <i ng-if="pedagogicItem.published === false"><em class="low-importance"><i18n>diary.not.published</i18n>&nbsp;</em></i>
                                <em class="high-importance">[[pedagogicItem.subject]] &nbsp; [[pedagogicItem.audience]] &nbsp; [[pedagogicItem.teacher]]</em><br/>
                                <em class="medium-importance" ng-if="pedagogicItem.type_item === 'lesson'">
                                    <p style="display:inline">[[pedagogicItem.start_hour]] - [[pedagogicItem.end_hour]]&nbsp;</p>
                                    <p style="display:inline" ng-if="pedagogicItem.room">(<i18n>room</i18n> - [[pedagogicItem.room]])&nbsp;</p>
                                    [[pedagogicItem.title]]
                                </em>
                                <em class="medium-importance" ng-if="pedagogicItem.type_item === 'homework'">
                                    <p style="display:inline">[[pedagogicItem.type_homework]]&nbsp;</p>
                                    <p style="display:inline" ng-if="pedagogicItem.turn_in === 'rack'"><i18n>diary.homework.turn-in.rack</i18n>&nbsp;</p>
                                    <p style="display:inline" ng-if="pedagogicItem.turn_in === 'lesson'"><i18n>diary.homework.turn-in.lesson</i18n>&nbsp;</p>
                                    [[pedagogicItem.title]]
                                </em>
                            </div>
                            <span class="inline" style="[[(pedagogicItem.description.length >= pedagogicItem.descriptionMaxSize) ? 'cursor:pointer' : 'cursor:default' ]]" ng-click="pedagogicItem.expanded_description = !pedagogicItem.expanded_description">
                                <span ng-show="!pedagogicItem.expanded_description">
                                     <span bind-html="pedagogicItem.preview_description"></span>
                                </span>
                                <span ng-show="pedagogicItem.expanded_description">
                                     <span bind-html="pedagogicItem.description"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</section>