<div class="row">
    <button ng-click="redirect('/createLessonView/default')">
        <i18n>diary.lesson.create</i18n>
    </button>
    <button ng-click="redirect('/createHomeworkView')">
        <i18n>diary.homework.create</i18n>
    </button>
    <i class="show-list" ng-class="{ selected: display.showList === true }" ng-click="showList()"
       tooltip="diary.icon.show.list"></i>
    <i class="show-calendar" ng-class="{ selected: display.showList === false }" ng-click="showCalendar()"
       tooltip="diary.icon.show.calendar"></i>
    <hr />
</div>

<section>
    <ul class="colored">
        <li ng-repeat="day in pedagogicItems.all">
            <div>
                <p>
                    <a ng-if="day.expanded !== true" ng-click="expandDay(day)">
                        <i class="caret"></i>[[day.dayName]]</a>
                    <a ng-if="day.expanded === true" ng-click="collapseDay(day)">
                        <i class="caret expanded"></i>[[day.dayName]]</a> <strong><i18n>diary.homework.label</i18n> ([[day.nbHomeworks]])&nbsp; <i18n>diary.lesson.label</i18n> ([[day.nbLessons]])</strong>
                </p>
            </div>
            <ul ng-if="day.expanded === true">
                <li ng-repeat="pedagogicItem in day.pedagogicItemsOfTheDay">
                    <div class="cell-no-float notification">
                        <i ng-class="pedagogicItem.typeItem === 'homework'?'icon rack2 table-cell-left':'icon cahier-textes2 table-cell-left'" ng-style="{'color':pedagogicItem.color}"></i>
                        <div class="table-cell">
                            <div>
                                <i ng-if="pedagogicItem.published === false"><em class="low-importance"><i18n>diary.not.published</i18n>&nbsp;</em></i>
                                <em class="high-importance">[[pedagogicItem.subject]] &nbsp; [[pedagogicItem.audience]] &nbsp; [[pedagogicItem.teacher]]</em><br/>
                                <em class="medium-importance">
                                    <p style="display:inline" ng-if="pedagogicItem.typeItem === 'lesson'">[[pedagogicItem.startHour]] - [[pedagogicItem.endHour]]&nbsp;</p>
                                    [[pedagogicItem.title]]
                                </em>
                            </div>
                            <div ng-bind-html="pedagogicItem.description"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</section>