<h2 ng-if="isUserParent">
    <div ng-if="children">
        <div ng-if="children.all.length == 1">
            [[child.displayName]]
        </div>
        <div class="row" ng-if="children.all.length > 1">
                <span class="two childFilter"
                      ng-repeat="childd in children.all"
                      ng-click="setChildFilter(childd)"
                      ng-class="{ selected: childd.selected }">
                    [[childd.displayName]]
                </span>
        </div>
    </div>
</h2>
<div class="row">
    <button ng-click="redirect('/createLessonView/default')" ng-if="isUserTeacher">
        <i18n>diary.lesson.create</i18n>
    </button>
    <button ng-click="redirect('/createHomeworkView')" ng-if="isUserTeacher">
        <i18n>diary.homework.create</i18n>
    </button>
    <i class="show-list" ng-class="{ selected: display.showList === true }" ng-click="showList()"
       tooltip="diary.icon.show.list"></i>
    <i class="show-calendar" ng-class="{ selected: display.showList === false }" ng-click="showCalendar()"
       tooltip="diary.icon.show.calendar"></i>
    <hr />
</div>

<div ng-model="searchForm" class="search-form-box">
    <i style="float: left !important; box-shadow: none; background: none; font-size: 42px;[[(searchForm.displayLesson) ? 'opacity:1' : 'opacity:0.3' ]]"
       class="show-lessons" ng-class="{ selected: searchForm.displayLesson == false}"
       ng-click="toggleFilterOnLesson()" tooltip="diary.icon.show.lessons"></i>
    <i style="float: left !important; box-shadow: none; background: none; font-size: 42px;[[(searchForm.displayHomework) ? 'opacity:1' : 'opacity:0.3' ]]"
       class="show-homeworks" ng-class="{ selected: searchForm.displayHomework == false}"
       ng-click="toggleFilterOnHomework()" tooltip="diary.icon.show.homeworks"></i>
    <p style="padding-left: 20px; display:inline;">
        <label style="vertical-align:center">Période du </label>
        <date-picker ng-model="searchForm.startDate" style="width: 80px"></date-picker>
        <label style="vertical-align:center"> au </label>
        <date-picker ng-model="searchForm.endDate" style="width: 80px"></date-picker>
    </p>
    <input type="hidden" ng-model="searchForm.audienceId"/>
    <i class="searchengine-large" style="font-size: 30px; position: absolute; padding-top: 10px; padding-left: 30px; color: #FF8500;" ng-click="performPedagogicItemSearch()"></i>

    <div style="display: inline-block" ng-if="searchForm.subjectsFilters.length > 0" class="row line filters">
        <div class="filters-icons">
            <ul>
                <li ng-repeat="subjectFilter in searchForm.subjectsFilters" ng-class="{selected: subjectFilter.selected}" ng-click="subjectFilter.toggleSelected()">
                    <label>
                        <i ng-style="{'background-color':subjectFilter.subjectColor, color: 'white', 'opacity': (subjectFilter.selected) ? 1 : 0.2}">[[subjectFilter.subjectInitials]]</i>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>


<section>
    <ul class="colored">
        <div ng-show="pedagogicDays.all.length <= 0">
            <i18n>diary.search.no.result</i18n>
        </div>
        <li ng-repeat="day in pedagogicDays.all">
            <div>
                <p>
                    <a ng-if="day.expanded !== true" ng-click="expandDay(day)">
                        <i class="caret"></i>[[day.dayName]]</a>
                    <a ng-if="day.expanded === true" ng-click="collapseDay(day)">
                        <i class="caret expanded"></i>[[day.dayName]]</a> <strong><i18n>diary.homework.label</i18n> ([[day.nbHomeworks]])&nbsp; <i18n>diary.lesson.label</i18n> ([[day.nbLessons]])</strong>
                </p>
            </div>
            <ul ng-if="day.expanded === true">
                <li ng-repeat="pedagogicItem in day.pedagogicItemsOfTheDay | filter : itemTypesDisplayed">
                    <div ng-if="!pedagogicItem.isFiltered()" class="cell-no-float notification">
                        <div class="table-cell-left">
                            <i ng-class="pedagogicItem.type_item === 'homework'?'icon rack2 table-cell-left':'icon cahier-textes2 table-cell-left'" ng-style="{'color':pedagogicItem.color}"></i>
                            <input ng-if="isUserTeacher" type="checkbox" ng-model="pedagogicItem.selected" style="margin-top: 10px; margin-left: 15px; display: block;"/>
                        </div>
                        <div class="table-cell">
                            <div>
                                <i ng-if="!pedagogicItem.isPublished()"><em class="low-importance"><i18n>diary.not.published</i18n>&nbsp;</em></i>
                                <em class="high-importance">[[pedagogicItem.subject]] &nbsp; [[pedagogicItem.audience]] &nbsp; [[pedagogicItem.teacher]]</em><br/>
                                <em class="medium-importance" ng-if="pedagogicItem.type_item === 'lesson'">
                                    <p style="display:inline">[[pedagogicItem.start_hour]] - [[pedagogicItem.end_hour]]&nbsp;</p>
                                    <p style="display:inline" ng-if="pedagogicItem.room">(<i18n>room</i18n> - [[pedagogicItem.room]])&nbsp;</p>
                                    [[pedagogicItem.title]]
                                </em>
                                <em class="medium-importance" ng-if="pedagogicItem.type_item === 'homework'">
                                    <p style="display:inline">[[pedagogicItem.type_homework]]&nbsp;</p>
                                    <p style="display:inline" ng-if="pedagogicItem.turn_in === 'rack'"><i18n>diary.homework.turn-in.rack</i18n>&nbsp;</p>
                                    <p style="display:inline" ng-if="pedagogicItem.turn_in === 'lesson'"><i18n>diary.homework.turn-in.lesson</i18n>&nbsp;</p>
                                    [[pedagogicItem.title]]
                                </em>
                            </div>
                            <span class="inline" style="[[(pedagogicItem.description.length >= pedagogicItem.descriptionMaxSize) ? 'cursor:pointer' : 'cursor:default' ]]" ng-click="pedagogicItem.expanded_description = !pedagogicItem.expanded_description">
                                <span ng-show="!pedagogicItem.expanded_description">
                                     <span bind-html="pedagogicItem.preview_description"></span>
                                </span>
                                <span ng-show="pedagogicItem.expanded_description">
                                     <span bind-html="pedagogicItem.description"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</section>

<!-- action panel displayed if at least one lesson or homework selected -->
<section class="toggle-buttons" ng-class="{ hide: getPedagogicItemSelectedCount() == 0 }">
    <div class="toggle">
        <div class="row">
            <button ng-click="showConfirmPanel('confirm-delete')">
                <i18n>remove</i18n>
            </button>
            <button ng-click="editSelectedItem()"  ng-class="{ disabled: !isOneHomeworkOrLessonStriclySelected()}"  >
                <i18n>edit</i18n>
            </button>
            <!-- not implemented yet so always disabled -->
            <button ng-click="shareSelectedLessons()" ng-class="{ disabled: lessons.selection().length >= 0 }">
                <i18n>share</i18n>
            </button>
            <!-- publish - lessons in draft state and homeworks in draft state not attached to lesson -->
            <button ng-click="showConfirmPanel('confirm-publish')" ng-if="hasPublishableOnlyItemsSelected(true)">
                <i18n>daily.item.publish</i18n>
            </button>
            <!-- unpublish - lessons in published state and homeworks in published state not attached to lesson -->
            <button ng-click="showConfirmPanel('confirm-unpublish')" ng-if="hasPublishableOnlyItemsSelected(false)">
                <i18n>daily.item.unpublish</i18n>
            </button>
        </div>
    </div>
</section>