<div class="row">
    <div class="cell three twelve-mobile">
        <app-title class="zero-mobile">
            <div class="title-area">
                <img ng-src="/diary/public/img/uni-cahierdetexte.png" alt=""/>
                <h1 class="application-title">
                    <i18n>diary.title</i18n>
                </h1>
            </div>
        </app-title>
    </div>
    <!-- Filter Zone (Teacher and Class) -->
    <div workflow="diary.diarySearch" class="seven cell twelve-mobile">
        <!-- Teacher search bar -->
        <div class="cell four margin-right-md">
            <div class="cell twelve search-input">
                <async-autocomplete data-ng-disabled="false"
                                    data-ng-model="searchTeachers.teacher"
                                    data-ng-change="selectFilter"
                                    data-options="searchTeachers.teachers"
                                    on-search="searchWithFilter"
                                    data-placeholder="diary.search.teacher"
                                    search="searchTeachers.teacher">
                </async-autocomplete>
            </div>
            <!-- Teacher selected via filter -->
            <div class="cell twelve" ng-show="params.user.displayName">
                <ul class="cell twelve search-input-ul">
                    <li>
                        [[params.user.displayName]] <i class="close"
                                                       data-ng-click="removeFilter(params.user.displayName)"></i>
                    </li>
                </ul>
            </div>
            <!-- Filter Zone (Teacher and Class) -->
            <div workflow="diary.accessExternalData" class="seven cell twelve-mobile">
                <!-- Teacher search bar -->
                <div class="cell four margin-right-md">
                    <div class="cell twelve search-input">
                        <async-autocomplete data-ng-disabled="false"
                                            data-ng-model="searchTeachers.teacher"
                                            data-ng-change="selectFilter"
                                            data-options="searchTeachers.teachers"
                                            on-search="searchWithFilter"
                                            data-placeholder="diary.search.teacher"
                                            search="searchTeachers.teacher">
                        </async-autocomplete>
                    </div>
                    <!-- Teacher selected via filter -->
                    <div class="cell twelve" ng-show="params.user.displayName">
                        <ul class="cell twelve search-input-ul">
                            <li>
                                [[params.user.displayName]] <i class="close"
                                                               data-ng-click="removeFilter(params.user.displayName)"></i>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Classes/Groups search bar -->
                <div class="cell four paddingLeft">
                    <div class="cell twelve search-input">
                        <async-autocomplete data-ng-disabled="false"
                                            data-ng-model="searchClass.class"
                                            data-ng-change="selectFilter"
                                            data-options="searchClass.listClass"
                                            on-search="searchWithFilter"
                                            data-placeholder="diary.search.group"
                                            search="searchClass.class">
                        </async-autocomplete>
                    </div>
                    <!-- Class selected via filter -->
                    <div class="cell twelve" ng-show="params.group.displayName">
                        <ul class="cell twelve search-input-ul">
                            <li>
                                [[params.group.displayName]] <i class="close"
                                                                data-ng-click="removeFilter(params.group.displayName)"></i>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Class selected via filter -->
            <div class="cell twelve" ng-show="params.group.displayName">
                <ul class="cell twelve search-input-ul">
                    <li>
                        [[params.group.displayName]] <i class="close"
                                                        data-ng-click="removeFilter(params.group.displayName)"></i>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Manage session and homework -->
    <div class="cell nine twelve-mobile">
        <button workflow="diary.manageHomework" class="padding-md margin-left-md calendar-button pull-right"
                ng-click="goTo('/homework/create/')">
            <i18n>homework.create</i18n>
        </button>
        <button workflow="diary.manageSession" class="padding-md calendar-button pull-right"
                ng-click="goTo('/session/create/')">
            <i18n>session.create</i18n>
        </button>
    </div>
    <div class="clear"></div>
</div>

<div class="row">
    <div class="cell three twelve-mobile sidebar-content"
         static-include="/diary/public/template/main/sidebar.html"></div>

    <div class="cell nine twelve-mobile main-content" ng-show="!display.listView"
        static-include="/diary/public/template/main/calendar-view.html">
    </div>
</div>