<div>
	<h1><i18n>diary.title</i18n>&nbsp;-&nbsp;<i18n>diary.homework.label</i18n></h1>
	 <div class="row">
        <div class="six cell">
            <span ng-style="{background: homework.color}" style="padding-left: 45px;;"></span>
			<span ng-bind="homework.subject.label" class="lessonHeader"></span>
			<span ng-bind="homework.audience.name" class="lessonHeader"></span>
            <span ng-repeat="homeworkLoad in homework.weekhomeworksload">
            <span class="homeworksDayLoad" tooltip="[[homeworkLoad.description]]"
                  ng-class="{ 'red': isHighHomeworkLoad(homeworkLoad), 'yellow': isMediumHomeworkLoad(homeworkLoad), 'green': isLowHomeworkLoad(homeworkLoad) }">
                [[homeworkLoad.day]] [[homeworkLoad.numDay]]</span>
            </span>
            </div>
        </div>
    </div>
	
	<section class="homeworkInfos">
        <!-- FREE HOMEWORK -->
                    <div class="row rowHeader">
                        <span class="lessonInfosGrey">[[formatDate(homework.dueDate)]]</span>
                        <span class="lessonInfosGrey">[[homework.type.label]]&nbsp;&#58;</span>
                        <span ng-bind="homework.title" class="lessonInfosBlack"></span>
                    </div>
                    <div class="row">
                        <div ng-bind-html="homework.description" class="lessonHomeworkDescription"></div>
                    </div>
    </section>

    <attachmentsx item="homework" readonly="true">
    </attachmentsx>

	<div class="row lessonHomeworkBtn">
		<nav>
			<!-- go back to calendar view without saving -->
			<button class="right-magnet cancel" type="button" ng-click="redirect('/mainView')">
				<i18n>back</i18n>
			</button>
		</nav>
	</div>
</div>