<div class="global-administrator-page">
    <div class="row">
        <button class="right-magnet cancel" ng-click="goTo('/view')">
            <i18n>sessions.admin.backOnDiary</i18n>
        </button>
        <h1 workflow="diary.adminAccess" class="eight">
            <i18n>sessions.admin.main.title</i18n>
        </h1>
    </div>
    <div workflow="diary.adminAccess" ng-controller="globalAdminCtrl">
        <div class="row">
            <div class="cell three twelve-mobile"
                 static-include="/diary/public/template/administrator/admin-sidebar.html"></div>
            <div class="cell nine twelve-mobile visa-diary"
                 static-include="/diary/public/template/administrator/diary-lister.html">
            </div>
        </div>

        <section class="toggle-buttons" ng-class="{ hide: showOptionToaster != true }">
            <div class="toggle">
                <div class="row">
                    <button workflow="diary.manageVisa" ng-click="wantCreateVisa()">
                        <i18n>visa.manage.viser</i18n>
                    </button>
                    <button ng-class="{'loading': printPdf.loading}"
                            ng-click="printPdf()">
                        <span class="loader"></span>
                        <i18n>visa.manage.diaryToPrintPDF</i18n>
                    </button>
                </div>
            </div>
        </section>
    </div>
</div>
