<!-- Access External Data -->
<div class="display-inline-block">
    <div class="flex-row row__12">
        <div class="flex-col col__1">
            <i18n>from</i18n>
            :
        </div>
        <div class="flex-col col__1 svg-green">
            <i class="text-xl margin-sm icon diary-calendar"></i>
        </div>
        <div class="flex-col col__4">
            <date-picker
                    ng-model="filters.startDate"
                    ng-change="filterList();"
                    class="date-picker-sm remove-margin">
            </date-picker>
        </div>
        <div class="flex-col col__1">
            <i18n>to</i18n>
            :
        </div>
        <div class="flex-col col__1 svg-green">
            <i class="text-xl margin-sm icon diary-calendar"></i>
        </div>
        <div class="flex-col col__4">
            <date-picker
                    ng-model="filters.endDate"
                    ng-change="filterList();"
                    class="date-picker-sm remove-margin">
            </date-picker>
        </div>
    </div>
    <div class="flex-row" ng-click="filterList()">
        <div class="flex-col margin-right-md">
            <div class="button-checkbox" ng-class="vised ? 'active' : 'unactive'" ng-click="toggleVised()">
                <i18n>sessions.admin.Visa.sateOk</i18n>
            </div>
        </div>
        <div class="flex-col margin-right-md">
            <div class="button-checkbox" ng-class="notVised ? 'active' : 'unactive'" ng-click="toggleNotVised()">
                <i18n>sessions.admin.Visa.sateKo</i18n>
            </div>
        </div>
        <div class="flex-col margin-right-md">
            <div class="button-checkbox" ng-class="published ? 'active' : 'unactive'" ng-click="togglePublished()">
                <i18n>published.p</i18n>
            </div>
        </div>
        <div class="flex-col margin-right-md">
            <div class="button-checkbox" ng-class="notPublished ? 'active' : 'unactive'"
                 ng-click="toggleNotPublished()">
                <i18n>notpublished.p</i18n>
            </div>
        </div>
    </div>
</div>