<article class="sidebar ">
    <section id="display-section" class="twelve">
        <!-- Access External Data -->
        <div class="display-inline-block">
            <p class="remove-margin">
                <i18n>from</i18n>
                <date-picker
                        ng-model="filters.startDate"
                        ng-change="syncSessionsWithVisa();"
                        class="date-picker-sm remove-margin">
                </date-picker>
                <br/>
                <i18n>to</i18n>
                <date-picker
                        ng-model="filters.endDate"
                        ng-change="syncSessionsWithVisa();"
                        class="date-picker-sm remove-margin">
                </date-picker>
            </p>
            <div class="margin-top-lg" >
                <label class="cell twelve small">
                    <select
                            ng-model="structure"
                            id="structure-list"
                            class="twelve"
                            ng-change="switchStructure(structure);structureSwitchEvent();"
                            ng-options="structure as structure.name for structure in structures.all">
                        <option value="" disabled selected>
                            [[translate('utils.structure.choose.one')]]
                        </option>
                    </select>
                </label>
                <label class="cell twelve small">
                    <select ng-model="teacher"
                            class="twelve"
                            ng-change="clearSubjects();syncSessionsWithVisa()"
                            ng-options="teacher as teacher.displayName for teacher in structure.teachers.all | orderBy:'lastName' track by teacher.id "  >
                        <option value="" disabled selected>[[translate('utils.teacher.choose.one')]]</option>
                    </select>
                </label>
                <div >
                    <!--matière-->
                    <div class="cell twelve small">
                        <multi-combo
                                ng-show="subjects.all.length && subjects.all.length > 1 "
                                title="[[translate('subjects')]]"
                                combo-model="subjects.all"
                                search-on="label"
                                order-by="label"
                                filtered-model="course.groups"
                                ng-click="updateDatas($event)">
                        </multi-combo>
                        <div   ng-show="subjects.all.length && subjects.all.length > 1 " class="select-blocks remove-margin-bottom">
                            <div ng-repeat="subject in params.subjects | filter:'' track by $index"
                                 ng-click="dropItem(subject, $event)">
                                [[subject.label]]
                            </div>
                        </div>
                        <div ng-show="subjects.all.length && subjects.all.length === 1">
                            <select disabled><option>[[ subjects.all[0].label ]]</option></select>
                        </div>
                    </div>
                    <!--classe-->
                    <div class="cell twelve small">
                        <multi-combo
                                title="[[translate('utils.groups')]]"
                                combo-model="audiences.all"
                                search-on="name"
                                order-by="name"
                                filtered-model="course.groups"
                                ng-click="updateDatas($event)">
                        </multi-combo>
                        <div class="select-blocks remove-margin-bottom">
                            <div ng-repeat="audience in params.audiences | filter:'' track by $index"
                                 ng-click="dropItem(audience, $event)">
                                [[audience.name]]
                            </div>
                        </div>
                    </div>

                    <!--visés-->
                    <label class="checkbox">
                        <input type="checkbox" ng-model="vised" data-ng-click="toggleVisa($event)"/>
                        <span><i18n>sessions.admin.Visa.sateOk</i18n></span>
                    </label>
                    <!--non visés-->
                    <label class="checkbox">
                        <input type="checkbox" ng-model="notVised" data-ng-click="toggleVisa($event)"/>
                        <span><i18n>sessions.admin.Visa.sateKo</i18n></span>
                    </label>
                </div>

            </div>
        </div>
    </section>
</article>