<div class="cell twelve">
    <div class="flex-table">
        <div class="flex-row  flex-head" ng-class="userType !== 'ENSEIGNANT' ? 'row__15' : 'row__13'" role="rowgroup">
            <div class="flex-col col__1 empty-take-space text-center" role="cell">
                <label class="checkbox">
                    <input type="checkbox"
                           ng-model="allSessionsSelect"
                           ng-change="selectOrUnselectAllSessions()">
                    <span></span>
                </label>
            </div>
            <div class="flex-col col__2 text-center" role="cell">
                <i18n>utils.group</i18n>
            </div>
            <div class="flex-col col__2 text-center" role="cell">
                <i18n>subjects</i18n>
            </div>
            <div class="flex-col col__2 text-center" role="cell" ng-if="userType !== 'ENSEIGNANT'">
                <i18n>utils.teacher</i18n>
            </div>
            <div class="flex-col col__2 text-center" role="cell">
                <i18n>sessions.admin.lastUpdateSession</i18n>
            </div>
            <div class="flex-col col__2 text-center" role="cell">
                <i18n>sessions.admin.numberSessions</i18n>
            </div>
            <div class="flex-col col__2 text-center" role="cell">
                <i18n>sessions.admin.merged</i18n>
            </div>
            <div class="flex-col col__2 text-center" role="cell">
                <i18n>sessions.admin.state</i18n>
            </div>
        </div>
        <div ng-show="sessionsSize() > 0"
             ng-repeat="(key, sessionsGroup) in sessions_GroupBy_AudienceSubject"
             class="flex-body"
             role="rowgroup">
            <div class="flex-content">
                <div class="flex-row" ng-click="openDetails = openDetails != key ? key : null"
                     ng-class="{'shadowed': openDetails == key, 'row__15': userType !== 'ENSEIGNANT', 'row__13': userType === 'ENSEIGNANT'}">
                    <div class="flex-col col__1 empty-take-space" role="cell">
                        <label class="checkbox">
                            <input type="checkbox" ng-model="selectedSessions[key]" ng-change="updateOptionToaster()">
                            <span></span>
                        </label>
                    </div>
                    <div class="flex-col col__2" role="cell">
                        [[sessionsGroup[0].audience.name]]
                    </div>
                    <div class="flex-col col__2" role="cell">
                        [[sessionsGroup[0].subject.label]]
                    </div>
                    <div class="flex-col col__2" role="cell" ng-if="userType !== 'ENSEIGNANT'">
                        [[sessionsGroup[0].teacher.toString()]]
                    </div>
                    <div class="flex-col col__2" role="cell">
                        [[getLastEditSession(sessionsGroup)]]
                    </div>
                    <div class="flex-col col__2" role="cell">
                        [[sessionsGroup.length]]
                    </div>
                    <div class="flex-col col__2" role="cell">
                    </div>
                    <div class="flex-col col__2" role="cell">
                        <span>[[getLastCreatedVisa(sessionsGroup)]]</span>
                    </div>
                </div>
            </div>
            <div class="flex-collapse" ng-class="{'open-details': openDetails == key}">
                <div class="flex-content">
                    <div ng-repeat="timeSlot in sessionsGroup" class="flex-row row__15"
                         ng-class="isHomeworkInstance(timeSlot) ? 'homework-slot' : 'session-slot'" role="rowgroup"
                         ng-click="openTimeSlotModal(timeSlot)">
                        <div class="flex-col col__1 time-slot-type" role="cell">
                            <div ng-include="'/diary/public/img/' + (isHomeworkInstance(timeSlot) ? 'inbox.svg' : 'book.svg')"
                                 class="large"></div>
                        </div>
                        <div class="flex-col col__4 time-slot-title" role="cell">
                            <span class="eleven">[[getSessionTitle(timeSlot)]]</span>
                        </div>
                        <div class="flex-col col__5" role="cell">
                            <i class="text-xl one margin-sm icon diary-calendar"></i>
                            <span class="eleven">[[getFormattedTimeSlotDate(timeSlot)]]</span>
                        </div>
                        <div class="flex-col col__3" role="cell">
                            <i class="text-xl two margin-sm icon diary-file"></i>
                            <span class="ten">[[timeSlot.type.label]]</span>
                        </div>
                        <div class="flex-col col__2" role="cell">
                            <i class="text-xl two margin-sm icon diary-up"
                               ng-class="timeSlot.isPublished ? 'published' : 'unpublished'"></i>
                            <span class="ten">
                                    <i18n ng-if="timeSlot.isPublished">published</i18n>
                                    <i18n ng-if="!timeSlot.isPublished">notpublished.s</i18n>
                                </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="sessionsSize() <= 0"
             class="flex-row row__5"
             role="rowgroup">
            <div class="flex-col col__2">
                <img class="img-none" ng-src="/diary/public/img/nothing.png" alt=""/>
            </div>
            <div class="flex-col col__3 empty-list">
                <i18n>diary.notAvailable</i18n>
            </div>
        </div>
    </div>

</div>
</div>

<lightbox show="visaPdfDownloadBox" on-close="closeVisaPdfDownloadBox()">
    <h3>
        <i18n>visa.manage.title</i18n>
    </h3>
    <div ng-repeat="visa_pdf in visas_pdfChoice | orderBy: 'moment':true">
        <p ng-click="visa_pdf.downloadPdf()">
            <i>&#xe857;</i>&nbsp;
            <i18n>visa.manage.choosePdf</i18n>&nbsp;
            [[visa_pdf.displayDwlName]]
        </p>
    </div>
</lightbox>

<lightbox workflow="diary.manageVisa"
          show="visaCreateBox"
          class="create-visa"
          on-close="closeVisaCreateBox()">
    <form>
        <div class="cell twelve">
            <label for="comment">

                <i18n>sessions.admin.comment</i18n>
            </label>
            <textarea class="resize-vertical min-height-textarea" i18n-placeholder="visa.create.commentLabel"
                      ng-model="visaForm.comment"
                      id="comment"></textarea>
        </div>
        <div class="cell twelve">
            <button class="right-magnet" ng-class="{'loading': visaForm.loading}"
                    ng-click="submitVisaForm()">
                <i18n>visa.vise.diary</i18n>
                <span class="loader"></span>
            </button>
        </div>
    </form>
</lightbox>


<lightbox show="showSession" class="session-modal">
    <div class="row margin-bottom-lg modal-include"
         static-include="/diary/public/template/session/session-modal.html">
    </div>
</lightbox>

<div id="list-diary-to-pdf"></div>
<div id="canvas-diary-to-pdf"></div>