


.current-week-indicator{
  padding-left : 35px;
  line-height: 40px;
  color : #4bafd5;
  strong{
    color : #4bafd5;
  }
}

.select-list{
  select-list{
    margin-left: 5px;
    &.button {
      .selected-value {
        border-bottom: none;
      }
      opt{
        padding : 6px 10px;
        i{
          padding-right : 6px;
        }
      }
    }
  }
}
