
.pdf{
  font-family: 'Verdana';
  font-size: 1em;
  padding : 25px;
  color : #737373;

  .header{
    text-align: center;
    background-color: #c4c5c6;
    padding : 25px;
    font-size: 1.5em;
    border-radius: 5px;
    margin-bottom : 20px;
  }

  .lesson{
    padding : 10px 0px;
    border : 1px solid #c4c5c6;
    margin-bottom: 15px;
    padding : 0px;
    border-radius: 5px;
    .lesson-header{
      background-color: #c4c5c6;
      padding  : 4px;
      text-align: center;
      font-size: 1.1em;
    }
    .lesson-content{
      padding : 5px;
      margin-bottom: 5px;
      .lesson-title{
        font-size: 1.05em;
      }
      .lesson-description{
        padding-top : 3px;
        font-size: 0.95em;
      }
    }
  }

}
