<!--
<span id="minimize_hw_span" class="ng-scope">
        <ul style="padding-left: 0px !important;     margin: 0px;;padding-right: 0px !important; border: 0px !important;">
            <li><i class="resize-homeworks-panel"   style="float: left; width: 130px;">&nbsp;</i></li>
        </ul>
</span>
-->

<div class="days" style="z-index: 1000;" >
    <div class="day homeworkpanel" ng-repeat="day in calendar.days.all" >

        <!--
        // <= 3 homeworks for current day
        // or 1 homework and homework panel minified
        -->
        <div class="" ng-if="showAllHomeworks(day)">
            <div ng-repeat="dailyEvent in day.dailyEvents">
                <container template="daily-event-item" style="padding-bottom: 1px;"></container>
            </div>
        </div>
        <!--
        // > 3 homeworks for current day
        // or > 1 homework and homework panel minified
        -->
        <div class="opener" ng-if="showNotAllHomeworks(day)" ng-click="toggleShowHwDetail(day)">
            <span id="dailyeventlongtitle"><i18n>daily.event</i18n></span>
            <span id="dailyeventshorttitle">TAF ([[day.dailyEvents.length]])</span>
        </div>
        <div class=" daily-events" style="z-index: 1000;"
            ng-if="day.dailyEvents.length>0"
            id="hw-detail-[[day.index]]" ng-click="toggleOpenDailyEvents(day, $event)" ng-class="{ show: day.openDailyEvents && day.dailyEvents.length > 1 }">
            <div ng-repeat="dailyEvent in day.dailyEvents">
                <container template="daily-event-item" style="padding-bottom: 1px;"></container>
            </div>
        </div>
    </div>
</div>
