.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-result-search {
    position: absolute;
    top: 42px;
    z-index: 1;
  }
}

.structure-title {
  position: absolute;
  min-width: 300px;
  font-size: 18px;
  font-weight: normal;
  // main.html design
  &.main {
    top: 40px;
    left: 70px;
  }
  //admin-main.html design
  &.admin-main {
    bottom: 0;
    left: -11px;
  }
}

