.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-result-search {
    position: absolute;
    top: 42px;
    z-index: 1;
  }
}

.structure-title {
  position: absolute;
  font-size: 18px;
  font-weight: normal;
  width: max-content;

  // main.html design
  &.main {
    top: 40px;
    left: 70px;
  }

  // list-view.html design
  &.manage-list {
    bottom: -10px;
    left: 70px;
    font-size: 16px;
  }

  // admin-main.html design
  &.admin-main {
    bottom: 0;
    left: 70px;
  }
}

