.global-administrator-page {
  tbody tr:hover {
    background: none;
  }

  #list-diary-to-pdf {
    opacity: 0;
    z-index: -5;
    position: absolute;
    width: 790.28px;
  }
  #canvas-diary-to-pdf {
    opacity: 0;
    z-index: -5;
    position: absolute;
  }
}