.global-administrator-page {
  thead > tr {
    background-color: $white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
    color: $diary-grey;
  }

  tbody > tr:hover {
    cursor: pointer;
  }

  input[type=checkbox] + span::before {
    border: 2px solid $diary-darkgreen;
    border-radius: 4px;
  }


  i.published {
    color: $diary-darkgreen;
  }

  i.unpublished {
    color: $diary-grey;
  }

  .homework-slot, .session-slot {
    .time-slot-type {
      border-radius: 7px 0 0 7px;
    }

    .time-slot-title {
      text-align: left;
    }
  }

  #list-diary-to-pdf {
    opacity: 0;
    z-index: -5;
    position: absolute;
    width: 790.28px;
  }

  #canvas-diary-to-pdf {
    opacity: 0;
    z-index: -5;
    position: absolute;
  }

  .flex-table {
    display: flex;
    flex-flow: row wrap;
    $row-size: 10;
    width: 100%;
    background-color: $white;

    .flex-head {
      display: flex;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.12);
      color: rgba($diary-grey, 0.7);
      align-items: center;
      justify-content: center;
    }

    .flex-body {
      align-items: center;
      justify-content: center;
      display: flex;
      width: 100%;
      flex-direction: column;

      .flex-row {
        box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.08);
        &:hover {
          background-color: rgba($diary-grey, 0.2);
          cursor: pointer;
        }
      }

      .flex-content, .flex-collapse {
        flex: 1;
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .flex-collapse {
        .flex-content {
          visibility: hidden;
          opacity: 0;
          max-height: 0;
          transition: visibility 0.25s, opacity 0.25s ease-out, max-height 0.2s;
        }

        &.openDetails {
          .flex-content {
            opacity: 1;
            visibility: visible;
            max-height: 100%;
            transition: visibility 0.25s, opacity 0.25s ease-in;
          }
        }
      }

    }


    .time-slot-type {
      fill: $white;
    }

    .homework-slot {
      .time-slot-type {
        background-color: $diary-darkorange;
      }

      .time-slot-title {
        background-color: $diary-orange;
      }
    }

    .session-slot {
      .time-slot-type {
        background-color: $diary-darkgreen;
      }

      .time-slot-title {
        background-color: $diary-green;
      }
    }

    .flex-row {
      display: flex;
      flex-flow: row wrap;
      width: 100%;
      flex-grow: 1;
      text-align: center;
      min-height: 42px;

      &.row {
        &__12 {
          $row-size: 12;
        }

        &__15 {
          $row-size: 15;
        }
      }

      .flex-col {
        display: flex;
        padding-top: 5px;
        padding-bottom: 5px;
        justify-content: center;
        align-items: center;

        &.col {
          &__1 {
            width: percentage(1 / $row-size);
          }
          &__2 {
            width: percentage(2 / $row-size);
          }
          &__3 {
            width: percentage(3 / $row-size);
          }
          &__4 {
            width: percentage(4 / $row-size);
          }
          &__5 {
            width: percentage(5 / $row-size);
          }

        }
      }
    }

  }

}