.small { font-size: 0.9em; }
.normal { font-size: 1em; }
.large { font-size: 1.1em; }
.float-left { float:left; }
.pointer {cursor:pointer;}
.margin10v {margin: 10px 0;}

.min-height-textarea {
  min-height: 60px;
}

.diary-container, .list-view {
  margin-top: 0;
  padding-left: 15px;
}

.sidebar switch {
  section .row { margin: 5px 0;}
  .switch .tick {
    background: #78daff;
    &:before {
      background: #2a9cc8;
    }
  }
}

i.rack2::before {
  content: "\e80d";
  font-family:"generic-icons";
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
}

i.cahier-textes2::before {
  content: "\e86f";
  font-family:"generic-icons";
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
}

.color-bloc {
  width: 40px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 4px;
  border: 1px solid black;
}

.show-i-hover:hover {
  i {
    display: initial;
  }
}
.show-i-hover {
  i {
    display: none;
  }
}

.edit-visa-icons{
  font-size: 20px;
  color: #888;
}

.visa-being-updated {
  background-color: rgba(255, 133, 0, 0.3803921569);
}


.tab-button {
  display: inline-block;
  text-align: right;
  border: 2px solid #4bafd5;
  border-radius: 5px;
  padding: 0 5px 0 5px;

  &.selected {
    background: #4bafd5 !important;
    color: #fff;
  }
}

.read-only-description {
  min-height: 250px;
  height: auto;
  padding: 10px;
  background: #fff;
  border: 1px dashed #4bafd5 !important;
  margin-top: 10px;
  margin-bottom: 20px;
}

.workloadDay {
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  margin: 4px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 3px;
  padding-top: 3px;
  font-size: 16px;
}

.workloadDay.red {
  background-color: tomato;
}

.workloadDay.yellow {
  background-color: khaki;
}

.workloadDay.green {
  background-color: limegreen;
}