.min-height-textarea {
  min-height: 60px;
}

i.rack2::before {
  content: "\e80d";
  font-family:"generic-icons";
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
}

i.cahier-textes2::before {
  content: "\e86f";
  font-family:"generic-icons";
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  background-image:none;
}