.list-view {
  ul {
    list-style-type: none;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }

  ul li i.icon {
    font-size: 55px;
    line-height: 55px;
    text-align: center;
  }

  i.rack2::before {
    content: "\e80d";
    font-family:"generic-icons";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
  }


  i.cahier-textes2::before {
    content: "\e86f";
    font-family:"generic-icons";
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    background-image:none;
  }


  div.pedagogic-day-container {
    box-sizing: border-box;
    width: 25%;
    float:left;
  }

  .pedagogic-day-card {
    box-sizing: border-box;
    border: 1px solid #2a9cc8;
    color: #2a9cc8;
    width: 99%;
    height: 55px;
    float: left;
    font-size: 24px;
    background-color: white;
    margin-bottom: 5px;
  }

  .pedagogic-day-card .selected {
    color: white;
    background-color: #2a9cc8;
    border-style: none;
    border: 0px;
  }

  .pedagogic-item-card {
    display: flex;
    align-items: center;
  }

  .thumbnail {
    box-sizing: border-box;
    color: #2a9cc8;
    height: 100%;
    float: left;
    font-size: 30px;
    padding: 14px;
    text-transform: capitalize;
    border-right: 1px;
  }

  .thumb-selected {
    color: white;
    background-color: #2a9cc8;
    text-transform: capitalize;
  }

  .summary {
    color: #2a9cc8;
    height: 100%;
    font-size: 22px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  .sum-selected {
    color: white;
    background-color: #7bbcf0;
  }

  .day-card-icon {
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    padding: 0px 0px 0px 5px;
  }

  .card-icon-selected {
    color: white;
    background-color: #7bbcf0;
  }

  div.pedagogic-item-container {
    box-sizing: border-box;
    width: 75%;
    float: left;
  }

  .list-pedagogic-item-card {
    box-sizing: border-box;
    width: 99%;
    float: right;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
  }
}