/* New colors for button in calendar */
$diary-forestgreen: #00ab6f;
$diary-darkgreen: #1e7d3f;

/* New colors for session in calendar */
$session-forestgreen: #00ab6f;
$session-orange: #ff9700;
$session-grey: #7E7E7E;

@mixin keyframes($animationName){
  @-webkit-keyframes #{$animationName} {
    @content;
  }
  @-moz-keyframes #{$animationName} {
    @content;
  }
  @-o-keyframes #{$animationName} {
    @content;
  }
  @keyframes #{$animationName} {
    @content;
  }
}

@include keyframes(spinner) {
  to {
    transform: rotate(360deg);
  }
}