@media (max-width: 960px) {
  .zero-tablet {
    display: none !important;
  }
  .one-tablet {
    width: 8.33333%;
  }
  .two-tablet {
    width: 16.66667%;
  }
  .three-tablet {
    width: 25%;
  }
  .four-tablet {
    width: 33.33333%;
  }
  .five-tablet {
    width: 41.66667%;
  }
  .six-tablet {
    width: 50%;
  }
  .seven-tablet {
    width: 58.33333%;
  }
  .eight-tablet {
    width: 66.66667%;
  }
  .nine-tablet {
    width: 75%;
  }
  .ten-tablet {
    width: 83.33333%;
  }
  .eleven-tablet {
    width: 91.66667%;
  }
  .twelve-tablet {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .zero-mobile {
    display: none !important;
  }
  .one-mobile {
    width: 8.33333%;
  }
  .two-mobile {
    width: 16.66667%;
  }
  .three-mobile {
    width: 25%;
  }
  .four-mobile {
    width: 33.33333%;
  }
  .five-mobile {
    width: 41.66667%;
  }
  .six-mobile {
    width: 50%;
  }
  .seven-mobile {
    width: 58.33333%;
  }
  .eight-mobile {
    width: 66.66667%;
  }
  .nine-mobile {
    width: 75%;
  }
  .ten-mobile {
    width: 83.33333%;
  }
  .eleven-mobile {
    width: 91.66667%;
  }
  .twelve-mobile {
    width: 100%;
  }
}

