<div ng-controller="CalendarController">


    <div id="mainDiaryContainer" style="float: left; width: 97%;" >
        <h1><a href="#" ng-click="goToCalendarView()"><i18n>diary.title</i18n> </a></h1>
        <div class="row">
            <button workflow="diary.createLesson" ng-if="isUserTeacher" ng-click="redirect('/createLessonView/default')">
                <i18n>diary.lesson.create</i18n>
            </button>
                <button workflow="diary.createFreeHomework" ng-if="isUserTeacher" ng-click="redirect('/createHomeworkView')">
                <i18n>diary.homework.create</i18n>
            </button>
            <div class="select-list" secure="[[RIGHTS.MANAGE_MODEL_WEEK]]">
                <select-list display="diary.model.week.title" placeholder="diary.model.week.title" display-as="diary.model.week.title" class="button">
                    <opt value="font" ng-click="setModel('A')">
                        <i class=" reservation "></i>
                        <i18n>diary.model.week.choice.a</i18n>
                        <span ng-if="modelWeeks.A">
                            ( <i18n>diary.actual</i18n> : [[modelWeeks.A.beginDate | date : constants.CAL_DATE_PATTERN_NG]] )
                        </span>
                    </opt>
                    <opt value="font" ng-click="setModel('B')">
                        <i class=" reservation "></i>
                        <i18n>diary.model.week.choice.b</i18n>
                        <span ng-if="modelWeeks.B">
                            ( <i18n>diary.actual</i18n> : [[modelWeeks.B.beginDate | date : constants.CAL_DATE_PATTERN_NG]] )
                        </span>
                    </opt>
                    <opt value="font" ng-click="invert()">
                        <i class=" arrows-cw "></i>
                        <i18n>diary.model.week.invert</i18n>
                    </opt>
                </select-list>
            </div>
            <h2 ng-if="isUserParent">
                <div ng-if="children">
                    <div ng-if="children.all.length == 1">
                        [[child.displayName]]
                    </div>
                    <div class="row" ng-if="children.all.length > 1">
                        <span class="two childFilter"
                              ng-repeat="childd in children.all"
                              ng-click="showCalendarForChild(childd)"
                              ng-class="{ selected: childd.selected }">
                            [[childd.displayName]]
                        </span>
                    </div>
                </div>
            </h2>
            <i class="show-list" ng-class="{ selected: display.showList === true }" ng-click="goToListView()" diary-tooltip="diary.icon.show.list"></i>
            <i class="show-calendar" ng-class="{ selected: display.showList === false }" ng-click="goToCalendarView()" diary-tooltip="diary.icon.show.calendar"></i>
        </div>

        <div>
            <div class="row diary-container" ng-class="{'diary-show-homeworks' : display.bShowHomeworks,'diary-show-calendar' : display.bShowCalendar}">
                <filters style="padding-bottom: 0.8em;">
                    <ul>
                        <li>
                            <i class="filter2 diary " ng-class="{'selected':display.bShowCalendar}" ng-click="toggleCalendar()" diary-tooltip="diary.icon.show.calendargrid"></i>
                            <i ng-class="{'selected':display.bShowHomeworks}" class="filter2 homework " ng-click="toggleHomeworkPanel()" diary-tooltip="diary.icon.show.homeworkpanel"></i>
                            <button ng-click="previousWeek(); " diary-tooltip="diary.calendar.previousweek">&#8592;</button>
                            <button ng-click="nextWeek();" diary-tooltip="diary.calendar.nextweek">&#8594;</button>
                        </li>
                    </ul>
                </filters>
                <calendar-daily-events for="calendar" b-show-calendar="display.bShowCalendar" b-show-homeworks-minified="display.bShowHomeworksMinified" ng-model="homeworks.all" ng-if="!display.hideHomeworkPanel" on-create-open="redirect('/createHomeworkView')" style="z-index: 1000; margin-top: 8px;">
                </calendar-daily-events>

                <div class="row ">
                    <diary-calendar
                        id="calendar" class="twelve cell"
                        display-template="'<item-calendar></item-calendar>'"
                        create-template="create-lesson"
                        read-only="!isUserTeacher"
                        on-create-open-action="redirect('/createLessonView/timeFromCalendar')"
                        params="calendarParams"
                        monday-of-week="mondayOfWeek" items="itemsCalendar">
                    </diary-calendar>
                </div>
            </div>
        </div>
    </div>

    <!-- quick search panel -->
    <div ng-if="isUserTeacher">
        <quick-search item-type="lesson" class="quick-search lessontype"></quick-search>
        <quick-search item-type="homework" class="quick-search homeworktype"></quick-search>
        <right-panel label='progression.title'
            content-url="'/diary/public/js/progression/right-panel/content/main-progression-right-panel.template.html'"
            class="quick-search progressiontype"></quick-search>
    </div>

    <!-- action panel displayed if at least one lesson or homework selected -->
    <section class="toggle-buttons" ng-class="{ hide: lessons.selection().length === 0 && homeworks.selection().length === 0  }">
        <div class="toggle">
            <div class="row">
                <button ng-click="showConfirmPanel('confirm-delete')">
                    <i18n>remove</i18n>
                </button>
                <button ng-click="editSelectedItem()" ng-class="{ disabled: !isOneHomeworkOrLessonStriclySelected()}">
                    <i18n>edit</i18n>
                </button>
                <button ng-click="openShareLessonPanel()" ng-show="homeworks.selection().length === 0">
                    <i18n>share</i18n>
                </button>
                <button ng-click="openShareHomeworkPanel()" ng-show="lessons.selection().length === 0">
                    <i18n>share</i18n>
                </button>
                <!-- publish - lessons in draft state and homeworks in draft state not attached to lesson -->
                <button ng-click="showConfirmPanel('confirm-publish')" ng-if="hasPublishableOnlyItemsSelected(true)">
                    <i18n>daily.item.publish</i18n>
                </button>
                <!-- unpublish - lessons in published state and homeworks in published state not attached to lesson -->
                <button ng-click="showConfirmPanel('confirm-unpublish')" ng-if="hasPublishableOnlyItemsSelected(false)">
                    <i18n>daily.item.unpublish</i18n>
                </button>
            </div>
        </div>
    </section>
</div>
