<div class="row">
    <div class="twelve cell">
        <h2 ng-if="getItemsPublishableSelectedCount(false) === 1"><i18n>daily.item.unpublish.confirm.one</i18n></h2>
        <h2 ng-if="getItemsPublishableSelectedCount(false) > 1">
            <i18n>daily.item.unpublish.confirm.multi</i18n>
            &nbsp;([[getItemsPublishableSelectedCount(false)]]&nbsp;<i18n>daily.items</i18n>)
        </h2>

        <div class="row">
            <button class="right-magnet"
                    ng-click="publishSelectedItems(false)"
                    ng-if="true !== processingData">
                <i18n>daily.item.unpublish</i18n>
            </button>
            <input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="closeConfirmPanel()" ng-if="processingData !== true" />

            <button class="right-magnet cancel disabled" disabled ng-if="processingData === true"><i18n>daily.item.unpublishing</i18n></button>
        </div>
    </div>
</div>
