<!-- board -->
<div class="flex-table size-auto">

    <!-- List audiences -->
    <div class="flex-body flex-row" ng-show="true">
        <div class="flex-content list-audiences">
            <div class="list-audiences-content">
                <!-- List students -->
                <div class="flex-row-cdt row__12 list-audiences-student student-row-active"
                     ng-repeat="student in vm.selectedStudents() track by $index">
                    <!-- student picture -->
                    <div class="student-photo display-block flex-col col__1">
                        <img ng-src="/viescolaire/structures/[[vm.structure.id]]/students/[[student.id]]/picture"
                             height="30" width="30"
                             onerror="this.src='/assets/themes/cg77/skins/default/../..//img/illustrations/no-avatar.svg';">
                    </div>
                    <!-- student info -->
                    <div class="student-name flex-col col__10 ellipsis justified-content-start">
                        <span>[[student.displayName]]</span>
                    </div>
                    <!-- remove student -->
                    <div class="student-remove flex-col col__1" ng-click="vm.removeStudent(student.id)">
                        <i class="delete"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>