
right-panel{
  &.quick-search{
    z-index: 0;
  }
  .sum-selected{
    &>span{
      &:first-child{
        max-width: calc(100% - 40px);
        overflow: hidden;
        display: block;
        white-space: nowrap;
      }
      &:nth-child(2)  {
        position: absolute;
        display: block;
        top: 8px;
        right: 2px;
      }
    }

  }
  .right-panel{
    .quick-search-results{
      width: 100%;
      margin-top: 10px;
    }
    .togglable{
      &.visible{

      }
    }
  }
}
