

[diary-timeslot-item].dragin{
  border : blue 2px dashed !important ;
  border-radius : 7px ;

}



div.schedule .schedule-items .schedule-item .schedule-item-content{
  padding : 0px;
  box-sizing: border-box;
  &>div{
    padding : 5px;
    box-sizing: border-box;
    &.dragin{
      padding : 3px;
    }
  }
}
