<div  class="forheigth">
    <h1>        
        <a href="" ><i18n>diary.visa.tovise.title</i18n> </a>
    </h1>
    <div class="visa-lessons-filter row">
        <div class="cell four"> 
            <label class="cell three"><i18n>title</i18n></label>
            <input type="text"
              ng-init="visaManagerCtrl.searchFilter=''"
              style="background-color: white;"
              ng-model="visaManagerCtrl.searchFilter"  translate attr="placeholder" placeholder="diary.quicksearch.zoomlabel" size="20" >
        </div>
        <div class="cell four" ng-init="visaManagerCtrl.searchFilterDate=undefined">
            <label class="cell three"><i18n>date</i18n></label>
            <diary-date-picker ng-model="visaManagerCtrl.searchFilterDate" nullable="true" class="cell six"></diary-date-picker>
        </div>
        <div class="cell four right">
            <button
                class="right"
                confirm-popup
                confirm-class="popup-viser"
                confirm-template="/diary/public/js/visa/popup-valid/popup-valid.template.html" >
                <i18n>diary.visa.action.apply</i18n>
            </button>
            <button ng-click="visaManagerCtrl.pdf()" class="right cancel">
                <i18n>diary.visa.action.generatepdf</i18n>
            </button>
        </div>
        <!-- filters -->
    </div>
    <div class="lesson-list scrollbar-fine" style="height : [[visaManagerCtrl.lessonHeight]]" ng-init="visaManagerCtrl.listLessonHeight()">
        <!-- lessons -->
        <article ng-repeat="lesson in visaManagerCtrl.selectedLessons | filter : { title : visaManagerCtrl.searchFilter} | sameDate : {date : visaManagerCtrl.searchFilterDate}"
            overflow-y="scroll" on-finish-render="visaManagerCtrl.resize()"
            bottom-scroll="loadMorePreviousLessonsFromLesson(editLessonCtrl.lesson)">
            <div class="prev-lesson-summary">
                <a href="/diary#/showLessonView/[[lesson.lessonId]]" target="_blank">
                    [[lesson.date | date : constants.CAL_DATE_PATTERN_NG ]] - [[lesson.startTime]] - [[lesson.endTime]] - [[lesson.subject]] - [[lesson.audienceLabel]]
                </a>
                <i class="external-link"></i>
            </div>
            <div class="row">
                <!-- LESSON DESCRIPTION -->
                <div class="item-detail lesson-detail"
                     ng-class="{'full':!lesson.homeworks.length, 'alf' : lesson.homeworks.length > 0}"
                     ng-init="hasBigLength = (lesson.description | maxChar:60).length >= 60">

                    <div class="cell left-magnet" ng-if="hasBigLength" >
                        <i ng-click="lesson.expanded=!lesson.expanded" diary-tooltip="Déplier" ng-class="{'down-open' : !lesson.expanded, 'up-open':lesson.expanded}"></i>
                    </div> 
                    <div class="hover-orange" >
                        <span><b><i18n>daily.lesson.previous.label</i18n></b></span> [[lesson.title]]                        
                    </div>
                    <div class="item-description" ng-init="lesson.expanded=!hasBigLength">  
                        <div ng-bind-html="lesson.description | maxChar:60  " ng-if="!lesson.expanded"></div>
                        <div ng-init="lesson.descriptionTrusted = (lesson.description | trusthtml)" ng-bind-html="lesson.descriptionTrusted" ng-if="lesson.expanded"></div>
                    </div>
                </div>

                <!-- ATTACHED HOMEWORKS -->
                <div class="item-detail homework-visa-detail alf" ng-if="lesson.homeworks.length > 0">
                    <div class="row" ng-repeat="homework in lesson.homeworks"
                        ng-init="hasBigHomeworksLength = (homework.description | maxChar:60).length >= 60"
                    >
                        <div class="cell right-magnet" ng-if="hasBigHomeworksLength">
                            <i ng-click="homework.expanded=!homework.expanded" diary-tooltip="Déplier" ng-class="{'down-open' : homework.expanded, 'up-open':!homework.expanded}"></i>
                        </div>
                        <b><i18n>homework.date</i18n> [[homework.date  | date  : constants.CAL_DATE_PATTERN_NG]]</b> [[homework.title]]

                        <div class="item-description" ng-init="homework.expanded=!hasBigHomeworksLength">
                            <div ng-bind-html="homework.description | maxChar:60  " ng-if="!homework.expanded"></div>
                            <div ng-init="homework.descriptionTrusted = (homework.description | trusthtml)" ng-bind-html="homework.descriptionTrusted" ng-if="homework.expanded"></div>
                        </div>

                    </div>
                </div>

            </div>

        </article>
    </div>
    <!--
    <div ng-include="'/diary/public/js/visa/visa-lesson-list/toggle-selected.template.html'"></div>
    -->
</div>
