<div class="visa-tab">
      <div class="row visa-tab-header">
          <div class="cell five">
              <label class="checkbox">
                  <input type="checkbox" ng-model="lesson.selected"/>
                  <span></span>
              </label>
          </div>
          <div class="cell five">
              Liste des scéances
          </div>
      </div>
      <div class="row visa-tab-content">
          <article class="row visa-lesson" ng-repeat="visaAgreg in visaManagerCtrl.agregatedVisa">
              <div class="row visa-lesson-header">
                  <div class="cell three teacher">
                      [[visaAgreg.teacherName]]
                  </div>
                  <div class="cell three subject">
                      [[visaAgreg.subjectName]]
                  </div>
                  <div class="cell three audience">
                      [[visaAgreg.audienceName]]
                  </div>
              </div>
              <div class="row visa-lesson-content">
                  <div class="cell one">
                      <label class="checkbox">
                          <input type="checkbox" ng-model="visaAgreg.selected"/>
                          <span></span>
                      </label>
                  </div>
                  <div class="cell five visa" >
                      <div class="row">
                          <div class="cell four date">
                              Date visa :
                          </div>
                          <div class="cell eight">
                              <span ng-click="visaAgreg.expanded=!visaAgreg.expanded"
                                  ng-if="visaAgreg.visas.length > 0"
                                  ng-class="{'dirty' : visaAgreg.visas[0].nbDirty , 'ok' : (visaAgreg.nbNotVised + visaAgreg.visas[0].nbDirty) === 0}">
                                  [[visaAgreg.visas[0].dateCreate | date  : constants.CAL_DATE_PATTERN_NG]]
                              </span>
                              <span ng-if="visaAgreg.visas.length > 0"  ng-click="visaAgreg.expanded=!visaAgreg.expanded" >
                                  <i ng-show="!visaAgreg.expanded"  data-tooltip="Déplier" class="down-open"></i>
                                  <i ng-show="visaAgreg.expanded"  data-tooltip="Plier" class="up-open"></i>
                              </span>
                              <span
                                  ng-if="visaAgreg.visas.length == 0">
                                  Non visé
                              </span>
                          </div>
                      </div>
                      <div ng-if="visaAgreg.expanded" class="row">
                          <div class="cell four">&nbsp;</div>
                          <div class="cell eight">
                              <div ng-repeat="visa in visaAgreg.visas" >
                                  <div ng-if="!$first" class="dateCreate">
                                      [[visa.dateCreate | date  : constants.CAL_DATE_PATTERN_NG]]
                                  </div>
                                  <div class="owner">
                                      [[visa.ownerName]] ([[visa.ownerType]])
                                  </div>
                                  <div>
                                      [[visa.comment]]
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="cell three">
                      Dernière saisie : [[visaAgreg.lastDateUpdate | date  : constants.CAL_DATE_PATTERN_NG]]
                  </div>
                  <div class="cell three">
                      Scéances a viser : [[visaAgreg.nbNotVised + visaAgreg.visas[0].nbDirty]]
                      <i class="external-link" ng-click="visaManagerCtrl.showDetailVisa(visaAgreg)">
                      </i>
                  </div>
              </div>
          </article>
      </div>
  </div>
