<div class="visa-manager"  >
    <h1>
        <a href="#" ><i18n>diary.title</i18n> </a> >
        <a href="" ><i18n>via.title</i18n> </a>
    </h1>
    <div class="row visa-filters">
        <div class="cell three" ng-if="visaManagerCtrl.items">
            <div class="label" >Enseignant :  </div>
            <search-drop-down
                items = "visaManagerCtrl.filters.teachers"
                place-holder ="Professeur"
                selected-item="visaManagerCtrl.filter.teacher"
                show-expression="item.value"
            ></search-drop-down>
        </div>
        <div class="cell three">
            <span class="label">Matière : </span>
            <diary-drop-down
                placeholder="select.group.or.class"
                list="visaManagerCtrl.filters.subjects"
                selected="visaManagerCtrl.filter.subject"
                property="value">
            </diary-drop-down>
        </div>
        <div class="cell two">
            <span class="label">Classe : </span>
            <diary-drop-down
                placeholder="select.group.or.class"
                list="visaManagerCtrl.filters.audiences"
                selected="visaManagerCtrl.filter.audience"
                property="value">
            </diary-drop-down>
        </div>
        <div class="cell two">
            <span class="label">Statut : </span>
            <diary-drop-down
                placeholder="select.group.or.class"
                list="visaManagerCtrl.filters.states"
                selected="visaManagerCtrl.filter.state"
                property="value">
            </diary-drop-down>
        </div>
        <div class="cell two">
            <button ng-click="visaManagerCtrl.search()">rechercher</button>
        </div>
    </div>
    <div ng-include="'/diary/public/js/visa/visa-list.template.html'"
        ng-if="visaManagerCtrl.agregatedVisa.length > 0"></div>
    <div ng-include="'/diary/public/js/visa/visa-list-empty-instructions.template.html'"
        ng-if="!visaManagerCtrl.agregatedVisa.length"></div>
        <div ng-include="'/diary/public/js/visa/toggle-selected.template.html'"></div>
</div>
