.seach-drop-down{
  position: relative;
  .highlighted{
    font-weight: bold;
    color : #4bafd5;
  }
  .result{
    position: absolute;
    background-color: #2a9cc8;
    color: white;
    padding: 2px 10px;
    border-radius: 45px;
    cursor: text;
    &:hover{
      opacity: 0.9
    }
  }
  input, .drop-down{
    width:100%
  }

  .drop-down{
    max-height: 350px;
    height:auto;
    overflow: auto;
    border: solid 1px #2a9cc8;
    background-color: white;
    ul {
      border-left: 0px solid transparent !important;
      background: white;
      li {
        color: #2a9cc8;
      }
      li:hover {
        background: #F0F0F0;
        padding-right: 2px;
      opacity: 0.8
      }
    }
  }
}
