{
    "name": "{{ diaryVersion }}",
    "config": {
        "main" : "fr.openent.diary.Diary",
        "port" : 8054,
        "app-name" : "Diary",
        "app-address" : "/diary",
        "app-icon" : "cahier-textes-large",
        "host": "https://{{ host }}",
        "ssl" : true,
        {% if overrideTheme %} "override-theme": {{ override2d }}, {% endif %}
        "auto-redeploy": false,
        "userbook-host": "https://{{ host }}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "prod",
        "sql": true,
        "dependencies" : {
            "fr.openent.viescolaire": "1.0.0"
        },
        "exports" : {
            "template-path" : "public/template/pdf/"
        },
        {% if urlPDFGenerator is defined %}
        "pdf-generator" : {
            "pdf-connector-id": "exportpdf",
            "auth" : "{{ authorizationPDFGenerator }}",
            "url": "{{ urlPDFGenerator }}"
        },
        "node-pdf-generator" : {
            "pdf-connector-id": "exportpdf",
            "auth": "{{ nodePdfToken }}",
            "url" : "{{ nodePdfUrl }}"
        },
        {% endif %}
        "entcore.port" : 8009,
        "publicConf": {
            "xiti": {
                "ID_SERVICE": {
                    "default": 9
                },
                "LIBELLE_SERVICE": {
                    "default": "CAHIER_TEXTES"
                }
            }
        }
    }
}