<div class="visa-manager"  >
    <h1>
        <a href="#" ><i18n>diary.title</i18n> </a> >
        <a href="" ><i18n>diary.visa.title</i18n> </a>

    </h1>
    <div class="visa-right-button">

      <button
          secure="[[RIGHTS.MANAGE_INSPECTOR]]"
           class="diary-ico-button"
          confirm-popup
          confirm-class="fullscreen popup-visa-habilitation"
      confirm-template="/diary/public/template/visa/inspector-habilitations/habilitations.template.html" >
          <i class="icon lock-alt" ></i>Gérer les habilitations
      </button>
    </div>
    <div class="row visa-filters">
        <div class="cell three" ng-if="visaManagerCtrl.items">
            <div class="label" ><i18n>enseignant</i18n> :  </div>
            <search-drop-down
                items = "visaManagerCtrl.filters.teachers"
                place-holder ="enseignant"
                selected-item="visaManagerCtrl.filter.teacher"
                show-expression="item.value"
            ></search-drop-down>
        </div>
        <div class="cell three" secure="[[RIGHTS.VISA_ADMIN]]">
            <span class="label"><i18n>subject</i18n> : </span>
            <diary-drop-down
                placeholder="subject"
                list="visaManagerCtrl.filters.subjects"
                selected="visaManagerCtrl.filter.subject"
                nullable="true"
                property="value">
            </diary-drop-down>
        </div>
        <div class="cell two" secure="[[RIGHTS.VISA_ADMIN]]">
            <span class="label"><i18n>audience.type.class</i18n> : </span>
            <diary-drop-down
                placeholder="select.group.or.class"
                list="visaManagerCtrl.filters.audiences"
                selected="visaManagerCtrl.filter.audience"
                nullable="true"
                property="value">
            </diary-drop-down>
        </div>
        <div class="cell two">
            <span class="label"><i18n>status</i18n> : </span>
            <diary-drop-down
                placeholder="status"
                list="visaManagerCtrl.filters.states"
                selected="visaManagerCtrl.filter.state"
                property="value">
            </diary-drop-down>
        </div>
        <div class="cell two">
            <button ng-click="visaManagerCtrl.search()"
            ng-disabled="!visaManagerCtrl.searchAvailable()"
            ><span diary-tooltip="[[visaManagerCtrl.searchAvailable() ? 'search' : 'diary.visa.select.filter']]"><i18n>search</i18n></span></button>
        </div>
    </div>
    <div ng-if="visaManagerCtrl.agregatedVisa.length > 0">
        <div ng-include="'/diary/public/template/visa/visa-list.template.html'"></div>
    </div>
    <div ng-if="!visaManagerCtrl.agregatedVisa || visaManagerCtrl.agregatedVisa.length === 0">
        <div ng-include="'/diary/public/template/visa/visa-list-empty-instructions.template.html'"></div>
    </div>
    <div ng-include="'/diary/public/template/visa/toggle-selected.template.html'"></div>

</div>
