<div class="visa-page">
    <div class="row">
        <button class="right-magnet cancel" ng-click="goTo('/view')">
            <i18n>visa.manage.backOnDiary</i18n>
        </button>
        <h1 workflow="diary.readVisa" class="eight">
            <i18n>visa.manager</i18n>
        </h1>
    </div>
    <div workflow="diary.readVisa" ng-controller="manageVisasCtrl">
        <div class="row">
            <article class="cell two twelve-mobile"
                     static-include="/diary/public/template/visa/visa-sidebar.html"></article>
            <div class="cell ten twelve-mobile content-next-to-the-sidebar">

                <div class="row">
                    <div class="cell twelve twelve-mobile visa-diary"
                         static-include="/diary/public/template/visa/visaSessions-manager.html">
                    </div>

                </div>
                <div workflow="diary.manageVisa" class="row">
                    <div class="cell twelve twelve-mobile"
                         static-include="/diary/public/template/visa/visa-form.html">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>