
<!-- HOMEWORKS ONLY-->
<article  ng-if="pedagogicItem.pedagogicType === TYPE_HOMEWORK && filterHomeworkState(pedagogicItem)" class="pedagogic-item-article">
    <div  class="row  list-view-item">

        <div  class="eight cell first-content">
            <!-- Subject, Audience and Teacher-->
            <span ng-class=" pedagogicItem.description?'hasDescription':''"
                  ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                <span class="normal">
                            [[pedagogicItem.subject.label]] &nbsp;
                    <span class="small">
                                [[pedagogicItem.audience.name]] [[pedagogicItem.teacher.firstName]] [[pedagogicItem.teacher.lastName]]&nbsp;
                            </span>
                        </span>
                <!--<i ng-if="pedagogicItem.description"-->
                <!--ng-class="pedagogicItem.opened ? 'up-open' : 'down-open'"></i>&nbsp;&nbsp;-->
                    </span>
            <div ng-show="!display.sessionList">
                <div class="row inline-block medium-importance padding-bottom-list">
                    <!--devoir --> <span  ><i>&#xe80d;</i></span>
                    <span class="three" ng-class=" pedagogicItem.description?'hasDescription':''"
                          ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                            [[pedagogicItem.type.label]]&nbsp;
                        <!--<i ng-class="homework.opened  ? 'up-open' : 'down-open'"></i>&nbsp;&nbsp;-->
                        </span>

                </div>

                <!-- Description -->
                <div ng-if="pedagogicItem.opened && pedagogicItem.description"
                     class="row"
                     ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                    <div ng-if="pedagogicItem.opened"
                         class="read-only-description"
                         bind-html="pedagogicItem.description"></div>
                </div>
            </div>
        </div>

        <div class="cell four">
            <label class="six cell twelve-mobile">
                <div ng-show="pedagogicItem.isDone" class="six margin-bottom-md">
                    <i18n style="color:green;">done</i18n>

                </div>
                <div ng-show="!pedagogicItem.isDone" class="twelve margin-bottom-md">
                    <i18n style="color:red;">todo</i18n>

                </div>
            </label>
            <div class="cell horizontal-spacing twelve-mobile ">
                <switch class="" ng-model="pedagogicItem.isDone" ng-change="setHomeworkProgress(pedagogicItem)">
                    <label class="switch"> </label>
                </switch>
            </div>
        </div>
        <!-- HOMEWORK DONE -->

        <i ng-click="openHomework(pedagogicItem.id)" tooltip="[[translate('homework.consult')]]">&#xe8aa;</i>

    </div>
</article>
<!--HOMEWORKS FROM SESSIONS-->
<article  ng-show="pedagogicItem.pedagogicType !== TYPE_COURSE" ng-repeat="homework in pedagogicItem.homeworks"  ng-if="pedagogicItem.pedagogicType !== TYPE_HOMEWORK  &&  filterHomeworkState(homework)" class="pedagogic-item-article">
    <div  class="row  list-view-item">
        <div  class="eight cell first-content">
            <!-- Subject, Audience and Teacher-->
            <span ng-class=" pedagogicItem.description?'hasDescription':''"
                  ng-click="homework.opened = !homework.opened">
                <span class="normal">
                            [[homework.subject.label]] &nbsp;
                    <span class="small">
                                [[homework.audience.name]] [[homework.teacher.firstName]] [[homework.teacher.lastName]]&nbsp;
                            </span>
                        </span>
                <!--<i ng-if="pedagogicItem.description"-->
                <!--ng-class="pedagogicItem.opened ? 'up-open' : 'down-open'"></i>&nbsp;&nbsp;-->
                    </span>
            <div ng-show="!display.sessionList">
                <div class="row inline-block medium-importance padding-bottom-list">
                    <!--devoir --> <span  ><i>&#xe80d;</i></span>
                    <span ng-class=" homework.description ? 'hasDescription':''"
                          ng-click="homework.opened = !homework.opened">
                            [[homework.type.label]]&nbsp;
                        <!--<i ng-class="homework.opened  ? 'up-open' : 'down-open'"></i>&nbsp;&nbsp;-->
                        </span>

                </div>
                <!-- HOMEWORK DONE -->
                <!-- Description -->
                <div class="row" ng-click="homework.opened = !homework.opened">
                    <div ng-show="homework.opened" class="read-only-description"
                         bind-html="homework.description"></div>
                </div>
            </div>
            <!-- Description -->

        </div>

        <div class="cell four">
            <label class="six cell twelve-mobile">
                <div ng-show="homework.isDone" class="six margin-bottom-md">
                    <i18n style="color:green;">done</i18n>

                </div>
                <div ng-show="!homework.isDone" class="twelve margin-bottom-md">
                    <i18n style="color:red;">todo</i18n>

                </div>
            </label>
            <div class="cell horizontal-spacing twelve-mobile ">
                <switch class="" ng-model="homework.isDone"  ng-change="setHomeworkProgress(homework)">
                    <label class="switch"> </label>
                </switch>
            </div>
        </div>
        <i ng-click="openHomework(homework.id)" tooltip="[[translate('homework.consult')]]">&#xe8aa;</i>
    </div>
</article>