<!-- Session and Course -->
<article class="pedagogic-item-article">
    <!-- Sessions -->
    <div class="row  list-view-item">
        <div  class="eight cell first-content">
            <!-- Subject, Audience and Teacher-->

            <span ng-class=" pedagogicItem.description?'hasDescription':''"
                  ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                <span class="normal">
                            [[pedagogicItem.subject.label]] &nbsp;
                    <span class="small">
                                [[pedagogicItem.audience.name]] [[pedagogicItem.teacher.firstName]] [[pedagogicItem.teacher.lastName]]&nbsp;
                            </span>
                        </span>
                <!--<i ng-if="pedagogicItem.description"-->
                <!--ng-class="pedagogicItem.opened ? 'up-open' : 'down-open'"></i>&nbsp;&nbsp;-->
                    </span>
            <i ng-if="isClickableByStudentOrParent(pedagogicItem)" ng-click="openSession(pedagogicItem.id)" tooltip="[[translate('session.consult')]]">&#xe8aa;</i>
            <i ng-if="pedagogicItem.pedagogicType == 3" ng-click="openSessionFromCourse(pedagogicItem)" tooltip="[[translate('session.consult')]]">&#xe8aa;</i>
            <br/>
            <em ng-if="pedagogicItem.startDisplayTime && pedagogicItem.startDisplayTime">
                [[pedagogicItem.startDisplayTime]] - [[pedagogicItem.endDisplayTime]]
            </em>
            <span class="small" ng-if="pedagogicItem.room">
                <i18n>utils.room</i18n> [[pedagogicItem.room]]
            </span>
            <!-- Description -->
            <div ng-if="pedagogicItem.opened && pedagogicItem.description"
                 class="row"
                 ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                <div ng-if="pedagogicItem.opened"
                     class="read-only-description"
                     bind-html="pedagogicItem.description"></div>
            </div>
        </div>
        <div class="sub-content text-right cell four"
             ng-if="pedagogicItem.homeworks && pedagogicItem.homeworks.length">
            <div class="list-view-item"
                 ng-repeat="homework in pedagogicItem.homeworks"
                 static-include="/diary/public/template/list/list-pedagogic-item-homework.html">
            </div>
        </div>
    </div>
</article>