<!-- HOMEWORKS ONLY-->
<article ng-if="pedagogicItem.pedagogicType === TYPE_HOMEWORK && filterHomeworkState(pedagogicItem)"
         class="pedagogic-item-article">

    <div class="row list-view-item">
        <div class="twelve cell first-content">
            <!-- Subject, Audience and Teacher-->
            <span class="pedagogic-item-article-title"
                  ng-class="pedagogicItem.description?'hasDescription':''"
                  ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                <span>
                    <b>[[pedagogicItem.subject.label ? pedagogicItem.subject.label : pedagogicItem.subject.name]] &nbsp;</b>
                </span>
                <span>
                    <b>[[pedagogicItem.audience.name]] &nbsp;</b>
                </span>
                <span>
                    [[pedagogicItem.teacher.displayName]]
                </span>
            </span>

            <!-- content -->
            <div class="pedagogic-item-article-content">
                <div class="pedagogic-item-article-content-body row inline-block medium-importance margin-top-md">

                    <!--devoir -->
                    <div ng-class="!$parent.isMobile() ? 'horizontal-spacing' : ''" class="cell twelve-mobile">
                        <span><i>&#xe80d;</i></span>
                        <span class="three" ng-class=" pedagogicItem.description?'hasDescription':''"
                              ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                            [[pedagogicItem.type.label]]&nbsp;
                            <span ng-if="isAChildOrAParent && pedagogicItem.publishDate !== 'Invalid date'"> -
                                <i18n>homework.published.date.child</i18n> [[pedagogicItem.publishDate]]
                            </span>
                            <span ng-if="!isAChildOrAParent && pedagogicItem.publishDate !== 'Invalid date'"> -
                                <i18n>homework.published.date.teacher</i18n> [[pedagogicItem.publishDate]]
                            </span>
                        </span>
                    </div>

                    <!-- is child or parent homework done/undone -->
                    <div ng-class="!$parent.isMobile() ? 'horizontal-spacing' : ''"
                         class="pedagogic-item-article-content-body-homeworkState twelve-mobile" ng-if="isAChildOrAParent">

                        <label ng-class="!$parent.isMobile() ? 'twelve-mobile' : ''" class="cell">
                            <div ng-show="pedagogicItem.isDone" class="twelve">
                                <i18n style="color:green;">done</i18n>
                            </div>
                            <div ng-show="!pedagogicItem.isDone" class="twelve">
                                <i18n style="color:red;">todo</i18n>
                            </div>
                        </label>

                        <div workflow="diary.setProgressHomework"
                             ng-class="!$parent.isMobile() ? 'twelve-mobile' : ''"
                             class="cell horizontal-spacing" ng-if="isChild">
                            <switch class="" ng-model="pedagogicItem.isDone" ng-change="setHomeworkProgress(pedagogicItem)">
                                <label class="switch"> </label>
                            </switch>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div ng-if="pedagogicItem.opened && pedagogicItem.description"
                 class="twelve-mobile"
                 ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                <div ng-if="pedagogicItem.opened"
                     class="vertical-spacing"
                     bind-html="pedagogicItem.description">
                </div>
            </div>

        </div>

        <!-- HOMEWORK DONE -->
        <i ng-click="openHomework(pedagogicItem.id)" class="right-open" tooltip="[[translate('homework.consult')]]">
            <i18n class="see-right">see.detail</i18n>
        </i>
    </div>
</article>