
<!-- HOMEWORKS ONLY-->
<article  ng-if="pedagogicItem.pedagogicType === TYPE_HOMEWORK && filterHomeworkState(pedagogicItem)" class="pedagogic-item-article">
    <div  class="row  list-view-item">

        <div  class="twelve cell first-content">
            <!-- Subject, Audience and Teacher-->
            <span ng-class=" pedagogicItem.description?'hasDescription':''"
                  ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                <span>
                    <b>[[pedagogicItem.subject.label]] &nbsp;</b>
                </span>
                <span>
                    <b>[[pedagogicItem.audience.name]] &nbsp;</b>
                </span>
                <span>
                    [[pedagogicItem.teacher.firstName]] [[pedagogicItem.teacher.lastName]]
                </span>
                <!--<i ng-if="pedagogicItem.description"-->
                <!--ng-class="pedagogicItem.opened ? 'up-open' : 'down-open'"></i>&nbsp;&nbsp;-->
            </span>
            <div ng-show="!display.sessionList">
                <div class="row inline-block medium-importance margin-top-md">

                    <!--devoir -->
                    <div class="cell horizontal-spacing twelve-mobile">
                        <span ><i>&#xe80d;</i></span>
                        <span class="three" ng-class=" pedagogicItem.description?'hasDescription':''"
                              ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                            [[pedagogicItem.type.label]]&nbsp; -
                            <span ng-if="isAChildOrAParent && pedagogicItem.publishDate !== 'Invalid date'"> <i18n>homework.published.date.child</i18n> [[pedagogicItem.publishDate]]</span>
                            <span ng-if="!isAChildOrAParent && pedagogicItem.publishDate !== 'Invalid date'"> <i18n>homework.published.date.teacher</i18n> [[pedagogicItem.publishDate]]</span>
                            <!--<i ng-class="homework.opened  ? 'up-open' : 'down-open'"></i>&nbsp;&nbsp;-->
                        </span>
                    </div>

                    <div class="horizontal-spacing twelve-mobile" ng-if="isAChildOrAParent">
                        <div workflow="diary.setProgressHomework" class="cell horizontal-spacing twelve-mobile">
                            <switch class="" ng-model="pedagogicItem.isDone" ng-change="setHomeworkProgress(pedagogicItem)">
                                <label class="switch"> </label>
                            </switch>
                        </div>
                        <label class="cell twelve-mobile">
                            <div ng-show="pedagogicItem.isDone" class="six">
                                <i18n style="color:green;">done</i18n>
                            </div>
                            <div ng-show="!pedagogicItem.isDone" class="twelve">
                                <i18n style="color:red;">todo</i18n>
                            </div>
                        </label>
                    </div>
                </div>
            </div>

            <!-- Description -->
            <div ng-if="pedagogicItem.opened && pedagogicItem.description"
                 class="twelve-mobile"
                 ng-click="pedagogicItem.opened = !pedagogicItem.opened">
                <div ng-if="pedagogicItem.opened"
                     class="read-only-description"
                     bind-html="pedagogicItem.description">
                </div>
            </div>

        </div>

        <!-- HOMEWORK DONE -->

        <i ng-click="openHomework(pedagogicItem.id)" tooltip="[[translate('homework.consult')]]">&#xe8aa;</i>

    </div>
</article>