<div ng-controller="manageListController" class="row" workflow="diary.listView"
     ng-class="isAChildOrAParent ? 'remove-margin-left' : ''">
    <!-- title -->
    <div class="flex-row row__12">
        <div class="flex-col col__3">
            <app-title class="zero-mobile">
                <div ng-class="isCounselorUser() ? 'title-area-simple' : 'title-area-complete'">
                    <img ng-if="!isCounselorUser()" ng-src="/diary/public/img/uni-cahierdetexte.png" alt=""/>
                    <h1 class="application-title">
                        <i18n>diary.title</i18n>
                        <!-- name structure -->
                        <span ng-if="!isCounselorUser()" class="structure-title manage-list">
                            [[structure.name]]
                        </span>
                    </h1>
                </div>
            </app-title>
        </div>
    </div>

    <!-- content -->
    <div class="cell three twelve-mobile sidebar-content"
         static-include="/diary/public/template/main/sidebar.html"></div>

        <div class="cell nine twelve-mobile sidebar-content">
            <!-- date filter -->
            <article class="twelve row " ng-if="display.listView">
                <i18n>period.from</i18n>
                <date-picker ng-model="filters.startDate" ng-change="syncPedagogicItems();"
                             class="no-margin date-picker-sm">
                </date-picker>
                <i18n>to</i18n>
                <date-picker ng-model="filters.endDate" ng-change="syncPedagogicItems();"
                             class="no-margin date-picker-sm"></date-picker>
            </article>

            <!-- list pedagogic day -->
            <div class="list-view">
                <div ng-show="hasPedagogicDayToDisplay(pedagogicDays,display)" class="timeline-story vertical-spacing row">
                    <div ng-repeat="pedagogicDay in pedagogicDays | pedagogicDayFilter: display.sessionList:!display.sessionList"
                         class="twelve cell event-row timeline-story">
                        <div ng-if="!containsOnlyCourses(pedagogicDay) && hasHomeworksToDisplay(display, pedagogicDay)">

                            <!-- arrow toggle open or down -->
                            <i ng-class="pedagogicDay.displayed ? 'up-open' : 'down-open'" class="left-magnet"
                               data-ng-click="displayDay(pedagogicDay)">
                            </i>

                            <!-- title-->
                            <div class="cell date-field text-right">
                                <span class="label">
                                    [[pedagogicDay.fullDayName]]
                                </span>
                            </div>

                            <!-- round -->
                            <div class="event cell">
                                <div>
                                    <span class="round"
                                          ng-class="{'[[pedagogicDay.color]]': true}">
                                        <span class="white-text">
                                            [[getNbHomework(pedagogicDay)]]
                                        </span>
                                    </span>
                                </div>
                            </div>

                            <!-- content inside arrow if displayed -->
                            <div ng-show="pedagogicDay.displayed" class="cell ten eleven-mobile">
                                <div ng-repeat="pedagogicItem in pedagogicDay.pedagogicItems">
                                    <!-- content list pedagogic item case session list is view -->
                                    <div ng-if="displaySession(display.sessionList,pedagogicItem) && display.sessionList"
                                         static-include="/diary/public/template/list/list-pedagogic-item.html"></div>

                                    <!-- content list pedagogic homeworkOnly case session list is not view -->
                                    <div ng-if="displaySession(display.sessionList,pedagogicItem) && !display.sessionList"
                                         static-include="/diary/public/template/list/list-pedagogic-item-homeworkOnly.html"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  empty state -->
                <div ng-show="!hasPedagogicDayToDisplay(pedagogicDays,display)">
                    <span ng-show="!display.sessionList"><i18n>diary.empty.viewlist.homework</i18n></span>
                    <span ng-show="display.sessionList"><i18n>diary.empty.viewlist.session</i18n></span>
                </div>
            </div>
        </div>
</div>
