<!-- Session and Course -->
<article ng-if="pedagogicItem.pedagogicType === TYPE_SESSION" class="pedagogic-item-article">
    ggggg
    <!-- Sessions -->
    <div class="row  list-view-item">
        <div  ng-click="pedagogicItem.opened = !pedagogicItem.opened" class="twelve cell first-content">
            <!-- Subject, Audience and Teacher-->
            <span ng-class=" pedagogicItem.description?'hasDescription':''"
                  >
                <span>
                    <b>[[pedagogicItem.subject.label]] &nbsp;</b>
                </span>
                <span>
                    <b>[[pedagogicItem.audience.name]] &nbsp;</b>
                </span>
                <span>
                    [[pedagogicItem.teacher.toString()]]
                </span> &nbsp;
                <span class="hoursInView" ng-if="pedagogicItem.startDisplayTime && pedagogicItem.startDisplayTime">
                    [[pedagogicItem.startDisplayTime]] - [[pedagogicItem.endDisplayTime]]
                </span>
            </span>

                <!--<i ng-if="pedagogicItem.description"-->
                <!--ng-class="pedagogicItem.opened ? 'up-open' : 'down-open'"></i>&nbsp;&nbsp;-->

            <i ng-if="isClickableByStudentOrParent(pedagogicItem)" class="right-magnet" ng-click="openSession(pedagogicItem.id)" tooltip="[[translate('session.consult')]]">&#xe8aa;</i>
            <i ng-if="pedagogicItem.pedagogicType == 3" class="right-magnet" ng-click="openSessionFromCourse(pedagogicItem)" tooltip="[[translate('session.consult')]]">&#xe8aa;</i>
            <br/>

            <div class="row inline-block horizontal-spacing medium-importance margin-top-md">
                <i>&#xe86f;</i>
                <span class="small" ng-if="pedagogicItem.title">
                     [[pedagogicItem.title]]
                </span>
                <span class="small" ng-if="pedagogicItem.room">
                   -   <i18n>utils.room</i18n>[[pedagogicItem.room]]
                </span>
            </div>


            <!-- Description -->
            <div ng-if="pedagogicItem.opened && pedagogicItem.description"
                 class="row"
                 ng-click="pedagogicItem.opened = !pedagogicItem.opened">

                <div ng-if="pedagogicItem.opened"
                     class="read-only-description"
                     bind-html="pedagogicItem.description"></div>
            </div>
        </div>

    </div>
</article>