<!DOCTYPE html>
<html>

<head>
	<title>{{#i18n}}diary.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

	<script src="/infra/public/js/loader.js?1496164427222" type="text/javascript" id="context"></script>
	<script src="/diary/public/js/app.js?1496164427222" type="text/javascript"></script>

	<link href="/diary/public/css/app.css?1496164427222" rel="stylesheet" />

</head>

<body ng-controller="DiaryController">
	<portal>
		<container template="main"></container>
	</portal>
</body>

</html>
