<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<link href="./css/pdf.css?DIGEST" rel="stylesheet" />

<head>
	<title>Liste des lessons à viser</title>
</head>

<body class="pdf">
	<div class="header">
		Génération pdf du 18/05/2017 pour 1 professeur, 1 scéance, 1 matière, 6 classes
	</div class="header">
	<div class="content">
		<div class="lesson">
			<div class="lesson-part">
				<div class="lesson-header">
					DUPONT JEAN-YVES  - MATHEMATIQUES - Mardi 02/05/2017 - 11h00 - 12h00 - 3EME 305
				</div>
				<div class="lesson-content">
					<div class="lesson-title">
						<strong>Lesson : </strong> Expressions algébriques: somme et produit
					</div>
					<div class="lesson-description">
						Une expression algébrique est composée de nombres, de lettres, de parenthèses, d’opérations et de fonctions ...
					</div>
				</div>
			</div>
			<div class="homework-part">
				<div class="lesson-content">
					<div class="lesson-title">
						<strong>Devoir : </strong> A faire pour le 02/05/2017
					</div>
					<div class="lesson-description">
						Equation
						Faire les exercices suivants en cours :
						A =a +b , B = x + 2, C = x 2 +1, D = (n +1)2(n2 +1)+n2, ...
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>
