<div class="main-nav">
    <!-- Structures select -->
    <div class="first-item">
        <div role="menuitem" class="item"
             data-ng-click="hoverIn('STRUCTURES')"
             data-ng-mouseover="hoverIn('STRUCTURES')"
             data-ng-mouseleave="hoverOut()"
             ng-if="structures.length > 1">
            <!-- icon -->
            <i class="text-xl margin-sm icon diary-view-carousel"></i>
            <!-- text -->
            <span>
                <i18n>utils.structure.choose</i18n>
            </span>
        </div>
    </div>

    <div class="list-item"
        ng-class="{'four_items' : ((userType === 'ENSEIGNANT') && hasRight('readNotebookArchives')),
                  'three_items' : (((userType !== 'ENSEIGNANT') || !hasRight('readNotebookArchives')))
                  && !((userType === 'ENSEIGNANT') && hasRight('readNotebookArchives')),
                   'two_items': (userType !== 'ENSEIGNANT' && !hasRight('readNotebookArchives'))}">
        <!-- Home / Dashboard  -->
        <a role="menuitem" ng-href="[[userType === 'ENSEIGNANT' ? 'diary#/view' : 'diary#/administrator/global']]"
           class="item"
           ng-class="{active: (userType === 'ENSEIGNANT' ? (getCurrentState() === 'view' || getCurrentState() === '') : (getCurrentState() === 'administrator'))}"
           ng-click="changeViewCalendar()">
            <!-- icon -->
            <i class="text-xl margin-sm icon dashboard"></i>
            <!-- text -->
            <span>
                <i18n>home</i18n>
            </span>
        </a>

        <!-- Notebook / calendar View part -->
        <a role="menuitem" ng-href="[[userType === 'ENSEIGNANT' ? 'diary#/administrator/global' : 'diary#/view']]"
           class="item"
           ng-class="{active: (userType === 'ENSEIGNANT' ? (getCurrentState() === 'administrator') : (getCurrentState() === 'view' || getCurrentState() === ''))}">
            <!-- icon -->
            <i class="text-xl margin-sm icon" ng-class="userType === 'ENSEIGNANT' ? 'notebook' : 'nav-diary-calendar'"></i>
            <!-- text -->
            <span ng-if="userType === 'ENSEIGNANT'">
                <i18n>diary.title</i18n>
            </span>
            <!-- text -->
            <span ng-if="userType !== 'ENSEIGNANT'">
                <i18n>sessions.admin.backOnDiary</i18n>
            </span>
        </a>

        <!-- Progression  -->
        <a role="menuitem" href="diary#/progressions/view" class="item"
           ng-class="{active: getCurrentState() === 'progressions'}"
           ng-if="userType === 'ENSEIGNANT'">
            <!-- icon -->
            <i class="text-xl margin-sm icon progession"></i>
            <!-- text -->
            <span>
                <i18n>progressions</i18n>
            </span>
        </a>

        <a role="menuitem" href="diary#/archives/notebooks/view" class="item"
           ng-class="{active: getCurrentState() === 'archives'}"
           workflow="diary.readNotebookArchives">
            <!-- icon -->
            <i class="text-xl margin-sm icon notebook-archive"></i>
            <!-- text -->
            <span>
                <i18n>archives</i18n>
            </span>
        </a>
    </div>
</div>

<!-- Structures list on hover -->
<div class="sub-nav">
    <div class="sub-items" ng-class="{hovered: menu.hovered === 'STRUCTURES'}"
         data-ng-mouseover="hoverIn('STRUCTURES')"
         data-ng-mouseleave="hoverOut()"
         ng-if="structures.length > 1">

        <h2>
            <i18n>utils.structure</i18n>
        </h2>

        <div class="sub-items-structure">
            <div ng-repeat="structure in structures" class="sub-item item"
                 ng-class="{active: menu.structure.id === structure.id}"
                 data-ng-click="setStructure(structure)">
                <i class="icon"></i>
                <span>[[structure.name]]</span>
            </div>
        </div>
    </div>
</div>