<!--  tooltip="[[item.subjectLabel]] - [[item.audienceLabel]] - [[item.room]]<br>[[item.title]]" -->

<div class="diary-item-calendar schedule-item-content"
     ng-style="{'background-color': item.color}"
     ng-class="{'diary-schedule' :item.calendarType==='shadow' }"
     diary-tooltip="[[item.tooltipText]]">
     <!-- #######################
          ######## lessons part
          ########################-->
    <div ng-click="openOnClickSaveOnDrag(item, $event)"
        ng-if="item.calendarType!=='shadow'"
        ng-mouseDown="setMouseDownTime($event)"

        class="diary-item-calendar-container">
        <div class="item-line">
            <!-- Hour Start -->
            <span id="hour-start" class="hour">
                [[item.startMoment.format('HH')]]h[[item.startMoment.format('mm')]]
            </span>
            <!-- 3 - SALLE -->
            <span id="room" class="room">[[item.room]]</span>

            <!-- 5 - CHECK -->
            <input id="itemcheckbox" ng-if="params.isUserTeacher" type="checkbox" ng-model="item.selected" class="item-checkbox"/>
        </div>
        <div class="item-line">
            <!-- 1 - End Hour -->
            <span id="hour-end" class="hour">[[item.endMoment.format('HH')]]h[[item.endMoment.format('mm')]]</span>
            <!-- 2 - CLASSE -->
            <span  class="room">[[item.audienceLabel]]</span>
            <!-- 1 - ICONE BROUILLON -->
            <span id="state" ng-if="[[item.state]]=='draft'" class="item-checkbox">
                <i class="icon pencil"></i>
            </span>
        </div>

        <div>
            <span id="subjectlabel" class="subjectlabel" >[[item.subjectLabel]]&nbsp;</span>
        </div>
    </div>
    <!--
        #######################
        ######## schedule part
        ########################
     -->

    <div
        ng-click="createNewtemFromSchedule(item)"
        ng-if="item.calendarType==='shadow'"
        class="diary-item-calendar-container">
        <div class="item-line">
            <!-- Hour Start -->
            <span id="hour-start" class="hour">
                [[item.startMoment.format('HH')]]h[[item.startMoment.format('mm')]]
            </span>
            <!-- 3 - SALLE -->
            <span id="room" class="room">[[item.room]]</span>

            <!-- 5 - CHECK -->
        </div>

        <!-- -->
        <div style="item-line">
            <!-- 1 - End Hour -->
            <span id="hour-end" class="hour">[[item.endMoment.format('HH')]]h[[item.endMoment.format('mm')]]</span>
            <!-- 2 - CLASSE -->
            <span  class="room">[[item.classes | arraytostring]]</span>
            <!-- 1 - ICONE BROUILLON -->
            <span id="state" ng-if="[[item.state]]=='draft'" class="item-checkbox">
                <i class="icon pencil"></i>
            </span>
        </div>

        <div>
            <span id="subjectlabel" class="subjectlabel" >[[item.subject.subjectLabel]]&nbsp;</span>
        </div>
    </div>


</div>
