<div class="homework-type ten cell">
    <article class="row">

        <h3 class="row margin-bottom-lg">
            [[lang.translate('cdt.setting.data.init')]]
        </h3>

        <div class="cell twelve-mobile twelve">
            <h4>Les données qui seront initialisées sont :</h4>
            <ul class="remove-margin-top">
                <li class="twelve">
                    <span>Etats des devoirs</span>
                </li>
                <li class="twelve">
                    <spanp>Types de devoirs</spanp>
                </li>
            </ul>
        </div>

        <div class="cell twelve-mobile twelve">
            <button ng-click="initData()">
                [[lang.translate('cdt.start.init')]]
            </button>
        </div>

    </article>
</div>