<div class="homework-type ten cell">
    <toasts notifications="notifications"></toasts>
    <article class="row">

        <h3 class="row margin-bottom-lg">
            [[lang.translate('cdt.setting.data.init')]]
        </h3>

        <div class="cell twelve-mobile twelve">
            <h4>[[lang.translate('cdt.data.init.are')]]* :</h4>
            <ul class="remove-margin-top">
                <li class="twelve">
                    <span>[[lang.translate('cdt.state.homework')]]</span>
                </li>
                <li class="twelve">
                    <span>[[lang.translate('cdt.work.type')]]</span>
                </li>
                <li class="twelve">
                    <span>[[lang.translate('cdt.session.type')]]</span>
                </li>
            </ul>
        </div>

        <div class="cell twelve-mobile twelve">
            <button ng-click="initData()">
                [[lang.translate('cdt.start.init')]]
            </button>
        </div>

        <div class="twelve cell margin-top-lg">
            <span class="margin-top-lg italic">*[[lang.translate('edt.data.information')]]</span>
        </div>

    </article>
</div>