<div class="sniplet cdt ten cell">
    <toasts notifications="data.notifications"></toasts>

    <!-- content -->
    <article class="row">
        <h3 class="row">
            [[lang.translate('cdt.session.type.title')]]
        </h3>

        <!-- structure is initialized -->
        <div ng-if="isStructureInitialized" class="homework-type margin-top-lg padding-left-sm">
            <!-- form -->
            <div>
                <input type="text"
                       class="input-libelle"
                       placeholder="[[lang.translate('cdt.session.type.placeholder')]]"
                       ng-model="data.input"
                       ng-maxlength="50"
                       maxlength="50"
                       minlength="1"/>

                <!-- button save info -->
                <button class="margin-left-lg right-button" data-ng-click="onClick(sessionTypeInput)">
                    <span ng-if="data.updateMode">[[lang.translate('item.modify')]]</span>
                    <span ng-if="!data.updateMode">[[lang.translate('evaluations.add')]]</span>
                </button>

                <!-- button cancel update mode -->
                <button class="right-button" ng-if="data.updateMode" data-ng-click="cancelUpdateSessionTypeInput()">
                    [[lang.translate('viescolaire.utils.cancel')]]
                </button>
            </div>

            <!-- list of session type  -->
            <ul class="settings-list">
                <li ng-repeat="sessionType in sessionTypes.all track by $index"
                    class="twelve twelve-mobile skills-list-proposition">
                    <span class="three cell twelve-mobile">[[sessionType.label]]</span>
                    <i class="pencil icon-grey" data-ng-click="editSessionTypeInput(sessionType);"></i>
                    <i ng-show="!data.hideTrash" class="trash icon-grey" data-ng-click="deleteSessionType(sessionType);"></i>
                </li>
            </ul>
        </div>

        <!-- empty state -->
        <div class="homework-type" ng-if="!isStructureInitialized">
            <div class="empty-state">
                <span>[[lang.translate('homework.session.type.empty.state')]]</span>
                <img data-ng-src="/diary/public/img/computer-book-orange.svg" class="two" alt="">
            </div>
        </div>
    </article>
</div>