.visa-manager{
  .visa-right-button{
    position: absolute;
    right: 10px;
    top : 0px;
    button{
      padding: 5px 10px;
      margin: 0px;
      i {
        margin-right: 10px;
        font-size: 1.4em;
      }
    }
  }
  .visa{
    i{
      position:relative;
      left : 5px;
      top : -2px;
    }
    .ok {
      color : #16cc16;
      font-weight: bold;
    }
    .dirty{
      color : #ff8500;
      font-weight: bold;
    }
    .owner{
      font-style: italic;
    }
    .dateCreate{
      margin-top:20px;
    }
    .date{
      text-align: right;
      padding-right: 10px;
    }
  }

  .visa-filters{
    &>div{
      padding: 5px 10px;
      .label{
        line-height: 30px;
      }
    }
    button{
      margin-top: 22px;
    }
    ent-dropdown{
      padding-left: 0px;
    }
  }

  .visa-tab{
    button{
      float : none;
          display: inline;
    }
    .external-link{
      font-size: 22px;
      margin-left: 20px;
      color : #FF8500;
    }
    .visa-tab-header{
      font-size: 1.4em;
      background-color: #00a4d3;
      color :white;
      padding : 10px 20px;
      .checkbox{
        span{
          height: 20px;
          background-color: white;
          &:before{
            margin-right: 0px;
          }
        }
      }
    }

    .visa-tab-content{

      margin : 10px 0px;
      .visa-lesson{
        padding : 0px;
        .visa-lesson-header{
          background-color: #00a4d3;
          color :white;
          padding : 10px 20px;
        }
      }
    }
    .visa-lesson-content{
      &>div {
        padding: 10px 15px;
      }
    }
  }
}
